{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Arbeiten mit dem FeatureManager" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../WIRE_Expert_FeatureManager.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <h1>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使用 FeatureManager 设计树
   </font>
  </font>
 </h1>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    您将在下面找到一些使用
   </font>
  </font>
  <font style="font-weight: bold;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     WIRE-Expert
    </font>
   </font>
  </font>
  <a href="WIRE_Expert_FeatureManager.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     FeatureManager 设计树
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    的提示：
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <a href="Doppelklick_auf_ein_Element_des_FeatureManagers.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     双击 FeatureManager 设计树的元素
    </font>
   </font>
  </a>
 </p>
 <p>
  <a href="Klick_mit_rechter_Maustaste_auf_ein_Element_des_FeatureManagers.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     右键单击 FeatureManager 设计树的元素
    </font>
   </font>
  </a>
 </p>


{% endblock %}
{% endlinebreakless %}
