{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Parameter Register (Operationsmanager)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../WIRE_Expert_FeatureManager.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <h1>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    参数寄存器（操作管理器）
   </font>
  </font>
 </h1>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “参数”选项
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    卡仅显示
   </font>
   <font style="vertical-align: inherit;">
    使用
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     WIRE-Expert
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    模块（可选）时在
   </font>
  </font>
  <a href="WIRE_Expert_FeatureManager.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “功能”
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项卡中 
 调用的对话框。
   </font>
  </font>
 </p>
 <p>
  <br/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    下图显示了调用
   </font>
   <a href="../WIRE_ExpertRH_context_Menu/Automatische_Feature_Erkennung.htm">
    <font style="vertical-align: inherit;">
     “自动特征检测”
    </font>
   </a>
   <font style="vertical-align: inherit;">
    对话框 
 后参数寄存器的
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     样子
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
  <a href="../WIRE_ExpertRH_context_Menu/Automatische_Feature_Erkennung.htm">
   <font style="vertical-align: inherit;">
   </font>
  </a>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0;">
 </p>
 <p>
  <img alt="RH_Feature_Recognition_automatic.gif" border="0" src="../Feature_Recognition_automatic.gif"/>
 </p>


{% endblock %}
{% endlinebreakless %}
