
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Parameter Register (Operationsmanager)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../WIRE_Expert_FeatureManager.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <h1>{% trans "Parameter Register (Operationsmanager)" %}</h1><p> </p>
<p>{% trans "Das Register [Parameter] zeigt ausschließlich Dialoge an, die im Zuge der Arbeit mit dem Modul [WIRE-Expert] (optional) im #Features# Register aufgerufen wurden." %}</p>
<p>{% trans "Das folgende Bild zeigt, wie das [Parameter] Register aussieht, nach dem Aufruf des Dialoges zur #Automatischen Featureerkennung#." %}</p>
<p style="margin-top: 0; margin-bottom: 0;"> </p>
<p><img src="../Feature_Recognition_automatic.gif" alt="RH_Feature_Recognition_automatic.gif" border="0"/></p>

{% endblock %}
{% endlinebreakless %}
