
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Alle Solids ausblenden ausser diesem" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Operationsmanager.css"/>
    <style title="hcp" type="text/css">
    <!--
    span.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">隐藏/显示实体</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">此功能允许您</font>
      <font style="vertical-align: inherit;">一键隐藏</font><span class="hcp1">
        <font style="vertical-align: inherit;">除当前选定实体之外的</font>
      </span>
    </font><span class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">所有</font>
      </font>
    </span>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
        实体。</font>
    </font><span class="hcp1">
      <font style="vertical-align: inherit;"></font>
    </span>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p>&nbsp;</p>
  <p><img alt="" border="0" src="../Hide_all_Solid_except_this_one.jpg" style="border: none;" /></p>
  <p>&nbsp;</p>
{% endblock %}
{% endlinebreakless %}
