
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Bearbeitungsoperation kopieren" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Operationsmanager.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    li.hcp2 { font-size:9pt; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">仿形加工操作</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;"></font><a href="Bearbeitungs_Register_Operationsmanager.htm">
      <font class="hcp1">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">在Operations Manager</font>
        </font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">中单击要复制的操作</font>
      <font style="vertical-align: inherit;">。</font>
      <font style="vertical-align: inherit;">使用标准 Windows 选择技术来选择操作。</font>
    </font>
  </p>
  <ul>
    <li class="hcp2">
      <p class="Topic_Text_Bulleted">
        <font style="vertical-align: inherit;"></font>
        <font class="hcp1">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">右键</font>
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">单击</font>
          <font style="vertical-align: inherit;">选定的操作之一，然后从上下文菜单中选择</font>
        </font>
        <font class="hcp1">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">“复制”</font>
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">。</font>
        </font>
      </p>
    </li>
    <li class="hcp2">
      <p class="Topic_Text_Bulleted">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">现在，在操作列表中，右键</font>
        </font>
        <font class="hcp1">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">单击</font>
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            要</font>
        </font>
        <font class="hcp1">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">在其后</font>
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">粘贴复制的操作的
            操作。</font>
        </font>
      </p>
    </li>
    <li class="hcp2">
      <p class="Topic_Text_Bulleted">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">从上下文菜单中选择</font>
        </font>
        <font class="hcp1">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">“粘贴”</font>
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">。</font>
        </font>
      </p>
    </li>
  </ul>
{% endblock %}
{% endlinebreakless %}
