
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Vorhandene Bearbeitungsoperationen deaktivieren&sol;aktivieren" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Operationsmanager.css"/>
    <style title="hcp" type="text/css">
    <!--
    li.hcp1 { font-size:9pt; }
    font.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="Tip_Note_Heading">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">禁用/启用现有编辑操作</font>
    </font>
  </p>
  <ul>
    <li class="hcp1">
      <p class="Topic_Text_Bulleted">
        <font style="vertical-align: inherit;"></font>
        <font class="hcp2">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">右键</font>
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">单击要在</font>
        </font><a href="Bearbeitungs_Register_Operationsmanager.htm">
          <font class="hcp2">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">操作管理器</font>
            </font>
          </font>
        </a>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">中禁用/启用的操作</font>
          <font style="vertical-align: inherit;">。</font>
        </font>
      </p>
    </li>
    <li class="hcp1">
      <p class="Topic_Text_Bulleted">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">从上下文菜单中选择</font>
        </font>
        <font class="hcp2">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">“禁用”</font>
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            或</font>
        </font>
        <font class="hcp2">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">“启用”</font>
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">。</font>
        </font>
      </p>
    </li>
    <li class="hcp1">
      <p class="Topic_Text_Bulleted">
        <font class="hcp2">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">取消激活的</font>
          </font>
        </font>
        <font style="vertical-align: inherit;"></font><img alt="隐藏_操作" border="0" height="auto" src="../Hide_Operation.jpg" width="auto" />
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">操作由操作前面的</font>
          <font style="vertical-align: inherit;">
            符号指示，并且不会被模拟或输出到 NC 数据。</font>
        </font>
      </p>
    </li>
    <li class="hcp1">
      <p class="Topic_Text_Bulleted">
        <font class="hcp2">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">如果激活</font>
          </font>
        </font>
        <font style="vertical-align: inherit;"></font>
        <font class="hcp2">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">已取消激活的</font>
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            操作</font>
          <font style="vertical-align: inherit;">，则该操作之前的符号</font>
        </font><img alt="隐藏_操作" border="0" height="auto" src="../Hide_Operation.jpg" width="auto" />
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">将被删除，并且该操作将被模拟并在 NC 数据中输出。</font>
        </font>
      </p>
    </li>
  </ul>
{% endblock %}
{% endlinebreakless %}
