
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Blickrichtung" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Operationsmanager.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">视角方向</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">该对话框区域用于指定创建轮廓几何图形的观察方向。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">包含值</font>
      <font class="hcp1">
        <font style="vertical-align: inherit;">1</font>
      </font>
      <font style="vertical-align: inherit;">的</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">X</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">、</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Y</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
        或</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Z</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">字段确定观察方向。</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;"></font>
    </font>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p class="Tip_Note_Heading">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">X方向</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">轮廓投影到 YZ 平面中的 X0 上。</font>
    </font>
  </p>
  <p class="Tip_Note_Heading">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Y方向</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">轮廓投影到 XZ 平面中的 Y0 上。</font>
    </font>
  </p>
  <p class="Tip_Note_Heading">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Z方向</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">轮廓投影到 XY 平面中的 Z0 上。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">下图显示了</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">在未</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
        输入</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">投影位置的情况</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">下创建的三个轮廓几何图形（XY、ZY、ZX）
        。</font>
      <font style="vertical-align: inherit;">因此轮廓位于平面</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">X0</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">、</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Y0</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">和</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Z0</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">上。</font>
    </font>
  </p>
  <p class="hcp2">&nbsp;</p>
  <p><img alt="OUTLINE_PROJECTION.gif" border="0" height="303" src="../OUTLINE_PROJEKTION.jpg" width="auto" /></p>
  <p class="hcp2">&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;"></font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">有关</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">输入</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">投影值</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">的同一示例</font>
      <font style="vertical-align: inherit;">，请参阅</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">投影</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">。</font>
    </font>
  </p>
{% endblock %}
{% endlinebreakless %}
