
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Eigenschaften" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Operationsmanager.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">特征</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">可以通过将鼠标放在实体几何上然后单击</font>
      <font style="vertical-align: inherit;">
        鼠标</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">右键来确定实体几何的属性。</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">您还可以通过单击实体几何的条目，然后单击</font>
      <font style="vertical-align: inherit;">鼠标</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">右键，在操作管理器中显示属性。</font>
      </font>
    </font>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">显示的信息会根据您单击的实体元素而变化。</font>
    </font><span style="font-weight: bold;">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">以下示例显示了Solid </font>
      </font>
    </span>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Body</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">的属性</font>
      <font style="vertical-align: inherit;">。</font>
    </font>
  </p>
  <p class="hcp2">&nbsp;</p>
  <p style="margin-right: 5.70pt;"><img alt="获取表信息" border="0" height="198" src="../Get_Sheet_Info.jpg" width="auto" /></p>
  <p class="hcp2">&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;"></font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">请注意，您可以使用“元素信息”</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">命令获取相同的信息
      </font>
    </font><img alt="获取" border="0" height="28" src="../get.jpg" width="auto" />
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
        。</font>
    </font>
  </p>
{% endblock %}
{% endlinebreakless %}
