
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Geometrie Register (Operationsmanager) XXXNEU BILDER" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Operationsmanager.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
    p.hcp3 { margin-right:5.70pt; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <h1>{% trans "Geometrie Register (Operationsmanager)" %}</h1><p> </p><p>{% trans "Das Register [Geometrie] wird verwendet, um alle Solidgeometrieelemente aufzulisten ([Solids], [Sheet-Bodies], [Draht-Bodies] und [Baugruppen]) die erzeugt, importiert oder abgeleitet wurden." %}</p>
<p>{% trans "Sie können die gezeigt Liste verwenden, um eine Solidgeometrie zu identifizieren. Klickt man auf ein Symbol für eine Solidgeometrie, dann zeigt das System die gewählte Geometrie hervorgehoben im Grafikfenster an." %}</p>
<p class="hcp2"> </p>
<p>{% trans "@" %}</p>
<p class="hcp2"> </p>
<p class="hcp3">{% trans "Ein Klick mit der [rechten] Maustaste auf einen Eintrag im Operationsmanager, führt zum Aufruf eines Kontextmenüs." %}</p>
<p class="hcp3">{% trans "Die Optionen [Löschen], [Umbenennen] und [Eigenschaften] dienen zum Löschen, Umbenennen oder Anzeigen der Eigenschaften (Schwerpunkt, Fläche, Masse ....) der gewählten Solidgeometrie." %}</p>
<p>{% trans "Da es aber oftmals nötig ist, z.B. die Kanten einer Solidgeometrie abzuleiten, verfügt das System im Kontextmenü über eine Konvertierroutine (Option [Konvertieren]), mit der man die benötigten Geometrieelemente ableiten kann." %}</p>
<p>{% trans "Siehe Befehl [Geometrien konvertieren] im Menü [Ändern]." %}</p>
<p>{% trans "Nähere Informationen über eine Solid-Geometrie kann ebenfalls ermitteln, indem man die Maus über eine Solid-Geometrie positioniert und dann die [rechte] Maustaste klickt." %}</p>
<p class="hcp2"> </p>
<p class="pitalic">{% trans "[Klicken Sie auf die einzelnen Bereiche des folgenden Bildes, um Hilfetexte aufzurufen.]" %}</p>
<p class="hcp2"> </p>
<p class="hcp3"><img src="../geomedit_shg.gif" usemap="#AreaMap0" alt="geomedit_shg.gif" width="393" height="258" border="0"/>
<map name="AreaMap0" id="AreaMap0">
<area shape="rect" coords="105, 43, 398, 68" href="javascript:BSSCPopup('Eigenschaften_Geometrie_Register_Kontextmenue.htm',400,400);" id="area1" alt=""/>
<area shape="rect" coords="104, 68, 393, 89" href="javascript:BSSCPopup('Umbenennen_Geometrie_Register_Kontextmenue.htm',400,300);" id="area2" alt=""/>
<area shape="rect" coords="106, 112, 396, 139" href="javascript:BSSCPopup('Solid_ausblenden_einblenden_Geometrie_Register_Kontextmenue.htm',400,500);" id="area3" alt=""/>
<area shape="rect" coords="102, 162, 391, 185" href="javascript:BSSCPopup('Konvertieren_Geometrie_Register_Kontextmenue.htm',400,500);" id="area4" alt=""/>
<area shape="rect" coords="106, 87, 395, 112" href="javascript:BSSCPopup('Loeschen_Geometrie_Register_Kontextmenue.htm',400,300);" id="area5" alt=""/>
<area shape="rect" coords="102, 205, 387, 228" href="Common_049.chm::/CommonHelp5/Rendering_fuer_Solids_einstellen.htm" alt=""/>
<area shape="rect" coords="103, 185, 392, 206" href="Common_049.chm::/CommonHelp3/Umriss_projizieren_CAD_Menue.htm" alt=""/>
<area shape="rect" coords="106, 230, 396, 257" href="javascript:BSSCPopup('Solid_ausblenden_einblenden_Geometrie_Register_Kontextmenue.htm',400,300);" id="area6" alt=""/>
<area shape="rect" coords="103, 139, 390, 162" href="javascript:BSSCPopup('Alle_Solids_ausblenden_ausser_diesem.htm',400,600);" id="area7" alt=""/>
</map>  </p>
<p class="hcp2"> </p>
<p>{% trans "[Siehe auch:] #[Auswahl von Solid-Geometrieelementen]#" %}</p>
<script type="text/javascript" language="JavaScript1.2">//&lt;![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
	FilePopupInit('a1');
//]]&gt;</script>

{% endblock %}
{% endlinebreakless %}
