
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Kopieren" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Operationsmanager.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">复制</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">复制选项允许从操作列表</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">中</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">复制一个或多个操作。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">然后，您可以使用</font>
    </font><a class="BSSCPopup" href="javascript:void(0);" id="a1" onclick="BSSCPopup('Einfuegen_Operationsliste.htm');return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
      <font class="hcp1">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">“粘贴”</font>
        </font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">选项将复制的操作粘贴到操作管理器中的其他位置。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">使用标准的 MS Windows 选择技术来选择操作。</font>
    </font>
  </p>
  <p style="margin-top: 0; margin-bottom: 0;">&nbsp;</p>
  <p class="Tip_Note_Heading" style="margin-top: 4.00pt;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">它是这样完成的：</font>
    </font>
  </p>
  <p class="Tip_Note_Heading"><a href="Beispiel_Bearbeitungsoperation_kopieren.htm">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">仿形加工操作</font>
      </font>
    </a></p>
  <script language="JavaScript1.2" type="text/javascript">//<![CDATA[
    if (typeof (FilePopupInit) != 'function') FilePopupInit = new Function();
    FilePopupInit('a1');
    //]]></script>
{% endblock %}
{% endlinebreakless %}
