
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Neuer Operationsstart" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Operationsmanager.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    h2.hcp2 { margin-top:4.00pt;
    margin-bottom:0.00pt; }
    p.hcp3 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">新建操作开始</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">为新</font>
    </font><a href="../wirhlp10/Operation_starten.htm">
      <font class="hcp1">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">操作开始</font>
        </font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">创建一个条目。</font>
      <font style="vertical-align: inherit;">在操作列表的开头、结尾或选定的操作开始后。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">存在以下选项：</font>
    </font>
  </p>
  <h2 class="hcp2">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">新的操作在程序开始处开始</font>
    </font>
  </h2>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">在操作列表</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">顶部</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">插入新操作开始。</font>
    </font>
  </p>
  <p class="hcp3">&nbsp;</p>
  <h2 class="hcp2">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">程序结束时开始新的操作</font>
    </font>
  </h2>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">在操作列表</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">末尾</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">插入新操作开始。</font>
    </font>
  </p>
  <p class="hcp3">&nbsp;</p>
  <p class="Tip_Note_Heading" style="margin-top: 4.00pt;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">该操作开始后新的操作开始</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">在必须单击的</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">现有操作开始之后</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">插入新的操作开始。</font>
    </font>
  </p>
{% endblock %}
{% endlinebreakless %}
