
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Operation hervorheben aktivieren &sol; deaktivieren" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Operationsmanager.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    font.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">启用/禁用突出显示操作</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">如果单击操作管理器中的加工操作，则关联的加工图形会突出显示。</font>
    </font>
  </p>
  <p class="hcp1">&nbsp;</p>
  <p><img alt="操作_highlight.gif" border="0" height="266" src="../Operation_hervorheben.jpg" width="auto" /></p>
  <p class="hcp1">&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">启用</font>
    </font>
    <font class="hcp2">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">突出显示操作</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">和</font>
    </font>
    <font class="hcp2">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">禁用突出显示操作</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">选项可打开或关闭此显示选项。</font>
    </font>
  </p>
{% endblock %}
{% endlinebreakless %}
