
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Erzeugte Dateien Listbox" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Extra.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">生成的文件列表框</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">有些机器（例如 ACVision）会</font>
      <font style="vertical-align: inherit;">创建
      </font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">多个NC</font>
      </font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">文件。</font>
      </font>
    </font>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">如果是这种情况，</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">编辑/复制 NC 数据</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">对话框将展开以包含一个列表框。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">这允许您选择
        在选择</font>
    </font><img alt="Edi_Show_NC_Data_Wire.jpg" border="0" height="auto" src="../Edi_Show_NC_Data_Wire.jpg" width="auto" />
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">“显示文件”</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">按钮时显示哪个文件。</font>
    </font>
  </p>
  <p style="margin-top: 0; margin-bottom: 0;">&nbsp;</p>
  <p><img alt="Edit_NC-Data_Listbox.jpg" border="0" height="auto" src="../Edit_NC-Data_Listbox.jpg" width="auto" /></p>
{% endblock %}
{% endlinebreakless %}
