
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Modul Einstellungen Dialog - Drahterodieren XXX TO DO" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    img.hcp1 { border:none; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
	 border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">&nbsp;<img alt="" border="0" class="hcp1" src="../NC_Code_Datenbank_Ico.gif" />
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
        模块设置对话框 - 线切割</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">XXX 描述正在进行中。</font>
      <font style="vertical-align: inherit;">...</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p><img alt="" border="0" class="hcp1" src="../Modul_Einstellungen_Wire.jpg" /></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
{% endblock %}
{% endlinebreakless %}
