
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "NC-Code Simulation - Parameter 2 XXX" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    span.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">&nbsp;NC 代码模拟 - 参数 2</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p><img alt="" border="0" src="../NC_Code_Simulation_Parameter_2.gif" style="border: none;" /></p>
  <p>&nbsp;</p>
  <p class="Tip_Note_Heading">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">数控文件</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">显示当前加载的 NC 文件的名称和文件路径。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p class="Tip_Note_Heading">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">NC 块列表</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">在 NC 块列表中，您可以单击各个块或使用“</font>
    </font><span class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">向下箭头</font>
      </font>
    </span>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">”和“</font>
    </font><span class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">向上箭头</font>
      </font>
    </span>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">”键浏览列表。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p class="Tip_Note_Heading">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">数控线</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">显示当前选定的 NC 块的坐标。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p class="Tip_Note_Heading">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">绝对地</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">如果当前选择的 NC 程序段是增量运动（例如 G91 有效），则该字段显示转换后的绝对 (G90) 坐标，</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p class="Tip_Note_Heading">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">凸轮 Y,Y,Z</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">XXX</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

{% endblock %}
{% endlinebreakless %}
