
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "NC-Code Datenbank" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    img.hcp1 { border:none; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
	 border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">&nbsp;<img alt="" border="0" class="hcp1" src="../NC_Code_Datenbank_Ico.gif" />
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
        NC 代码数据库</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">该对话框显示可用的 NC 代码（G 代码、M 代码和辅助功能）及其对于当前所选线切割机床的含义。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">这是了解 NC 代码含义的简单方法。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">NC 代码列表可以根据需要进行调整和补充。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>
    <font color="#FF0000" style="font-style: italic;">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">单击下图的各个区域可访问帮助文本。</font>
      </font>
    </font>
  </p>
  <p><img alt="" border="0" class="hcp1" src="../NC_Code_Datenbank_Dialog.jpg" usemap="#MAP603645747" />
    <map id="MAP603645747" name="MAP603645747">
      <area alt="" coords="16, 470, 87, 495" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area1" shape="rect" />
      <area alt="" coords="197, 473, 271, 493" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area2" shape="rect" />
      <area alt="" coords="108, 472, 182, 492" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area3" shape="rect" />
      <area alt="" coords="3, 31, 279, 463" href="NC-Code_Datenbank_-_Parameter.htm" shape="rect" />
    </map>
  </p>
  <p>&nbsp;</p>
  <script language="JavaScript1.2" type="text/javascript">//<![CDATA[
    if (typeof (FilePopupInit) != 'function') FilePopupInit = new Function();
    FilePopupInit('area1');
    FilePopupInit('area2');
    FilePopupInit('area3');
    //]]></script>
{% endblock %}
{% endlinebreakless %}
