
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "NC-Code Datenbank - Parameter" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    img.hcp1 { border:none; }
    span.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">NC 代码数据库 - 参数</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p class="Tip_Note_Heading">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">存储名称</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">该列表显示所有当前存在的 NC 代码。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">列表下方的 4 个按钮用于在 NC 代码列表中导航。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p class="Tip_Note_Heading">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">要加载/保存/删除的名称</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">显示当前在列表中选择的 NC 代码。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p class="Tip_Note_Heading">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">评论</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">显示当前选择的 NC 代码的含义。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p class="Tip_Note_Heading">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">功能按钮</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">按钮的</font>
    </font><img alt="" border="0" class="hcp1" src="../NC_Code_Datenbank_Iconenliste" />
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">含义如下：</font>
    </font>
  </p>
  <p>&nbsp;<img alt="" border="0" class="hcp1" src="../NC_Code_Datenbank_Iconenliste_1" />
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">：</font>
      <font style="vertical-align: inherit;">
        在NC代码数据库中</font>
    </font><span class="hcp2">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">搜索。</font>
      </font>
    </span>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p>&nbsp;<img alt="" border="0" class="hcp1" src="../NC_Code_Datenbank_Iconenliste_2" />
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">：将</font>
    </font><span class="hcp2">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">新的 NC 代码</font>
      </font>
    </span>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">添加到列表中</font>
    </font>
  </p>
  <p>&nbsp;<img alt="" border="0" class="hcp1" src="../NC_Code_Datenbank_Iconenliste_3" />
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">：将选定的</font>
    </font><span class="hcp2">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">NC 代码&nbsp;</font>
      </font>
    </span>
    <font style="vertical-align: inherit;"></font><span class="hcp2">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">复制</font>
      </font>
    </span>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">到 MS Windows剪贴板</font>
      <font style="vertical-align: inherit;">。</font>
    </font>
  </p>
  <p>&nbsp;<img alt="" border="0" class="hcp1" src="../NC_Code_Datenbank_Iconenliste_4" />
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">：</font>
    </font><span class="hcp2">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">更改选定的 NC 代码。</font>
      </font>
    </span>
  </p>
  <p>&nbsp;<img alt="" border="0" class="hcp1" src="../NC_Code_Datenbank_Iconenliste_5" />
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">：</font>
    </font><span class="hcp2">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">删除选定的NC 代码。</font>
      </font>
    </span>
  </p>
  <p>&nbsp;<img alt="" border="0" class="hcp1" src="../NC_Code_Datenbank_Iconenliste_6" />
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">：打开</font>
      <font style="vertical-align: inherit;">
        带有各种设置参数的</font>
    </font><span class="hcp2">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">设置对话框：</font>
      </font>
    </span>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p>&nbsp;</p>
  <p><img alt="" border="0" class="hcp1" src="../NC_Code_Datenbank_Settings_Dialog.jpg" /></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
{% endblock %}
{% endlinebreakless %}
