
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Sonderfunktionen (Extras Menü)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Extra.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
  <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
      border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">特殊功能（附加菜单）</font>
    </font>
  </p>
  <p class="Hinweis">&nbsp;</p>
  <p class="Hinweis">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">一个通知：</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">在这些菜单中，您将找到</font>
      <font style="vertical-align: inherit;">不属于系统标准交付范围的</font>
    </font>
    <font style="font-weight: bold;">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">可选特殊功能。</font>
      </font>
    </font>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">该帮助系统不包含特殊功能的描述。</font>
      <font style="vertical-align: inherit;">如果客户购买特殊功能，则会包含单独的说明。</font>
    </font>
  </p>
{% endblock %}
{% endlinebreakless %}
