
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Startloch PP" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Extra.css"/>
    <style title="hcp" type="text/css">
    <!--
    img.hcp1 { border:none; }
    span.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">&nbsp;<img alt="" border="0" class="hcp1" src="../Startloch_PP_Ico" />
  <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
      起始孔 PP（后处理器）</font>
  </font>
</p>
<p>&nbsp;</p>
<p>
  <font style="vertical-align: inherit;"></font><span class="hcp2">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">打开用于选择启动孔后处理器的</font>
    </font>
  </span>
  <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">对话框</font>
    <font style="vertical-align: inherit;">。</font>
  </font>
</p>
<p><span class="hcp2">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">起始孔后处理器</font>
    </font>
  </span>
  <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">允许将起始孔钻孔的 XY 坐标输出为 CNC 控制的起始孔钻床的可读 NC 数据。</font>
  </font>
</p>
<p>&nbsp;</p>
<p><img alt="" border="0" class="hcp1" src="../Startloch_PP_Dialog.jpg" /></p>
<p class="Hinweis">&nbsp;</p>
<p class="Hinweis">
  <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">提示：</font>
  </font>
</p>
<p>
  <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">1.) 该功能是可选的。</font>
  </font>
</p>
<p>
  <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">2.) 可根据要求提供额外的后处理器。</font>
  </font>
</p>
<p>&nbsp;</p>
{% endblock %}
{% endlinebreakless %}
