
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "3 NC-Dateien für Schrupp-, Anbindungs- und Schlichtschnitt" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "3 NC-Dateien für Schrupp-, Anbindungs- und Schlichtschnitt" %}</p><p>{% trans "Erzeugt [3 separate NC-Ausgabedateien] für die Schruppschnitte, das Entfernen der Anbindungen und für die Schlichtschnitte." %}</p>
<p> </p>
<p class="Hinweis">{% trans "Hinweis:" %}</p>
<p>{% trans "Diese Funktion ist nicht für alle Erodiermaschinen verfügbar." %}</p>

{% endblock %}
{% endlinebreakless %}
