{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "4 Achs Ausräumen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    img.hcp1 { border:none; }
    span.hcp2 { font-weight:bold; }
    p.hcp3 { font-family:Arial, sans-serif; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
	 border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">
  <img alt="" border="0" class="hcp1" src="../4%20Achsen%20ausraeumen_ico"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    4轴清零
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     直纹面的4 轴清理
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    可
   </font>
   <font style="vertical-align: inherit;">
    实现直纹面加工，而不会丢失零件。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这显着减少了编程工作，并且可以在无人监督的情况下进行处理。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <img alt="" border="0" class="hcp1" src="../4%20Achsen%20ausraeumen%20Exa1"/>
 </p>
 <p>
 </p>
 <p style="color: #ff0000; font-style: italic;">
  <span style="color: #ff0000; 
													 font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </span>
 </p>
 <p>
 </p>
 <p>
  <img alt="" border="0" class="hcp1" src="../4%20Achsen%20ausraeumen%20Dialog.jpg" usemap="#MAP569972842"/>
  <map id="MAP569972842" name="MAP569972842">
   <area alt="" coords="2, 34, 416, 553" href="4_Achs_Ausraeumen_Parameter.htm" shape="rect"/>
   <area alt="" coords="95, 571, 207, 600" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="229, 572, 346, 597" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area2" shape="rect"/>
  </map>
 </p>
 <p>
 </p>
 <p class="hcp3">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选择
   </font>
  </font>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “确定”
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    关闭对话框后，将为上层和下层创建两个图形，并自动输入到对话框中。
   </font>
  </font>
 </p>
 <p class="hcp3">
 </p>
 <p class="Hinweis">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    一个通知：
   </font>
  </font>
 </p>
 <p class="hcp3">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该加工无需调用半径修正（例如 G41/G42）即可进行，因为加工
   </font>
  </font>
  <span style="mso-spacerun: yes;">
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    是通过中心路径清除的。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p class="Hinweis">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    一个通知：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    此功能是可选的。
   </font>
  </font>
 </p>
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    它是这样完成的：
   </font>
  </font>
 </p>
 <p style="font-weight: bold;">
  <a href="Beispiel_4_Achs_Ausraeumen.htm" style="font-weight: bold;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     程序4轴清零
    </font>
   </font>
  </a>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
