
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "4 Achs Ausräumen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    img.hcp1 { border:none; }
    span.hcp2 { font-weight:bold; }
    p.hcp3 { font-family:Arial, sans-serif; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000;  border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">{% trans "&lt;img src='../4%20Achsen%20ausraeumen_ico.gif' alt='' border='0' class='hcp1'/&gt; 4 Achs Ausräumen" %}</p><p> </p><p>{% trans "Das [4 Achsen Ausräumen] von Regelflächen ermöglicht die Bearbeitung von Regelflächen ohne Ausfallteil." %}</p>
<p>{% trans "Der Programmieraufwand wird dadurch wesentlich reduziert und die Bearbeitung kann unbeaufsichtigt erfolgen." %}</p>
<p> </p>
<p><img src="../4%20Achsen%20ausraeumen%20Exa1.gif" alt="" border="0" class="hcp1"/></p>
<p> </p>
<p style="color: #ff0000; font-style: italic;">{% trans "[Klicken Sie auf die einzelnen Bereiche des folgenden Bildes, um Hilfetexte aufzurufen.]" %}</p>
<p> </p>
<p><img src="../4%20Achsen%20ausraeumen%20Dialog.gif" alt="" usemap="#MAP569972842" border="0" class="hcp1"/>
<map id="MAP569972842" name="MAP569972842">
<area shape="rect" coords="2, 34, 416, 553" href="4_Achs_Ausraeumen_Parameter.htm" alt=""/>
<area shape="rect" coords="95, 571, 207, 600" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area1" alt=""/>
<area shape="rect" coords="229, 572, 346, 597" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area2" alt=""/>
</map> </p>
<p> </p>
<p class="hcp3">{% trans "Nach dem Schließen des Dialogs durch die Anwahl auf [„OK“], werden für die obere und untere Ebenen zwei Figuren erzeugt und diese automatisch im Dialog eingetragen." %}</p>
<p class="hcp3"> </p>
<p class="Hinweis">{% trans "Hinweis:" %}</p>
<p class="hcp3">{% trans "Diese Bearbeitung erfolgt ohne Aufruf der Radiuskorrektur (z.B. G41/G42), da die Bearbeitung mit Mittelpunktsbahn ausgeräumt[ ]wird." %}</p>
<p> </p>
<p class="Hinweis">{% trans "Hinweis:" %}</p>
<p>{% trans "Diese Funktion ist optional." %}</p>
<p class="dialog">{% trans "So wird es gemacht:" %}</p>
<p style="font-weight: bold;">{% trans "#4 Achs Ausräumen programmieren#" %}</p>
<p> </p>
<p> </p>
<p> </p>
<script type="text/javascript" language="JavaScript1.2">//&lt;![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
//]]&gt;</script>

{% endblock %}
{% endlinebreakless %}
