
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Ändern" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Ändern" %}</p><p>{% trans "Mit dieser Funktion können Sie neue Figuren zur Liste der zu schneidenden [Bearbeitungsfiguren hinzufügen] oder [vorhandene Figuren entfernen]." %}</p><p style="margin-top: 0; margin-bottom: 0;"> </p>
<p class="Tip_Note_Heading" style="margin-top: 4.00pt;">{% trans "Siehe auch:" %}</p>
<p class="hcp2">{% trans "#Neue Figuren zur Liste der zu schneidenden Bearbeitungsfiguren hinzufügen#" %}</p>
<p class="hcp2">{% trans "#Vorhandene Figuren aus der Liste der zu schneidenden Bearbeitungsfiguren entfernen#" %}</p>
<script type="text/javascript" language="JavaScript1.2">
//&lt;![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('a1');
        FilePopupInit('a2');
//]]&gt;
</script>

{% endblock %}
{% endlinebreakless %}
