
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Alle Bearbeitungen löschen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
    font.hcp3 { font-weight:bold;
    font-style:italic; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000;  border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">{% trans "@ Alle Bearbeitungen löschen" %}</p><p>{% trans "Dieser Befehl [löscht ALLE NC-Bearbeitungsoperationen] und deren Einträge in der *.VDM Datei." %}</p>
<p>{% trans "Beachten Sie, dass die Wirkung dieses Befehls nicht aufgehoben werden kann und deshalb eine Warnung ausgegeben wird." %}</p>
<p class="hcp2"> </p>
<p><img src="../Delete_all_vdms.gif" alt="Delete_all_vdms.gif" width="346" height="152" border="0"/></p>
<p class="hcp2"> </p>
<p>{% trans "Wenn Sie [einzelne] NC-[Bearbeitungsoperationen] [löschen] wollen, verwenden Sie bitte den #[Operationsmanager]#." %}</p>
<p>{% trans "Jede NC-Bearbeitungsoperation wird intern als Figur mit dem Namen [@@GENSEC-][Bearbeitungsfigurname], in der *.VDM-Datei gespeichert und als Drahtmodell dargestellt." %}</p>
<p>{% trans "Das Drahtmodell hat keinen Einfluss auf die NC-Ausgabe und wird nicht durch den Befehl [Alle Bearbeitungen löschen] entfernt." %}</p>
<p>{% trans "Aus diesem Grund müssen Sie nach dem Löschen aller NC-Bearbeitungsoperationen, die Drahtmodellsimulation der Bearbeitungen mit dem Befehl #[Grafik NC-Bearbeitung löschen]# entfernen." %}</p>
<p class="hcp2"> </p>
<p class="Hinweis">{% trans "Hinweis:" %}</p>
<p>{% trans "Beachten Sie, dass das Löschen einer Bearbeitungsfigur ([@@GENSEC-][Bearbeitungsfigurname)] allein nicht genügt, um die NC-Ausgabe deren Figurdaten zu verhindern." %}</p>
<p>{% trans "Sie müssen den Eintrag der Figur in der *.VDM Datei löschen. Verwenden Sie dazu den #[Operationsmanager]# oder den Befehl [Alle Bearbeitungen löschen]." %}</p>

{% endblock %}
{% endlinebreakless %}
