
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Auf Punkt (XY)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Auf Punkt (XY)" %}</p><p>{% trans "In dieses Feld wird die XY-Position notiert, auf die der Draht [im Eilgang] verfahren soll. Die XY-Position wird direkt in das Feld eingegeben." %}</p>
<p>{% trans "Es werden die absoluten X- und Y-Koordinaten der Zielposition angegeben." %}</p>
<p>{% trans "Alternativ kann die XY-Zielposition mit der Schaltfläche [XY &amp;gt;&amp;gt;] aus einer vorhandenen CAD-Zeichnung ermittelt werden." %}</p>
<p>{% trans "Verwenden Sie in diesem Fall die [Fangfunktionen] [Endpunkt - Koordinaten]." %}</p>

{% endblock %}
{% endlinebreakless %}
