{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Automatisches Entfernen der Anbindungen NACH 1.ten Schnitten" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
    p.hcp3 { margin-left:198.45pt;
    text-indent:-198.45pt; }
    p.hcp4 { margin-left:255.15pt;
    text-indent:-198.45pt; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    第一次切割后自动移除连接
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    此选项与选择“首先选择
   </font>
   <font class="hcp1">
    <a class="BSSCPopup" href="javascript:void(0);" id="a1" onclick="BSSCPopup('Zuerst_ALLE_Schruppschnitte.htm',400,300);return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
     <font style="vertical-align: inherit;">
      所有粗加工切割”
     </font>
    </a>
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     的“停止绑定删除先切割”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    方法类似
   </font>
   <font class="hcp1">
    <span style="font-weight: normal;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </span>
   </font>
  </font>
  <font class="hcp1">
   <a class="BSSCPopup" href="javascript:void(0);" id="a1" onclick="BSSCPopup('Zuerst_ALLE_Schruppschnitte.htm',400,300);return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
    <font style="vertical-align: inherit;">
    </font>
   </a>
   <span style="font-weight: normal;">
    <font style="vertical-align: inherit;">
    </font>
   </span>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    例外的是，在
   </font>
   <font style="vertical-align: inherit;">
    完成所有第一次切割
   </font>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     后，
    </font>
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     所有
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    连接都会被删除 - 请参阅下面的比较：
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p class="hcp3">
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     停止 - 删除与第一次切割的连接
    </font>
   </font>
  </font>
 </p>
 <p class="hcp4">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    先切图1
   </font>
  </font>
 </p>
 <p class="hcp4">
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     停止
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，然后删除连接
   </font>
  </font>
 </p>
 <p class="hcp4">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    先切图2
   </font>
  </font>
 </p>
 <p class="hcp4">
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     停止
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，然后删除连接
   </font>
  </font>
 </p>
 <p class="hcp4">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    先切图3
   </font>
  </font>
 </p>
 <p class="hcp4">
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     停止
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，然后删除连接
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p class="hcp3">
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     第一次切割后自动移除连接
    </font>
   </font>
  </font>
 </p>
 <p class="hcp4">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    先切图1
   </font>
  </font>
 </p>
 <p class="hcp4">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    先切图2
   </font>
  </font>
 </p>
 <p class="hcp4">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    先切图3
   </font>
  </font>
 </p>
 <p class="hcp4">
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     停止
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，然后移除连接 图 3
   </font>
  </font>
 </p>
 <p class="hcp4">
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     停止
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，然后移除连接 图2
   </font>
  </font>
 </p>
 <p class="hcp4">
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     停止
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，然后移除连接 图1
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    此选项可在棒材区域提供良好的表面质量，并减少操作员干预时间，因为所有棒材移除操作间隔都很近。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p class="Tip_Note_Heading" style="margin-top: 4.00pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    它是这样完成的：
   </font>
  </font>
 </p>
 <p>
  <img alt="电影" border="0" height="27" src="../MOVIE.jpg" width="auto"/>
  <font class="hcp1">
   <a href="../Strategie_5_Automatisches%20Entfernen%20NACH%201ten%20Schnitt%20mit%20Zuerst%20alle%20Schruppschnitte.gif" id="a2">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      播放有关上述主题的示例影片
     </font>
    </font>
   </a>
  </font>
 </p>
 <p>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('a1');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
