{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Beispiel: Schneidreihenfolge einer Operation, die eine große Anzahl von Figuren bearbeiten, ändern." %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    li.hcp1 { font-size:9pt; }
    font.hcp2 { font-weight:bold; }
    img.hcp3 { border:none; }
    span.hcp4 { font-weight:bold; }
    ul.hcp5 { list-style:disc; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    示例：更改处理大量图形的操作的切割顺序。
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp2">
     <a href="../Operationsmanager/Operation_editieren____.htm">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        使用Operations Manager
       </font>
      </font>
     </a>
     <font style="vertical-align: inherit;">
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      编辑现有编辑操作
     </font>
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       。
      </font>
     </font>
     <font style="vertical-align: inherit;">
      该操作应包含 3 个以上的数字，如下例所示。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p class="Topic_Text_Bulleted">
  <img alt="" border="0" class="hcp3" src="../Optimierung_Dialog_Exa_1.gif"/>
 </p>
 <ul>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击
     </font>
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       “重新排序”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      按钮。
     </font>
     <font style="vertical-align: inherit;">
      系统显示
     </font>
    </font>
    <span class="hcp4">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       “优化”
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      对话框。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="" border="0" class="hcp3" src="../Optimierung_Dialog.gif"/>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    当前切割顺序由小箭头符号指示。
   </font>
   <font style="vertical-align: inherit;">
    下图可以看出，顺序相当混乱。
   </font>
  </font>
 </p>
 <p class="Topic_Text_Bulleted">
  <img alt="" border="0" class="hcp3" src="../Optimierung_Dialog_Exa_2.gif"/>
 </p>
 <p class="Topic_Text_Bulleted">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    现在应该更改切割顺序，使其从左下角开始
   </font>
  </font>
  <span class="hcp4">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     并沿
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
  </font>
  <span class="hcp4">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     X 轴
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    逐行
   </font>
   <font style="vertical-align: inherit;">
    运行。
   </font>
  </font>
 </p>
 <ul class="hcp5">
  <li>
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      接下来，使用 按钮选择
     </font>
    </font>
    <img alt="" border="0" class="hcp3" src="../Select.gif"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      要剪切的第一个图形的起点（左下图）。
     </font>
    </font>
   </p>
  </li>
  <li>
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      然后将
     </font>
     <span class="hcp4">
      <font style="vertical-align: inherit;">
       优先级
      </font>
     </span>
     <font style="vertical-align: inherit;">
      字段中的
     </font>
    </font>
    <span class="hcp4">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       滑块
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      移至
     </font>
     <span class="hcp4">
      <font style="vertical-align: inherit;">
       X
      </font>
     </span>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
    <span class="hcp4">
     <font style="vertical-align: inherit;">
     </font>
    </span>
    <font style="vertical-align: inherit;">
    </font>
    <span class="hcp4">
     <font style="vertical-align: inherit;">
     </font>
    </span>
    <font style="vertical-align: inherit;">
    </font>
   </p>
  </li>
  <li>
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      然后单击
     </font>
    </font>
    <span class="hcp4">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       优化
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      按钮。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p class="Topic_Text_Bulleted">
  <img alt="" border="0" class="hcp3" src="../Optimierung_Dialog_Exa_3.gif"/>
 </p>
 <p class="Topic_Text_Bulleted">
 </p>
 <p class="Topic_Text_Bulleted">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    下图显示了优化后的切割顺序。
   </font>
  </font>
 </p>
 <p class="Topic_Text_Bulleted">
  <img alt="" border="0" class="hcp3" src="../Optimierung_Dialog_Exa_4.jpg"/>
 </p>
 <ul class="hcp5">
  <li>
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      使用“关闭”按钮
     </font>
     <span class="hcp4">
      <font style="vertical-align: inherit;">
       关闭
      </font>
     </span>
    </font>
    <span class="hcp4">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       “优化”
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      对话框
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
    <span class="hcp4">
     <font style="vertical-align: inherit;">
     </font>
    </span>
    <font style="vertical-align: inherit;">
    </font>
   </p>
  </li>
 </ul>
 <p class="Topic_Text_Bulleted">
 </p>


{% endblock %}
{% endlinebreakless %}
