{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Zylindrischen Schnitt programmieren" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    li.hcp1 { font-size:9pt; }
    font.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Tip_Note_Heading">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    程序圆柱切削
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      绘制
     </font>
     <font style="vertical-align: inherit;">
      要编辑的
     </font>
    </font>
    <a href="../wirhlp9/Beispiel_fuer_die_Erzeugung_einer_Bearbeitungsfigur.htm">
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        编辑图形。
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       在“编辑”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      菜单中，完成
     </font>
    </font>
    <a href="Operation_starten.htm">
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “开始操作”
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      对话框
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       从“编辑”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      菜单中，调用
     </font>
    </font>
    <a href="Standard_Konturbearbeitung____.htm">
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “标准轮廓编辑”
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      命令
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      使用按钮 选择要编辑的图形
     </font>
    </font>
    <img alt="选择_1" border="0" height="22" src="../select_1.jpg" width="auto"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="Cylindrical_Section_exa_1" border="0" height="209" src="../Zylindrischer_Schnitt_exa_1.jpg" width="auto"/>
 </p>
 <ul>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       在“切割参数”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      框中，单击
     </font>
    </font>
    <a href="Einstellungen_Einstellen_der_Schnittmethode.htm">
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “设置”
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      按钮
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
     <font style="vertical-align: inherit;">
      这将打开编辑设置对话框。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       激活“剪切编号”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      字段下方的复选框
     </font>
     <font style="vertical-align: inherit;">
      以指定剪切次数。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       在偏移
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      字段中输入精加工余量
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
     <font style="vertical-align: inherit;">
      oversize通常用于
     </font>
    </font>
    <a href="../Simulation/_Standard_Simulation.htm">
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        模拟
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="Cylindrical_Section_exa_2" border="0" height="115" src="../Zylindrischer_Schnitt_exa_2.jpg" width="auto"/>
 </p>
 <ul>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      使用按钮确定
     </font>
    </font>
    <img alt="技术_但是" border="0" height="21" src="../tech_but.jpg" width="auto"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      切割技术。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击
     </font>
    </font>
    <a href="Anbinden_Lasche.htm">
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “连接”
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      选项卡。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      激活
     </font>
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       连接长度
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      选项 
	 ，然后在文本字段中输入用于保护漏端部件的连接宽度。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="Cylindrical_Section_exa_3" border="0" height="151" src="../Zylindrischer_Schnitt_exa_3.jpg" width="auto"/>
 </p>
 <ul>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       例如，在删除绑定
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      区域的方法中，选择
     </font>
     <font style="vertical-align: inherit;">
      方法
     </font>
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       在操作结束时自动删除绑定
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="Cylindrical_Section_exa_4" border="0" height="177" src="../Zylindrischer_Schnitt_exa_4.jpg" width="auto"/>
 </p>
 <ul>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击电源
     </font>
    </font>
    <a href="Ein_Ausfahren_Lasche.htm">
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        输入/输出
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      选项卡。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      设置如何接近或移开加工几何体。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击
     </font>
    </font>
    <a href="Offset_Lasche.htm">
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “偏移”
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      选项卡。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      自动激活
     </font>
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       “方向”选项（仅限闭合图形）
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      并设置应沿哪个方向（顺时针/逆时针）进行编辑。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="Cylindrical_Section_exa_5" border="0" height="226" src="../Zylindrischer_Schnitt_exa_5.jpg" width="auto"/>
 </p>
 <ul>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       单击“确定”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      关闭所有对话框
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      编辑操作保存在
     </font>
    </font>
    <a href="../Operationsmanager/Bearbeitungs_Register_Operationsmanager.htm">
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        操作管理器
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      中。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="Op_Manager_Eintrag_exa_1.jpg" border="0" height="107" src="../Op_Manager_Eintrag_exa_1.jpg" width="auto"/>
 </p>
 <ul>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      运行
     </font>
     <font style="vertical-align: inherit;">
      加工
     </font>
    </font>
    <a href="../Simulation/_Standard_Simulation.htm">
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        模拟。
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
    </font>
   </p>
  </li>
 </ul>


{% endblock %}
{% endlinebreakless %}
