{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Beispiel: Profil auf einer Helix abwickeln" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    font.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在螺旋上展开轮廓
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    待切割轮廓以 2D 方式切割，毛坯绕旋转轴旋转。
   </font>
   <font style="vertical-align: inherit;">
    轮廓在柔和的曲线上呈螺旋状发展。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这意味着旋转轴与切割喷嘴同时沿着旋转轴移动。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    下图显示了在旋转轴同时旋转的情况下对细长孔进行圆柱加工。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="旋转 axis_profile_on_a_helix_unwinding.gif" border="0" height="418" src="../Rotationsachse_Profil_auf_einer_Helix_abwickeln.gif" width="868"/>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     激活螺旋上的展开轮廓选项
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，系统将解锁以下选项：
   </font>
  </font>
 </p>
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    旋转，每毫米度数
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    旋转
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     ，每毫米度数
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    参数定义每毫米切割的旋转轴旋转（以度为单位）。
   </font>
  </font>
 </p>
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    螺旋线起点的 X 位置
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该 X 位置坐标允许切削几何形状沿 X 轴移动。
   </font>
   <font style="vertical-align: inherit;">
    然后螺旋形状从定义的 X 位置开始。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
