{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Beispiel: Gruppierte Operationen auf Figuren wiederholen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
    li.hcp3 { font-size:9pt; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    对图形重复分组操作
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     该功能允许您在任意位置（由图中的加工图形
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    表示）重复分组操作
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="Figures_or_on_points_Figures.gif" border="0" height="450" src="../Figuren_oder_auf_Punkten_Figuren.gif" width="296"/>
 </p>
 <p class="hcp2">
 </p>
 <h2 style="margin-top: 0.00pt; margin-bottom: 2.40pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    团队名字
   </font>
  </font>
 </h2>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果存在多个组，则用于选择组的名称。
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp3">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      启用
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       使用编辑图形
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      选项。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    绘图
   </font>
  </font>
  <span style="font-weight: bold;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     左下角
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    的两个对象是要重复的分组操作（不要选择）。
   </font>
  </font>
 </p>
 <p>
  <img alt="Group_on_Figures.gif" border="0" height="290" src="../Gruppe_auf_Figuren.gif" width="294"/>
 </p>
 <ul>
  <li class="hcp3">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击按钮
     </font>
    </font>
    <img alt="选择_1.gif" border="0" height="22" src="../select_1.gif" width="73"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <ul>
  <li class="hcp3">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      在图形窗口中，选择要重复分组操作的图形。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="Group_on_Figures_1.gif" border="0" height="287" src="../Gruppe_auf_Figuren_1.gif" width="297"/>
 </p>
 <ul>
  <li class="hcp3">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       使用“结束”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      选项 
	 （
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       鼠标右键
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      或
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       水平图标栏）
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      结束选择
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    系统将信息写回到对话框中。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="Group_on_Figures_a.gif" border="0" height="450" src="../Gruppe_auf_Figuren_a.gif" width="296"/>
 </p>
 <p>
 </p>
 <p class="Tip_Note_Heading" style="margin-top: 0.00pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    显示/模拟这些分组操作。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果激活，则在加工模拟期间模拟所有组位置。
   </font>
   <font style="vertical-align: inherit;">
    如果没有，则仅模拟第一组操作。
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp3">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       单击“确定”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      关闭对话框
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该命令被执行并显示在操作管理器中。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="Group_on_Figures_b.gif" border="0" height="203" src="../Gruppe_auf_Figuren_b.gif" width="396"/>
 </p>
 <ul>
  <li class="hcp3">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      模拟程序来检查结果。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="Group_on_Figures_2.gif" border="0" height="273" src="../Gruppe_auf_Figuren_2.gif" width="395"/>
 </p>


{% endblock %}
{% endlinebreakless %}
