{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Beispiel: Erodierbearbeitungen durch Schnittschemen automatisieren XXXCHANGED" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    h2.hcp2 { margin-top:4.00pt;
    margin-bottom:0.00pt; }
    font.hcp3 { font-weight:bold; }
    li.hcp4 { font-size:9pt; }
    span.hcp5 { font-weight:bold; }
    img.hcp6 { border:none; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使用切割方案自动进行腐蚀加工
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    切割方案可以保存加工过程的设置（技术、切割次数、连接长度、移除连接的方法、缩回/延伸设置等）并将其用于以下程序。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    以下示例展示了如何保存切割方案并再次调用它。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <h2 class="hcp2">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    保存切割方案
   </font>
  </font>
 </h2>
 <ul>
  <li>
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       在“编辑”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      菜单中，完成
     </font>
    </font>
    <a href="Operation_starten.htm">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “开始操作”
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      对话框
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       从“加工”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      菜单中，选择
     </font>
    </font>
    <a href="Standard_Konturbearbeitung____.htm">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “标准轮廓编辑”
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      、
     </font>
    </font>
    <a href="Bundbearbeitung_.htm">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “法兰编辑
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      ”或
     </font>
    </font>
    <a href="Regelflaechenbearbeitung____.htm">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “直纹曲面编辑”
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      命令之一
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      设置
     </font>
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       所有加工参数
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      （切削次数、技术、连接长度、连接去除方法、缩回/延伸设置、偏移等）。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击该按钮
     </font>
    </font>
    <img alt="保存" border="0" height="23" src="../save.jpg" width="auto"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      可将设置保存为
     </font>
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       切割方案
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <span class="hcp5">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       将打开“保存切割方案”
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      对话框
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      该对话框预设有当前使用的
     </font>
    </font>
    <span class="hcp5">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       材料
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      、
     </font>
    </font>
    <span class="hcp5">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       材料高度
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      、
     </font>
    </font>
    <span class="hcp5">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       线材
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      等以及
     </font>
     <font style="vertical-align: inherit;">
      切割方案的
     </font>
    </font>
    <span class="hcp5">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       描述性文本。
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
    </font>
   </p>
  </li>
  <li class="hcp4">
   <p>
    <font style="vertical-align: inherit;">
    </font>
    <span class="hcp5">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       请注意，您可以更改KNO 文件名
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      （例如
     </font>
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       St_30.0mm_BRH_0.25_1.kno
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      ） 
	  、
     </font>
    </font>
    <span class="hcp5">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       注释
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      和
     </font>
    </font>
    <span class="hcp5">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       描述字段
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      中的描述性文本
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
    <br/>
   </p>
  </li>
 </ul>
 <p class="Topic_Text_Bulleted" style="color: #ff0000; font-style: italic;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    单击下图的各个区域可访问帮助文本。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <img alt="" border="0" class="hcp6" src="../Schnittschema_speichern_Dialog" usemap="#MAP622021691"/>
  <map id="MAP622021691" name="MAP622021691">
   <area alt="" coords="1, 26, 491, 552" href="Schnittschema_speichern_Dialog_-_Parameter.htm" shape="rect"/>
  </map>
 </p>
 <ul>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击按钮
     </font>
    </font>
    <span class="hcp5">
     <img alt="" border="0" class="hcp6" src="../OK_button"/>
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       保存
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      切割方案。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
 </p>
 <h2 class="hcp2">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    调用保存的切割方案
   </font>
  </font>
 </h2>
 <ul>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       在“编辑”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      菜单中，完成
     </font>
    </font>
    <a href="Operation_starten.htm">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “开始操作”
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      对话框
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       从“加工”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      菜单中，选择
     </font>
    </font>
    <a href="Standard_Konturbearbeitung____.htm">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “标准轮廓编辑”
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      、
     </font>
    </font>
    <a href="Bundbearbeitung_.htm">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “法兰编辑
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      ”或
     </font>
    </font>
    <a href="Regelflaechenbearbeitung____.htm">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “直纹曲面编辑”
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      命令
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      使用按钮 选择要编辑的图形
     </font>
    </font>
    <img alt="选择_1" border="0" height="22" src="../select_1.jpg" width="auto"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击按钮
     </font>
    </font>
    <img alt="加载" border="0" height="23" src="../load.jpg" width="auto"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      加载
     </font>
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       切割方案
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p class="Topic_Text_Bulleted">
  <font style="vertical-align: inherit;">
  </font>
  <span class="hcp5">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     将打开“加载切割方案”
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    对话框
   </font>
   <font style="vertical-align: inherit;">
    ：
   </font>
  </font>
 </p>
 <p class="Topic_Text_Bulleted">
 </p>
 <p class="Topic_Text_Bulleted" style="color: #ff0000; font-style: italic;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    单击下图的各个区域可访问帮助文本。
   </font>
  </font>
 </p>
 <p class="Topic_Text_Bulleted">
 </p>
 <p>
  <img alt="切割 schema_exa_2" border="0" src="../Schnittschema_laden_Dialog.jpg" usemap="#MAP589311147"/>
  <map id="MAP589311147" name="MAP589311147">
   <area alt="" coords="-1, 29, 1026, 501" href="Schnittschema_laden_Dialog_-_Parameter.htm" shape="rect"/>
  </map>
 </p>
 <ul>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      在按钮右侧的列中，输入
     </font>
    </font>
    <span class="hcp5">
     <img alt="" border="0" class="hcp6" src="../Schnittschema_laden_Ico_Suchilter"/>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      要在切割方案数据库中搜索的搜索条件。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="" border="0" class="hcp6" src="../Schnittschema_laden_Filter"/>
 </p>
 <ul>
  <li class="hcp4">
   <p>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      在上面的示例中，搜索条件是
     </font>
    </font>
    <span class="hcp5">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       工件材料
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      （钢）、
     </font>
    </font>
    <span class="hcp5">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       切削次数
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      (3) 和
     </font>
    </font>
    <span class="hcp5">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       材料高度
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      (30)。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp4">
   <p>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      输入搜索条件后，系统立即在
     </font>
    </font>
    <span class="hcp5">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       搜索结果列表
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      中显示符合上述搜索条件的所有切割方案。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="" border="0" class="hcp6" src="../Schnittschema_laden_Ergebnisliste"/>
 </p>
 <ul style="list-style: disc;">
  <li>
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     选择所需的切割方案并用 接受选择
    </font>
   </font>
   <span class="hcp5">
    <img alt="" border="0" class="hcp6" src="../OK_button"/>
   </span>
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     。
    </font>
   </font>
  </li>
 </ul>
 <p class="Topic_Text_Bulleted">
  <span class="hcp5">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     提示：
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使用按钮
   </font>
  </font>
  <span class="hcp5">
   <img alt="" border="0" class="hcp6" src="../Schnittschema_laden_Ico_Suchilter"/>
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     列出
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
  </font>
  <span class="hcp5">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     所有
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    已
   </font>
   <font style="vertical-align: inherit;">
    保存的切割方案。
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击按钮
     </font>
    </font>
    <span class="hcp5">
     <img alt="" border="0" class="hcp6" src="../OK_button"/>
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       加载
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      切割图。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <ul>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      加载切割方案中保存的技术和设置，并使用设置编辑选定的图形几何形状。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       单击“确定”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      关闭所有对话框
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      编辑操作保存在
     </font>
    </font>
    <a href="../Operationsmanager/Bearbeitungs_Register_Operationsmanager.htm">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        操作管理器
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      中。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="Op_Manager_Eintrag_exa_1.jpg" border="0" height="107" src="../Op_Manager_Eintrag_exa_1.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <ul>
  <li class="hcp4">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      运行
     </font>
     <font style="vertical-align: inherit;">
      加工
     </font>
    </font>
    <a href="../Simulation/_Standard_Simulation.htm">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        模拟。
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
    </font>
   </p>
  </li>
 </ul>


{% endblock %}
{% endlinebreakless %}
