
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Beispiel: Eine Gruppierte Operation aufrufen und an beliebigen anderen Positionen wiederholen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    font.hcp2 { font-weight:bold; }
    font.hcp3 { font-style:italic; }
    li.hcp4 { font-size:9pt; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Eine Gruppierte Operation aufrufen und an beliebigen anderen Positionen wiederholen" %}</p><p class="Block_Text">{% trans "Um eine gruppiert Operation aufzurufen, existieren zwei Möglichkeiten:" %}</p><p class="hcp1"> </p>
<p>{% trans "Über das Menü mit der Menüfolge [Bearbeitung \ Gruppierte Operationen aufrufen]." %}</p>
<p>{% trans "Oder über den [Operationsmanger] durch einen Klick mit der rechten Maustaste auf den Operationsstart und Wahl der Option [Gruppierte Operationen aufrufen]." %}</p>
<p class="hcp1"> </p>
<p>{% trans "@" %}</p>
<p class="hcp1"> </p>
<p>{% trans "Das System zeigt nun den Dialog [Gruppenoperation aufrufen]." %}</p>
<ul>
	<li><p class="Topic_Text_Bulleted">{% trans "Legen Sie in diesem Dialog fest, welche Gruppe auf welchen geometrischen Muster, z.B. auf einem Teilkreismuster, wiederholt werden soll." %}</p></li>
</ul>
<p>{% trans "[Klicken Sie auf die einzelnen Bereiche des folgenden Bildes, um Hilfetexte aufzurufen.]" %}</p>
<p class="hcp1"> </p>
<p>{% trans "&lt;img src='../exa_Gruppieren_4_shg.gif' usemap='#AreaMap0' alt='exa_Gruppieren_4_shg.gif' width='266' height='214' border='0'/&gt;&lt;map name='AreaMap0' id='AreaMap0'&gt;########&lt;/map&gt;" %}<map name="AreaMap0" id="AreaMap0">
<area shape="rect" coords="7, 25, 225, 65" href="javascript:BSSCPopup('Gruppenname_Gruppenoperation_aufrufen.htm',400,300);" id="area1" alt=""/>
<area shape="rect" coords="18, 111, 169, 128" href="javascript:BSSCPopup('Lineares_Gitter_Gruppenoperation_aufrufen.htm',400,300);" id="area2" alt=""/>
<area shape="rect" coords="17, 127, 168, 146" href="javascript:BSSCPopup('Kreismuster_Gruppenoperation_aufrufen.htm',400,300);" id="area3" alt=""/>
<area shape="rect" coords="18, 145, 172, 162" href="javascript:BSSCPopup('Figuren_oder_auf_Punkten_Gruppenoperation_aufrufen.htm',400,500);" id="area4" alt=""/>
<area shape="rect" coords="16, 178, 87, 202" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area5" alt=""/>
<area shape="rect" coords="96, 177, 170, 202" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area6" alt=""/>
<area shape="rect" coords="180, 179, 254, 202" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area7" alt=""/>
<area shape="rect" coords="18, 90, 169, 112" href="javascript:BSSCPopup('Gruppe_spaeter_verwenden_Gruppenoperation_aufrufen.htm',400,300);" id="area8" alt=""/>
</map> </p>
<ul>
	<li class="hcp4"><p class="Topic_Text_Bulleted">{% trans "Wählen Sie die Funktion [Teilkreismuster]. Es folgt der Aufruf eines Dialoges in dem Sie das Muster beschreiben." %}</p></li>
	<li class="hcp4"><p class="Topic_Text_Bulleted">{% trans "Füllen Sie den Dialog aus (Beispiel):" %}</p></li>
</ul>
<p><img src="../Kreismuster_Gruppe.gif" alt="Kreismuster_Gruppe.gif" width="370" height="251" border="0"/></p>
<p class="hcp1"> </p>
<p>{% trans "Das folgende Bild zeigt das Ergebnis (Beispiel):" %}</p>
<p class="hcp1"> </p>
<p><img src="../Gruppenbearbeitung_Zirkular.gif" alt="Gruppenbearbeitung_Zirkular.gif" width="470" height="287" border="0"/></p>
<p class="hcp1"> </p>
<p>{% trans "[Verwenden Sie die folgenden Links, um Hilfe zu den einzelnen Optionen aufzurufen:]" %}</p>
<p class="hcp1"> </p>
<p>{% trans "#[Lineares Muster]#" %}</p>
<p>{% trans "#[Kreismuster]#" %}</p>
<p>{% trans "#[Figuren oder auf Punkten]#" %}</p>
<script type="text/javascript" language="JavaScript1.2">//&lt;![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
	FilePopupInit('area8');
//]]&gt;</script>

{% endblock %}
{% endlinebreakless %}
