{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Beispiel: Taschenerodieren programmieren XXXCHANGED" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    li.hcp1 { font-size:9pt; }
    font.hcp2 { font-weight:bold; }
    p.hcp3 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    示例：程序口袋侵蚀
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      画出要清除的加工图形。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       在“编辑”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      菜单中，完成
     </font>
    </font>
    <a href="Operation_starten.htm">
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “开始操作”
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      对话框
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       从“编辑”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      菜单中，调用
     </font>
    </font>
    <a href="Standard_Konturbearbeitung____.htm">
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “标准轮廓编辑”
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      命令
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      使用按钮 选择要编辑的图形
     </font>
    </font>
    <img alt="选择_1.gif" border="0" height="22" src="../select_1.gif" width="73"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击
     </font>
    </font>
    <a href="Taschenerodieren_1.htm">
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        袖珍 EDM
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      选项卡。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      选中
     </font>
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       “使用圆形起始孔”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      复选框，然后在“直径”字段中输入起始孔直径。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      选中
     </font>
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       “首先清理”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      和
     </font>
    </font>
    <span style="font-weight: bold;">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       “标准方法”
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      复选框。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      确定
     </font>
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       中心路径之间的距离
      </font>
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="口袋 eroding_exa_1.gif" border="0" height="497" src="../Taschenerodieren_exa_1.gif" width="611"/>
 </p>
 <ul>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       在“切割参数”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      框中，单击
     </font>
    </font>
    <a href="Einstellungen_Einstellen_der_Schnittmethode.htm">
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “设置”
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      按钮
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
     <font style="vertical-align: inherit;">
      这将打开编辑设置对话框。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       激活“剪切编号”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      字段下方的复选框
     </font>
     <font style="vertical-align: inherit;">
      以指定剪切次数。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       在“偏移”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      字段中输入清理工艺（
     </font>
    </font>
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       切削 1
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      ）的精加工余量
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
     <font style="vertical-align: inherit;">
      以后重新切割时需要进行测量。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="口袋 eroding_exa_2.gif" border="0" height="96" src="../Taschenerodieren_exa_2.gif" width="317"/>
 </p>
 <ul>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      使用按钮确定
     </font>
    </font>
    <img alt="技术_但是.gif" border="0" height="22" src="../tech_but.gif" width="43"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      清理切割的技术，并在必要时确定重新切割的技术。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      关闭所有对话框。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp1">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      编辑操作保存在
     </font>
    </font>
    <a href="../Operationsmanager/Bearbeitungs_Register_Operationsmanager.htm">
     <font class="hcp2">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        操作管理器
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      中。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="Op_Manager_Eintrag_exa_1.gif" border="0" src="../Op_Manager_Eintrag_exa_Poc_1.gif"/>
 </p>
 <p class="hcp3">
 </p>
 <p class="Beispiel">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    例子：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    下图显示了袋装电火花加工操作。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    设计了
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     2 毫米的起始孔
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    、
   </font>
   <font style="vertical-align: inherit;">
    0.23
   </font>
   <font class="hcp2">
    <font style="vertical-align: inherit;">
     毫米
    </font>
   </font>
   <font style="vertical-align: inherit;">
    的
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     精加工余量
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    和
   </font>
   <font class="hcp2">
    <font style="vertical-align: inherit;">
     0.125
    </font>
   </font>
   <font style="vertical-align: inherit;">
    毫米 
 的
   </font>
   <font class="hcp2">
    <font style="vertical-align: inherit;">
     线迹重叠（线直径的一半）。
    </font>
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p class="hcp3">
 </p>
 <p>
  <img alt="POC1.gif" border="0" height="656" src="../POC1.gif" width="533"/>
 </p>
 <p class="hcp3">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    精加工余量通常在第二次切削时去除。
   </font>
   <font style="vertical-align: inherit;">
    精加工余量的大小在
   </font>
   <font style="vertical-align: inherit;">
    “切削”
   </font>
   <a href="Einstellungen_Einstellen_der_Schnittmethode.htm">
    <font class="hcp2">
     <font style="vertical-align: inherit;">
      选项卡
     </font>
    </font>
   </a>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     的“偏移”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    字段中输入。
   </font>
  </font>
  <a href="Einstellungen_Einstellen_der_Schnittmethode.htm">
   <font class="hcp2">
    <font style="vertical-align: inherit;">
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    技术值也放置在“部分”
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     选项卡
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    中的“技术”字段下方
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    A。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
