
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Beispiel: Profil für einen Maschinentyp anlegen XXX CHECK" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    li.hcp1 { font-size:9pt; }
    font.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Profil für einen Maschinentyp anlegen" %}</p><ul>
	<li class="hcp1"><p class="Topic_Text_Bulleted">{% trans "Wählen Sie im Menü #[Bearbeitung]# den Befehl #[Postprozessor konfigurieren]#." %}</p></li>
	<li class="hcp1"><p class="Topic_Text_Bulleted">{% trans "Wechseln Sie im Dialog in das Register #[NC-Ausgabe Optionen]#." %}</p></li>
	<li class="hcp1"><p class="Topic_Text_Bulleted">{% trans "Aktivieren Sie die Option [Automatische Konfiguration ausschalten]." %}</p></li>
	<li class="hcp1"><p class="Topic_Text_Bulleted">{% trans "Falls vorhanden, wählen Sie aus der Listbox [Steuerungstyp] einen passenden Maschinen-/Steuerungstyp." %}</p></li>
	<li class="hcp1"><p class="Topic_Text_Bulleted">{% trans "Aktivieren Sie die benötigen Einstelloptionen." %}</p></li>
	<li class="hcp1"><p class="Topic_Text_Bulleted">{% trans "Speichern Sie die Einstellungen mit [Eingaben speichern]." %}</p></li>
	<li class="hcp1"><p class="Topic_Text_Bulleted">{% trans "Wechseln Sie im Dialog in das Register [#Generell (Allgemein)# ]." %}</p></li>
	<li class="hcp1"><p class="Topic_Text_Bulleted">{% trans "Klicken Sie im Bereich [Vorhandene Maschinenprofile] auf die Schaltfläche @. Dies fügt das neue Profil zur Liste der Profile hinzu." %}</p></li>
	<li class="hcp1"><p class="Topic_Text_Bulleted">{% trans "Speichern Sie die Einstellungen mit [Eingaben speichern]." %}</p></li>
</ul>

{% endblock %}
{% endlinebreakless %}
