{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Draht einfädeln &sol; abschneiden" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
	 border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">
  <img alt="线程" border="0" height="auto" src="../Thread.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    穿线/剪线
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该对话框在上部
   </font>
   <font style="vertical-align: inherit;">
    显示
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     当前的导线状态（螺纹/切割）。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    它还允许您对在任何位置
   </font>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     穿线
    </font>
   </font>
   <font style="vertical-align: inherit;">
    或
   </font>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     切割
    </font>
   </font>
   <font style="vertical-align: inherit;">
    电线
   </font>
   <font style="vertical-align: inherit;">
    的
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单独操作进行编程。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0;">
 </p>
 <p>
  <img alt="电线连接" border="0" height="auto" src="../wirecont.jpg" width="auto"/>
 </p>
 <p style="text-align: center;">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    手动穿线通常用于切割更复杂的多个设置，而自动穿线会生成不需要的用于穿线和切割的 NC 代码。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     使用“标准轮廓处理
    </font>
   </font>
   <font style="vertical-align: inherit;">
    ”和
   </font>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     “直纹曲面处理”
    </font>
   </font>
   <font style="vertical-align: inherit;">
    对话框的
   </font>
   <a href="Optionen_Lasche_Standard_Konturbearbeitung.htm">
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      “选项”
     </font>
    </font>
   </a>
   <font style="vertical-align: inherit;">
    选项卡 
 中的
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “自动穿线/切割
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ”选项可以关闭是否自动穿线
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
  <a href="Optionen_Lasche_Standard_Konturbearbeitung.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
