
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Ebene variabel" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Ebene variabel" %}</p><p>{% trans "Unterhalb der [Obere/untere Ebene] Textfelder finden Sie die Option [Ebene variabel]." %}</p>
<p>{% trans "Normalerweise ist die Option nicht aktiviert (grau), es sei denn der Befehl #[Variable Bearbeitungsebenen]# im Menü [Vorbereitung] wurde angewendet." %}</p>
<p>{% trans "Wenn variable Bearbeitungsebenen programmiert wurden, sind die Optionen [Ebene variabel] aktiviert." %}</p>
<p>{% trans "Sie können die Optionen nun mit der linken Maustaste anklicken, um die Programmierung von variablen Bearbeitungsebenen auszuführen." %}</p>

{% endblock %}
{% endlinebreakless %}
