{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Editieren (Technologie Datenbank) XXXBILD ALT" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    font.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    编辑（技术数据库）
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    打开另一个对话框，显示分配给所选材料的切割次数、偏移量、偏移寄存器以及当前级别。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    注意：该对话框可能因 NC 机床而异。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="TEC_DAT3.jpg" border="0" height="449" src="../TEC_DAT3.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     偏移量
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    字段
   </font>
   <font style="vertical-align: inherit;">
    仅用于直观地说明模拟中的偏移。
   </font>
   <font style="vertical-align: inherit;">
    然而，有一个例外：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <a href="Offset_ausgeben_Std_Konturbea.htm">
   <font class="hcp2">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      如果加工期间输出偏移
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项处于
   </font>
   <font style="vertical-align: inherit;">
    活动状态，则偏移值将输出到 NC 数据中。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     偏移
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    字段
   </font>
   <font style="vertical-align: inherit;">
    显示使用哪个偏移寄存器来执行剪切。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
