{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Einfahrpunkt rotieren" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    span.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    旋转入口点
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     如果您想要通过多次切割来处理开口
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，并且每次切割时焊丝应移动到孔中的不同接近位置，则可以
   </font>
   <font style="vertical-align: inherit;">
    激活此功能。
   </font>
  </font>
 </p>
 <p class="Block_Text">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    例如，如果您想要切割非常精确的孔，其中恒定的逼近位置会导致逼近标记，则可以使用该功能。
   </font>
  </font>
 </p>
 <p class="Block_Text">
 </p>
 <p class="Block_Text">
  <img alt="" border="0" src="../rotpoint_1.gif" style="border: none;"/>
 </p>
 <p class="Block_Text">
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     角度
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    或
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     距离
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项
   </font>
   <font style="vertical-align: inherit;">
    启用该功能和输入字段。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果
   </font>
   <font style="vertical-align: inherit;">
    设置了
   </font>
  </font>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     角度
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ， 
 请在输入字段中输入每次切割时缩回位置应移动的
   </font>
  </font>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     角度。
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果
   </font>
   <font style="vertical-align: inherit;">
    设置了
   </font>
  </font>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     距离
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，请 
 在输入字段中输入每次切割时退刀位置应移动的
   </font>
  </font>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     距离值。
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    钻孔时请注意，电线应穿入孔的中间。
   </font>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0;">
 </p>
 <p>
  <img alt="旋转点.gif" border="0" height="163" src="../rotpoint.gif" width="355"/>
 </p>


{% endblock %}
{% endlinebreakless %}
