{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Einstellungen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    font.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    设置
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    通过
   </font>
  </font>
  <span style="font-weight: bold;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “设置”
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    按钮 
 ，您可以确定切割技术（切割次数、连接尺寸、接近策略等），可以为锥度和轴环单独设置。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p class="Tip_Note_Heading" style="margin-top: 4.00pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    也可以看看：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    设置
   </font>
  </font>
  <a href="Einstellungen_Einstellen_der_Schnittmethode.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     对话框
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p class="Hinweis">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    一个通知：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     质量/参数
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    按钮
   </font>
   <font style="vertical-align: inherit;">
    仅适用于
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     AgieVision
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    后处理器。
   </font>
   <font style="vertical-align: inherit;">
    它们用于指定所需的质量目标，可以为锥度和轴环单独设置。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
