{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Einzelne Rotationsachse konfigurieren" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    配置单独的旋转轴
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使用此对话框可以指定旋转轴的 XY 位置和主轴中心的 Z 高度。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="配置旋转轴" border="0" height="224" src="../Rotationsachse_konfigurieren.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <p class="Tip_Note_Heading">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    X、Y轴：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    设置旋转轴在机床工作台上的 X、Y 位置。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="配置旋转轴_XY_axis" border="0" height="263" src="../Rotationsachse_konfigurieren_XY_Achse.jpg" width="auto"/>
 </p>
 <p style="text-align: center;">
 </p>
 <p class="Tip_Note_Heading">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    轴高：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    根据机床工作台表面确定主轴中心的 Z 高度。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="旋转轴_configure_height" border="0" height="188" src="../Rotationsachse_konfigurieren_Hoehe.jpg" width="auto"/>
 </p>


{% endblock %}
{% endlinebreakless %}
