{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Figuren oder auf Punkten" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    font.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    图形或点
   </font>
  </font>
 </p>
 <p>
  <img alt="图形或点组.gif" border="0" height="450" src="../Figuren_oder_auf_Punkten_Gruppe.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <h2 style="margin-top: 0.00pt; margin-bottom: 2.40pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    团队名字
   </font>
  </font>
 </h2>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果存在多个组，则用于选择组的名称。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    您可以在
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     现有图形几何图形
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    或
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     点
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    上重复一组 
 。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    以下链接显示了这两种方法：
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p class="Tip_Note_Heading" style="margin-top: 0.00pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    它是这样完成的：
   </font>
  </font>
 </p>
 <p>
  <a href="Beispiel_Gruppierte_Operationen_auf_Figuren_wiederholen.htm">
   <font class="hcp2">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      对图形重复分组操作
     </font>
    </font>
   </font>
  </a>
 </p>
 <p>
  <a href="Beispiel_Gruppierte_Operationen_auf_Punkten_wiederholen.htm">
   <font class="hcp2">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      对点重复分组操作
     </font>
    </font>
   </font>
  </a>
 </p>


{% endblock %}
{% endlinebreakless %}
