
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Figuren oder auf Punkten" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    font.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Figuren oder auf Punkten" %}</p><p><img src="../Figuren_oder_auf_Punkten_Gruppe.gif" alt="Figuren_oder_auf_Punkten_Gruppe.gif" width="296" height="450" border="0"/></p>
<p class="hcp1"> </p>
<h2 style="margin-top: 0.00pt; margin-bottom: 2.40pt;">{% trans "Gruppenname" %}</h2>
<p>{% trans "Wird verwendet, um den Namen der Gruppe auszuwählen, falls mehrere Gruppen existieren." %}</p>
<p> </p>
<p>{% trans "Sie können eine Gruppe auf [existierenden Figurgeometrien] oder auf [Punkten] wiederholen." %}</p>
<p>{% trans "Die folgenden Links zeigen beide Vorgehensweisen:" %}</p>
<p class="hcp1"> </p>
<p class="Tip_Note_Heading" style="margin-top: 0.00pt;">{% trans "So wird es gemacht:" %}</p>
<p>{% trans "#[Gruppierte Operationen auf Figuren wiederholen]#" %}</p>
<p>{% trans "#[Gruppierte Operationen auf Punkten wiederholen]#" %}</p>

{% endblock %}
{% endlinebreakless %}
