
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Globaler Vorschub" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Globaler Vorschub" %}</p><p>{% trans "In diesen Feld wird der [durchschnittliche Bearbeitungsvorschub] eingegeben (kann aus den Tabellenhandbüchern der verwendeten NC-Maschine ermittelt werden)." %}</p>
<p>{% trans "Auf der Basis des eingegebenen globalen Vorschubwertes, berechnet das System die ausgegebene Bearbeitungszeit." %}</p>
<p>{% trans "Die Zeitkalkulation erfolgt näherungsweise und dient als nur als Anhaltswert." %}</p>

{% endblock %}
{% endlinebreakless %}
