{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Kein Entfernen der Anbindung am Ende der Operation" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    font.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    操作结束时不移除绑定
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该方法有两个应用：
   </font>
  </font>
 </p>
 <ol>
  <li style="font-size: 9pt;">
   <p>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      确定非常小的连接。
     </font>
     <font style="vertical-align: inherit;">
      由于系统不会自动删除连接，因此故障部件由机器操作员删除。
     </font>
    </font>
   </p>
  </li>
 </ol>
 <p class="hcp1">
 </p>
 <p>
  <img alt="TAGMETH3.jpg" border="0" height="240" src="../TAGMETH3.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <p style="text-align: justify;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    2.) 虽然连接已确定，但应稍后在单独的操作中将其删除。
   </font>
   <font style="vertical-align: inherit;">
    请参阅
   </font>
  </font>
  <font class="hcp2">
   <a class="BSSCPopup" href="javascript:void(0);" id="a1" onclick="BSSCPopup('NUR_Anbindungen_entfernen.htm',400,300);return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      仅删除绑定
     </font>
    </font>
   </a>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p class="Tip_Note_Heading" style="margin-top: 4.00pt;">
 </p>
 <p class="Tip_Note_Heading" style="margin-top: 4.00pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    它是这样完成的：
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <img alt="电影" border="0" height="27" src="../MOVIE.jpg" width="auto"/>
  <font class="hcp2">
   <a href="../Strategie_3_Kein%20Entfernen%20der%20Anbindung%20bei%20dieser%20Operation.gif" id="a2">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      播放有关上述主题的示例影片
     </font>
    </font>
   </a>
  </font>
 </p>
 <p>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('a1');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
