{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Konik Register" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    font.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    科尼克注册
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该寄存器用于对四周具有相同锥度和可变锥度的工件进行编程。
   </font>
   <font style="vertical-align: inherit;">
    倾斜滑块的编程也是可能的。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="KONIK_L_shg.jpg" border="0" height="416" src="../KONIK_L_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="47, 3, 170, 23" href="Taschenerodieren_1.htm" shape="rect"/>
   <area alt="" coords="247, 4, 302, 25" href="Optionen_Lasche_Standard_Konturbearbeitung.htm" shape="rect"/>
   <area alt="" coords="118, 140, 322, 220" href="Standard_Konik.htm" shape="rect"/>
   <area alt="" coords="226, 390, 318, 413" href="Variable_Konik_programmieren.htm" shape="rect"/>
   <area alt="" coords="27, 45, 213, 138" href="Konik_Ikonen_Konik_Register_Std_Konturbearb.htm" shape="rect"/>
   <area alt="" coords="227, 41, 320, 133" href="Schraegschieber_Ikone_Konik_Register_Std_Konturbearb.htm" shape="rect"/>
   <area alt="" coords="19, 235, 314, 367" href="Eckenmodus.htm" shape="rect"/>
   <area alt="" coords="173, 5, 247, 22" href="Rotationsachse_Register_Standard_Konturbearbeitung_.htm" shape="rect"/>
  </map>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     这样做是这样的：
    </font>
   </font>
  </font>
  <a href="Beispiel_Umlaufend_gleiche_Konik_programmieren.htm">
   <font class="hcp2">
    <br/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      在周围编程相同的锥度
     </font>
    </font>
   </font>
  </a>
 </p>
 <p class="hcp1">
 </p>
 <p class="Hinweis">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    一个通知：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     在大多数 NC 机床上，参考高度 (Z)
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    的输入是
   </font>
   <font style="vertical-align: inherit;">
    指
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     较低的加工水平
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    仅对于
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     AgieVision
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    后处理器，参考高度输入是指
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     上层高度
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    并且为
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     负值
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="KONIK_L_AGIE_1.jpg" border="0" height="93" src="../KONIK_L_AGIE_1.jpg" width="auto"/>
 </p>


{% endblock %}
{% endlinebreakless %}
