{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Konik Ikonen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <img align="left" alt="Konik_ikonen.gif" border="0" height="92" src="../Konik_ikonen.gif" width="195"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    科尼克图标
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使用这些按钮，您可以确定是否应该对 conik 进行编程，如果是的话，应该对什么类型的 conik 进行编程。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    您可以
   </font>
   <font style="vertical-align: inherit;">
    选择
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “向上逐渐变细”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    或
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “向下逐渐变细” 。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选择后，按钮会显示一个图形，
   </font>
   <font style="vertical-align: inherit;">
    说明
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     参考高度 (Z)
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    和
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     conk 角度 (Alpha)的必要条目。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p class="Hinweis">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    一个通知：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     对于大多数 NC 机床，参考高度 (Z)
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    的输入是
   </font>
   <font style="vertical-align: inherit;">
    指
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     较低的加工平面
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    仅对于
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     AC Vision
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    后处理器，参考高度输入指
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     上层
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    且为
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     负值
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="KONIK_L_AGIE_1.gif" border="0" height="93" src="../KONIK_L_AGIE_1.gif" width="196"/>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    有关调整锥角的更多详细信息，请参阅：
   </font>
  </font>
  <font class="hcp1">
   <a class="BSSCPopup" href="javascript:void(0);" id="a1" onclick="BSSCPopup('Standard_Konik.htm',400,300);return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      标准锥度
     </font>
    </font>
   </a>
  </font>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('a1');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
