
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Kreismuster" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Kreismuster" %}</p><p>{% trans "Verwenden Sie diese Option, um die Gruppe auf einem [Teilkreismuster] zu vervielfältigen. Der Befehl erzeugt einen Eintrag im Operationsmanager." %}</p>
<p style="margin-top: 0; margin-bottom: 0;"> </p>
<p>{% trans "[Siehe auch:]" %}</p>
<p style="font-weight: bold;">{% trans "#Kreismuster#" %}</p>

{% endblock %}
{% endlinebreakless %}
