{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Kreismuster" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    font.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    圆形图案
   </font>
  </font>
 </p>
 <p>
  <img alt="圆形图案_group" border="0" height="251" src="../Kreismuster_Gruppe.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <p style="font-weight: bold;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    对话框选项：
   </font>
  </font>
 </p>
 <p>
 </p>
 <p class="Tip_Note_Heading">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    团队名字
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果存在多个组，则用于选择组的名称。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p class="Tip_Note_Heading">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    零件圆和角度细节
   </font>
  </font>
 </p>
 <p>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     组总数
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ：要在节圆上创建的组编辑总数。
   </font>
  </font>
 </p>
 <p>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     组之间的角度
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ：组编辑之间的角度（以度为单位）。
   </font>
  </font>
 </p>
 <p>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     XY 俯仰中心
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ：俯仰中心的坐标。
   </font>
   <font style="vertical-align: inherit;">
    使用 按钮
   </font>
  </font>
  <img alt="选择" border="0" height="23" src="../Select.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    将坐标数字化。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p class="Tip_Note_Heading">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    显示/模拟这些分组操作
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果激活，则在加工模拟期间模拟所有组位置。
   </font>
   <font style="vertical-align: inherit;">
    如果没有，则仅模拟第一组操作。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="分组处理_circular" border="0" height="287" src="../Gruppenbearbeitung_Zirkular.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    上例显示了一个圆形图案，在该图案上重复了分组操作（用轴环加工的矩形和用圆柱加工的孔）。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    对话框中设置了以下选项：
   </font>
  </font>
 </p>
 <p>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     8
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    组总数
   </font>
  </font>
 </p>
 <p>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    组间
   </font>
   <font class="hcp2">
    <font style="vertical-align: inherit;">
     45度
    </font>
   </font>
  </font>
 </p>
 <p>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     X0 Y40
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    为节圆圆心
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
