{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Lineares Muster XXX" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
    font.hcp3 { font-weight:normal; }
    h2.hcp4 { margin-top:0.00pt;
    margin-bottom:2.40pt; }
    span.hcp5 { font-weight:bold; }
    font.hcp6 { font-weight:bold; }
    font.hcp7 { font-family:Arial;
    font-weight:bold; }
    font.hcp8 { font-family:Arial; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    线性图案
   </font>
  </font>
 </p>
 <p>
  <img alt="Linear_Pattern_Group" border="0" height="auto" src="../Lineares_Muster_Gruppe.jpg" width="auto"/>
 </p>
 <p class="hcp1">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    对话框选项：
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p class="hcp2">
 </p>
 <p class="Tip_Note_Heading">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    团队名字
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果存在多个组，则用于选择组的名称。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p class="Tip_Note_Heading">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    首先使用原始组
   </font>
  </font>
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     ：
    </font>
   </font>
  </font>
 </p>
 <h2 class="hcp4">
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     XXX
    </font>
   </font>
  </font>
 </h2>
 <p>
 </p>
 <p>
  <span class="hcp5">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     主要网格方向
    </font>
   </font>
  </span>
  <font class="hcp3">
   <span class="hcp5">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      ：
     </font>
    </font>
   </span>
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     这些参数描述
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    网格的 X 轴
   </font>
  </font>
 </p>
 <p>
  <font class="hcp6">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     主要方向上的插入数量：为
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp6">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     X
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    轴
   </font>
   <font style="vertical-align: inherit;">
    创建的组编辑总数
   </font>
  </font>
 </p>
 <p class="footnote_text">
  <font class="hcp7" face="Arial">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     插入之间的 X 距离：沿
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font class="hcp7" face="Arial">
    <font style="vertical-align: inherit;">
     X
    </font>
   </font>
   <font class="hcp8" face="Arial">
    <font style="vertical-align: inherit;">
     轴
    </font>
   </font>
  </font>
  <font class="hcp8" face="Arial">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     分组操作之间的距离
    </font>
   </font>
  </font>
  <font class="hcp7" face="Arial">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font class="hcp8" face="Arial">
   <font style="vertical-align: inherit;">
   </font>
  </font>
 </p>
 <p>
  <font class="hcp6">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     主方向 A 角
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ：X 轴的角度。
   </font>
   <font style="vertical-align: inherit;">
    0 点在 3 点钟方向。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font class="hcp6">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     辅助网格方向
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ：这些参数描述
   </font>
   <font style="vertical-align: inherit;">
    网格的
   </font>
  </font>
  <font class="hcp6">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     Y轴
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font class="hcp6">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     次要方向上的插入数量：为
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp6">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     Y
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    轴
   </font>
   <font style="vertical-align: inherit;">
    创建的组编辑总数
   </font>
  </font>
 </p>
 <p>
  <font class="hcp6">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     插入之间的 Y-距离：沿
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp6">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     Y
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    轴
   </font>
   <font style="vertical-align: inherit;">
    分组操作之间的距离
   </font>
  </font>
 </p>
 <p>
  <font class="hcp6">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     主方向 B 角度
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ：Y 轴的角度。
   </font>
   <font style="vertical-align: inherit;">
    90点是12点。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p class="Tip_Note_Heading" style="margin-top: 0.00pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    显示/模拟这些分组操作。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp6">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     如果激活，则在加工模拟
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    期间模拟所有组位置
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
   <font style="vertical-align: inherit;">
    如果没有，则仅模拟第一组操作。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="组编辑_Linear" border="0" height="auto" src="../Gruppenbearbeitung_Linear.jpg" width="auto"/>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    上面的示例显示了一个网格图案，在该图案上重复了分组操作（用轴环加工的矩形和用圆柱加工的孔）。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    对话框中设置了以下选项：
   </font>
  </font>
 </p>
 <h2 class="hcp4">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    主网格方向
   </font>
  </font>
 </h2>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    4 个刀片
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    X轴距离为20mm
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    一个角是0度
   </font>
  </font>
 </p>
 <p>
  <font class="hcp6">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     次网格方向
    </font>
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    3 次插入
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    Y距离为25mm
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    B角为90度
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
