{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Lineares Gitter" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    线性网格
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使用此选项可在
   </font>
  </font>
  <font style="font-weight: bold;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     矩形图案
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    上复制组。
   </font>
   <font style="vertical-align: inherit;">
    该命令在操作管理器中创建一个条目。
   </font>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0;">
 </p>
 <p class="Tip_Note_Heading" style="margin-top: 0.00pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    也可以看看：
   </font>
  </font>
 </p>
 <p style="font-weight: bold;">
  <a href="Lineares_Muster_Gruppierte_Operationen_aufrufen.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     线性图案
    </font>
   </font>
  </a>
 </p>


{% endblock %}
{% endlinebreakless %}
