{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Methode zur Entfernung der Anbindung(en)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    去除绑定的方法
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    指定用于移除绑定（固定杆）的方法。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="ANBINDUN_shg.jpg" border="0" height="178" src="../ANBINDUN_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="5,70,323,87" href="Kein_Entfernen_der_Anbindung_am_Ende_der_Operation.htm" shape="rect"/>
   <area alt="" coords="5,95,322,113" href="javascript:BSSCPopup('Ausfallteilentsorger_der_NC_Maschine_verwenden.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="5,120,324,140" href="Automatisches_Entfernen_der_Anbindungen_am_Ende_der_Operation.htm" shape="rect"/>
   <area alt="" coords="6,145,325,164" href="Automatisches_Entfernen_der_Anbindungen_NACH_1ten_Schnitten.htm" shape="rect"/>
   <area alt="" coords="6,43,326,64" href="Automatisches_Entfernen_der_Anbindungen_am_Ende_der_Figur.htm" shape="rect"/>
   <area alt="" coords="9, 20, 324, 42" href="Stopp_Anbindung_mit_dem_ersten_Schnitt_entfernen.htm" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('area1');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
