{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "More information on Machine TechnologyXXX" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    有关机器技术的更多信息
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    XXX 技术文件（由机器制造商提供）包含加工参数，即发电机或功率设置、策略和线偏移。
   </font>
   <font style="vertical-align: inherit;">
    其中最关键的可能是线偏移和切割次数。
   </font>
   <font style="vertical-align: inherit;">
    每个技术文件都是为了满足一组特定的加工要求而开发的，并给出了材料类型、材料厚度、线材类型、线材直径、拐角偏差、公差和粗糙度的详细信息。
   </font>
   <font style="vertical-align: inherit;">
    Peps 基于知识的技术根据材料类型和厚度、线材类型和直径以及所需的表面质量来确定将使用这些文件中的哪些文件进行操作。
   </font>
   <font style="vertical-align: inherit;">
    一旦确定了具体的技术文件，PEPS 将知道要进行的切割次数以及每次切割要使用的线偏移，并在相关切割对话框中自动设置这些值。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    知识库技术的使用很重要，原因有两个。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    1. CAM系统可以正确编程切削次数以达到零件规格。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    2. CAM 系统可以预测小内角半径中可能发生的过切可能性。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果大多数工作都使用通用技术文件，则第一个原因就不那么重要了。
   </font>
   <font style="vertical-align: inherit;">
    如果要切割小内半径（小于 0.010 英寸），第二个原因对于 Agie 机器来说更为重要。
   </font>
   <font style="vertical-align: inherit;">
    对 CNC 123 控制器进行编程时，所有拐角都必须相切，这意味着必须在所有尖角处编程圆角半径。
   </font>
   <font style="vertical-align: inherit;">
    如果机器的偏移量大于内半径，则会发生过切。
   </font>
   <font style="vertical-align: inherit;">
    即使过切仅发生在具有较大偏移量的粗加工切削上，如果它足够大，则拐角可能无法通过最终的修整切削清理干净。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    Agievision 上的技术文件本质上与 CNC 123 相同。与 CNC 123 一样，不需要在尖角处进行圆角。该控制还能够调整编程路径，以避免在小半径上进行过切，如果半径是相切的。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
