{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "NC-Ausgabe Register (Operation starten)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    p.hcp2 { color:#ff0000;
    font-style:italic; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    NC输出寄存器（开始运行）
   </font>
  </font>
 </p>
 <p class="Block_Text">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    通过该寄存器，您可以指定后处理器运行后 NC 数据应保存在哪个目录中。
   </font>
  </font>
 </p>
 <p class="Block_Text">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    您还可以确定加工的起始位置并设置加工平面的 Z 高度（辅助平面/参考高度）。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p class="hcp2">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    单击下图的各个区域以访问帮助文本
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p class="hcp2">
  <span style="color: #ff0000;">
   <img alt="OP_START_OPT_shg.jpg" border="0" height="577" src="../OP_START_OPT_shg.jpg" usemap="#MAP704533243" width="auto"/>
   <map id="MAP704533243" name="MAP704533243">
    <area alt="" coords="21, 37, 85, 56" href="Operation_starten.htm" shape="rect"/>
    <area alt="" coords="20, 76, 112, 94" href="Technologie_Register_Operation_starten_.htm" shape="rect"/>
    <area alt="" coords="488, 547, 564, 569" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area1" shape="rect"/>
    <area alt="" coords="572, 547, 698, 570" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area2" shape="rect"/>
    <area alt="" coords="705, 546, 778, 568" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area3" shape="rect"/>
    <area alt="" coords="408, 545, 483, 568" href="javascript:BSSCPopup('OK_Button_Operation_starten.htm',400,300);" id="area4" shape="rect"/>
    <area alt="" coords="21, 93, 92, 108" href="Strategie_Register_Operation_starten_.htm" shape="rect"/>
    <area alt="" coords="20, 111, 90, 131" href="Optionen_Register_Operation_starten.htm" shape="rect"/>
    <area alt="" coords="219, 37, 756, 88" href="javascript:BSSCPopup('NC_Dateiname.htm',400,600);" id="area5" shape="rect"/>
    <area alt="" coords="210, 298, 766, 352" href="javascript:BSSCPopup('Startposition.htm',400,400);" id="area6" shape="rect"/>
    <area alt="" coords="337, 363, 763, 434" href="javascript:BSSCPopup('Referenzposition_OP_Start.htm',400,600);" id="area7" shape="rect"/>
    <area alt="" coords="213, 452, 506, 483" href="Sekundaerebene.htm" shape="rect"/>
    <area alt="" coords="215, 485, 510, 513" href="Referenzhoehe.htm" shape="rect"/>
    <area alt="" coords="521, 438, 763, 523" href="Obere_Untere_Fuehrung.htm" shape="rect"/>
    <area alt="" coords="209, 359, 321, 412" href="javascript:BSSCPopup('Nullpunkt_OP_starten.htm',400,300);" id="area8" shape="rect"/>
    <area alt="" coords="221, 92, 756, 220" href="Verzeichnis_fuer_NC-Daten.htm" shape="rect"/>
   </map>
  </span>
 </p>
 <p class="hcp1">
 </p>
 <p>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
	FilePopupInit('area8');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
