{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Offset Register" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    偏移寄存器
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该对话框根据加工方向控制线的偏移。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="OFFSET_1_shg.gif" border="0" height="515" src="../OFFSET_1_shg.gif" usemap="#AreaMap0" width="358"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="25, 243, 266, 267" href="javascript:BSSCPopup('Richtung_automatisch.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="24, 271, 177, 293" href="javascript:BSSCPopup('Offset_automatisch.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="22, 298, 309, 364" href="javascript:BSSCPopup('Links_Rechts_Kein_Offset.htm',400,500);" id="area3" shape="rect"/>
   <area alt="" coords="34, 79, 174, 240" href="Aussenkontur_Stempel.htm" shape="rect"/>
   <area alt="" coords="180, 77, 306, 241" href="Innenkontur_Matrize.htm" shape="rect"/>
   <area alt="" coords="12, 42, 61, 61" href="Einstellungen_Einstellen_der_Schnittmethode.htm" shape="rect"/>
   <area alt="" coords="68, 40, 121, 60" href="Anbinden_Lasche.htm" shape="rect"/>
   <area alt="" coords="123, 39, 200, 58" href="Ein_Ausfahren_Lasche.htm" shape="rect"/>
   <area alt="" coords="241, 40, 292, 59" href="Datenbank_fuer_Technologie_Lasche.htm" shape="rect"/>
   <area alt="" coords="9, 483, 82, 503" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="92, 481, 164, 504" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="171, 480, 263, 506" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area6" shape="rect"/>
   <area alt="" coords="270, 484, 343, 506" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area7" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
