
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "OK-Button" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "OK" %}</p><p>{% trans "Die Schaltfläche [OK] führt die Eingaben [Endwinkel], [Eckenmodus] und [Verhältnisradius] für das gewählte Geometrieelement aus." %}</p>
<p>{% trans "In der Mitte des Geometrieelementes wird das Winkelwechselsymbol (roter Kreis) eingefügt, das zu einem späteren Zeitpunkt editiert oder gelöscht werden kann." %}</p>

{% endblock %}
{% endlinebreakless %}
