{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Operation starten" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
	 border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">
  <img alt="来自" border="0" height="28" src="../From.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    开始运行
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     开始操作
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    对话框
   </font>
   <font style="vertical-align: inherit;">
    必须在第一个处理指令之前完成。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该对话框定义 NC 输出文件的名称、起始位置、加工平面的高度、毛坯以及 NC 输出文件开头所需的其他参数。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     每个新操作都会在操作管理器
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    中生成另一个条目
   </font>
   <font style="vertical-align: inherit;">
    和一个新的 NC 输出文件。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这允许您使用一个程序创建多个 NC 输出文件。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="OP_START_shg.jpg" border="0" height="577" src="../OP_START_shg.jpg" usemap="#MAP659117988" width="auto"/>
  <map id="MAP659117988" name="MAP659117988">
   <area alt="" coords="24, 111, 92, 130" href="Optionen_Register_Operation_starten.htm" shape="rect"/>
   <area alt="" coords="22, 75, 115, 94" href="Technologie_Register_Operation_starten_.htm" shape="rect"/>
   <area alt="" coords="410, 544, 480, 569" href="javascript:BSSCPopup('OK_Button_Operation_starten.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="488, 548, 563, 570" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="572, 545, 699, 566" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="704, 546, 777, 569" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="22, 56, 116, 77" href="NC_Ausgabe_Register_Operation_starten_.htm" shape="rect"/>
   <area alt="" coords="22, 92, 93, 113" href="Strategie_Register_Operation_starten_.htm" shape="rect"/>
   <area alt="" coords="222, 63, 758, 90" href="javascript:BSSCPopup('Teilenummer.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="221, 90, 758, 115" href="javascript:BSSCPopup('Beschreibung.htm',400,300);" id="area6" shape="rect"/>
   <area alt="" coords="220, 155, 493, 316" href="Rohteile_Operation_starten_Rohteil_Register.htm" shape="rect"/>
   <area alt="" coords="213, 322, 481, 461" href="Maschinenteile_Operation_starten_Rohteil_Register.htm" shape="rect"/>
   <area alt="" coords="490, 320, 765, 470" href="Spannmittel_Operation_starten_Rohteil_Register.htm" shape="rect"/>
   <area alt="" coords="216, 129, 389, 152" href="javascript:BSSCPopup('Verwende_vorheriges_Operation_starten_Rohteil_Register.htm',400,300);" id="area7" shape="rect"/>
   <area alt="" coords="496, 148, 744, 315" href="Werkstuecke_OP_Start_Rohteil_Werkstuecke.htm" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
