{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Optionen Register (Bundbearbeitung)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项寄存器（捆绑编辑）
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在此选项卡中，您可以设置品丝处理的各种附加参数。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="外滩处理_4_shg.gif" border="0" height="433" src="../Bundbearbeitung_4_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="17, 73, 85, 92" href="Startloch_Register_Bundbearbeitung_.htm" shape="rect"/>
   <area alt="" coords="11, 55, 100, 73" href="Technologie_Register_Bundbearbeitung_.htm" shape="rect"/>
   <area alt="" coords="13, 38, 92, 56" href="Bundbearbeitung_.htm" shape="rect"/>
   <area alt="" coords="518, 114, 654, 138" href="javascript:BSSCPopup('Konik_vor_Zylindrisch_Bundbearbeitung.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="516, 143, 749, 159" href="javascript:BSSCPopup('Jeden_Durchbruch_einzeln_fertigbearbeiten_Bundbearbeitung.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="510, 223, 785, 272" href="javascript:BSSCPopup('Vektorisierungs_Toleranz_Standardkonturbearbeitung.htm',400,600);" id="area3" shape="rect"/>
   <area alt="" coords="211, 360, 328, 382" href="javascript:BSSCPopup('Kurzhilfen_anzeigen.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="216, 222, 502, 273" href="javascript:BSSCPopup('Anzahl_Schnittebenen.htm',400,600);" id="area5" shape="rect"/>
   <area alt="" coords="219, 114, 488, 138" href="javascript:BSSCPopup('Autom__Einfaedeln_Abschneiden.htm',400,500);" id="area6" shape="rect"/>
   <area alt="" coords="218, 187, 366, 211" href="javascript:BSSCPopup('Zeige_alle_Figuren.htm',400,500);" id="area7" shape="rect"/>
   <area alt="" coords="214, 279, 498, 324" href="javascript:BSSCPopup('Rendern_Farbe_Material_Listbox.htm',400,500);" id="area8" shape="rect"/>
   <area alt="" coords="218, 327, 328, 348" href="javascript:BSSCPopup('Operation_rendern.htm',400,600);" id="area9" shape="rect"/>
   <area alt="" coords="218, 136, 489, 185" href="javascript:BSSCPopup('Mit_Bearbeitung.htm',400,300);" id="area10" shape="rect"/>
   <area alt="" coords="215, 47, 784, 97" href="javascript:BSSCPopup('Eigene_Operationsbeschreibung_Bundbearbeitung.htm',400,500);" id="area11" shape="rect"/>
   <area alt="" coords="452, 403, 525, 421" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area12" shape="rect"/>
   <area alt="" coords="537, 403, 607, 424" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area13" shape="rect"/>
   <area alt="" coords="617, 402, 740, 425" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area14" shape="rect"/>
   <area alt="" coords="749, 403, 820, 424" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area15" shape="rect"/>
   <area alt="" coords="515, 163, 705, 182" href="javascript:BSSCPopup('Stopp_bei_2ter_Operation_Bundbearbeitung.htm',400,500);" id="area16" shape="rect"/>
   <area alt="" coords="517, 189, 705, 210" href="javascript:BSSCPopup('Stopp_bei_3ter_Operation_Bundbearbeitung.htm',400,600);" id="area17" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
	FilePopupInit('area8');
	FilePopupInit('area9');
	FilePopupInit('area10');
	FilePopupInit('area11');
	FilePopupInit('area12');
	FilePopupInit('area13');
	FilePopupInit('area14');
	FilePopupInit('area15');
	FilePopupInit('area16');
	FilePopupInit('area17');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
