{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Parameter für die Rotationsachsenbearbeitung" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    旋转轴加工参数
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该字段中的选项会有所不同，具体取决于是否
   </font>
   <font style="vertical-align: inherit;">
    选择
   </font>
  </font>
  <a href="Beispiel_Profil_auf_einer_Helix_abwickeln_Rotationsachsen_Register_STD_Konturbea.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      “在螺旋上展开轮廓”
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    或
   </font>
  </font>
  <a href="Beispiel_Profil_auf_einem_Zylinder_abwickeln_Rotationsachsen_Register_STD_Konturbea.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      “在圆柱体上展开轮廓”选项。
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0;">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    有关各个选项的说明，请参阅：
   </font>
  </font>
 </p>
 <p>
  <a href="Beispiel_Profil_auf_einer_Helix_abwickeln_Rotationsachsen_Register_STD_Konturbea.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      在螺旋上展开轮廓
     </font>
    </font>
   </font>
  </a>
 </p>
 <p>
  <a href="Beispiel_Profil_auf_einem_Zylinder_abwickeln_Rotationsachsen_Register_STD_Konturbea.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      在圆柱体上展开型材
     </font>
    </font>
   </font>
  </a>
 </p>


{% endblock %}
{% endlinebreakless %}
