
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Passwort ändern" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Passwort ändern" %}</p><p>{% trans "Mit der Option [Passwort ändern] können Sie das momentane Passwort verändern und Ihr eigenes Passwort vergeben." %}</p>
<p>{% trans "Zu diesem Zweck wird zunächst auf die Schaltfläche [Passwort ändern] geklickt und anschließend im Feld [Neues Passwort] das neue Passwort eingegeben." %}</p>
<p>{% trans "Zur Bestätigung muss anschließend im Feld [Passwort bestätigen] das neue Passwort noch einmal eingegeben werden." %}</p>

{% endblock %}
{% endlinebreakless %}
