{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Position XXX MESSEN" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    位置
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这六个按钮允许您确定工件在机器坐标系中的位置。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使用某些功能，您可以在一次测量操作中确定工件位置，而在其他情况下，您可以选择两种测量功能的组合。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这些功能取决于所使用的 CNC 控制，并且并不总是可用。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="MEASURE_CYCLES_Position.jpg" border="0" height="109" src="../MEASURE_CYCLES_Position.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    调用功能后，系统会显示一个对话框，其中仅启用测量循环所需的输入区域。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    位图图形显示需要在对话框中输入哪些信息。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="MEASURE_CYCLES_Position_1.jpg" border="0" height="608" src="../MEASURE_CYCLES_Position_1.jpg" width="auto"/>
 </p>


{% endblock %}
{% endlinebreakless %}
