{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Referenzposition" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    font.hcp2 { font-family:Arial; }
    font.hcp3 { font-family:Arial;
    font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    参考位置
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该字段指定系统在 NC 输出中将其视为
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     X0 Y0
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    的参考位置。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     未
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在此字段中输入坐标，系统将使用
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     绝对绘图零点
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    作为 NC 输出的参考点。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     如果要将绝对绘图零点（
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    X0 Y0）以外的位置
   </font>
   <font style="vertical-align: inherit;">
    用于 NC 输出，请在
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     参考位置字段中输入其坐标或使用
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     捕捉功能
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    确定它
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p class="footnote_text" style="margin-bottom: 0.00pt;">
  <font class="hcp2" face="Arial">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     该功能在导入 CAD 数据后特别有用，因为当您
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font class="hcp2" face="Arial">
    <font style="vertical-align: inherit;">
     在绘图中选取 NC 输出的
    </font>
   </font>
   <font class="hcp3" face="Arial">
    <font style="vertical-align: inherit;">
     参考位置时，
    </font>
   </font>
   <font class="hcp2" face="Arial">
    <font style="vertical-align: inherit;">
     可以避免将几何图形
    </font>
   </font>
  </font>
  <font class="hcp3" face="Arial">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     变换到 CAM 系统的绝对零点。
    </font>
   </font>
  </font>
  <font class="hcp2" face="Arial">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font class="hcp3" face="Arial">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font class="hcp2" face="Arial">
   <font style="vertical-align: inherit;">
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
