
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Referenzhöhe" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    font.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Referenzhöhe" %}</p><p>{% trans "Die Referenzhöhe ist die Z-Ebene, auf die sich die XY-Koordinaten der NC-Ausgabe beziehen. In diesem Textfeld wird die Lage Referenzhöhe festgelegt." %}</p>
<p class="hcp1"> </p>
<p><img src="../TAPERCU2.gif" alt="TAPERCU2.gif" width="560" height="185" border="0"/> <img src="../REFSEC.gif" alt="REFSEC.gif" width="433" height="309" border="0"/></p>
<p class="hcp1"> </p>
<p>{% trans "[Siehe auch:]" %}</p>
<p>{% trans "#[Werkstücke mit Bund und Konik bearbeiten]#" %}</p>
<p>{% trans "#[Bundbearbeitung]#" %}</p>

{% endblock %}
{% endlinebreakless %}
