{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Rotationsachse Register (Standard Konturbearbeitung) XXX" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    旋转轴寄存器（标准轮廓加工）
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font style="font-weight: bold;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     旋转轴
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    寄存器
   </font>
   <font style="vertical-align: inherit;">
    用于在配备受控 CNC 转台的机器上对线蚀工作进行编程。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="旋转轴_Exa" border="0" height="auto" src="../Rotationsachse_Exa.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="旋转轴_shg" border="0" height="auto" src="../Rotationsachse_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="2,1,45,21" href="Konik_lasche.htm" shape="rect"/>
   <area alt="" coords="251,0,305,21" href="Optionen_Lasche_Standard_Konturbearbeitung.htm" shape="rect"/>
   <area alt="" coords="46,0,162,22" href="Taschenerodieren_1.htm" shape="rect"/>
   <area alt="" coords="16,52,176,79" href="javascript:BSSCPopup('Rotationsachse_verwenden_Rotationsachsen_Register_STD_Konturbea.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="18,92,316,117" href="Beispiel_Profil_auf_einer_Helix_abwickeln_Rotationsachsen_Register_STD_Konturbea.htm" shape="rect"/>
   <area alt="" coords="18,119,314,141" href="Beispiel_Profil_auf_einem_Zylinder_abwickeln_Rotationsachsen_Register_STD_Konturbea.htm" shape="rect"/>
  </map>
 </p>
 <p class="hcp1">
 </p>
 <p class="Hinweis">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    一个通知：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    此功能是可选的并且需要许可。
   </font>
  </font>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
