{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Schnittschema laden oder speichern  XXXCHANGED" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    span.hcp1 { font-weight:bold; }
    img.hcp2 { border:none; }
    p.hcp3 { color:#ff0000;
    font-style:italic; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    加载并保存切割方案
   </font>
  </font>
 </p>
 <p class="dialog">
  <img alt="加载.gif" border="0" height="23" src="../load.gif" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    负载切割图
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     此按钮可打开“加载切削方案”
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    对话框
   </font>
   <font style="vertical-align: inherit;">
    ，您可以在其中选择切削方案并将其设置分配给当前选定的加工操作。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <span class="hcp1">
   <img alt="" border="0" class="hcp2" src="../OK_button.gif"/>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    当您使用 退出对话框
   </font>
   <font style="vertical-align: inherit;">
    时，该过程会更改对话框的参数设置并采用所选切割方案的设置 
 。
   </font>
  </font>
 </p>
 <p>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     另请参阅：
    </font>
   </font>
  </span>
  <a href="Beispiel_Erodierbearbeitungen_durch_Schnittschemen_automatisieren.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     使用切割方案自动化 EDM 加工
    </font>
   </font>
  </a>
 </p>
 <p>
 </p>
 <p class="hcp3">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    单击下图的各个区域可访问帮助文本。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <img alt="" border="0" class="hcp2" src="../Schnittschema_laden_Dialog.gif" usemap="#MAP664184964"/>
  <map id="MAP664184964" name="MAP664184964">
   <area alt="" coords="-3, 33, 1022, 501" href="Schnittschema_laden_Dialog_-_Parameter.htm" shape="rect"/>
  </map>
 </p>
 <p>
 </p>
 <p class="dialog">
  <img alt="保存.gif" border="0" height="23" src="../save.gif" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    保存切割方案
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使用此按钮可将当前对话框设置保存为新的切割方案。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    您还可以保存自定义的切割方案。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p class="hcp3">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    单击下图的各个区域可访问帮助文本。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <img alt="" border="0" class="hcp2" src="../Schnittschema_speichern_Dialog.jpg" usemap="#MAP664211854"/>
  <map id="MAP664211854" name="MAP664211854">
   <area alt="" coords="3, 92, 492, 552" href="Schnittschema_speichern_Dialog_-_Parameter.htm" shape="rect"/>
  </map>
 </p>
 <p>
 </p>


{% endblock %}
{% endlinebreakless %}
