{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "So erzeugt man eine gefilterte Liste (Technologie Datenbank)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    p.hcp2 { margin-left:70.90pt;
    font-weight:bold; }
    font.hcp3 { text-decoration:underline; }
    font.hcp4 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如何创建过滤列表（技术数据库）
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    通过这些复选框，您可以根据技术数据库中的现有条目创建过滤列表。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    可以使用以下选项创建过滤列表：
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p class="hcp2">
  <font class="hcp3" color="#008000">
   <a class="BSSCPopup" href="javascript:void(0);" id="a5" onclick="BSSCPopup('Filter_Material.htm',400,600);return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      过滤材料
     </font>
    </font>
   </a>
  </font>
 </p>
 <p class="hcp2">
  <font class="hcp3" color="#008000">
   <a class="BSSCPopup" href="javascript:void(0);" id="a6" onclick="BSSCPopup('Filter_Dicke.htm',400,600);return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      过滤器厚度
     </font>
    </font>
   </a>
  </font>
 </p>
 <p class="hcp2">
  <font class="hcp3" color="#008000">
   <a class="BSSCPopup" href="javascript:void(0);" id="a7" onclick="BSSCPopup('Filter_Oberflaechenguete.htm',400,600);return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      过滤器表面质量
     </font>
    </font>
   </a>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    要
   </font>
   <font style="vertical-align: inherit;">
    显示
   </font>
  </font>
  <font class="hcp4">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     材料的所有条目，
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp4">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     请激活
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp4">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “材料”过滤器
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，
   </font>
   <font style="vertical-align: inherit;">
    停用
   </font>
  </font>
  <font class="hcp4">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     其余
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    过滤
   </font>
  </font>
  <font class="hcp4">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     器
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，然后单击所需的材料。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    然后单击
   </font>
  </font>
  <a class="BSSCPopup" href="javascript:void(0);" id="a1" onclick="BSSCPopup('Liste_neu_aufbauen.htm');return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
   <font class="hcp4">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      “重建列表”
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    按钮重新创建列表。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    例如，通过组合
   </font>
  </font>
  <font class="hcp4">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     材料过滤器
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    和
   </font>
  </font>
  <font class="hcp4">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     厚度过滤器
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    的过滤器，您可以列出
   </font>
  </font>
  <font class="hcp4">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     材料
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    和
   </font>
  </font>
  <font class="hcp4">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     材料厚度
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    的所有数据记录。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    创建列表后，单击您要查找的数据记录，然后单击
   </font>
  </font>
  <font class="hcp4">
   <a class="BSSCPopup" href="javascript:void(0);" id="a2" onclick="BSSCPopup('Technologie_laden_aus_Technologie_Datenbank.htm',400,300);return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      加载技术
     </font>
    </font>
   </a>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    按钮。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这意味着技术值被分配给
   </font>
  </font>
  <a href="Einstellungen_Einstellen_der_Schnittmethode.htm">
   <font class="hcp4">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      “切割”
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项卡相应字段中的当前处理。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果您加载的技术与您需要的技术最相似，请对其
   </font>
  </font>
  <font class="hcp4">
   <a class="BSSCPopup" href="javascript:void(0);" id="a3" onclick="BSSCPopup('Editieren_Technologie_Datenbank.htm',400,300);return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      进行编辑
     </font>
    </font>
   </a>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    并将其
   </font>
  </font>
  <font class="hcp4">
   <a class="BSSCPopup" href="javascript:void(0);" id="a4" onclick="BSSCPopup('Technologie_speichern_Technologie_Datenbank.htm',400,300);return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      另存
     </font>
    </font>
   </a>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    为数据库中的新技术。
   </font>
  </font>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('a5');
        FilePopupInit('a6');
        FilePopupInit('a7');
        FilePopupInit('a1');
        FilePopupInit('a2');
        FilePopupInit('a3');
        FilePopupInit('a4');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
