
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "So erzeugt man eine gefilterte Liste (Technologie Datenbank)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    p.hcp2 { margin-left:70.90pt;
    font-weight:bold; }
    font.hcp3 { text-decoration:underline; }
    font.hcp4 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "So erzeugt man eine gefilterte Liste (Technologie Datenbank)" %}</p><p>{% trans "Mit diesen Checkboxen kann man eine gefilterte Liste aus den vorhandenen Einträgen der Technologiedatenbank erzeugen." %}</p><p>{% trans "Gefilterte Listen erzeugt man mit Hilfe folgender Optionen:" %}</p>
<p class="hcp1"> </p>
<p class="hcp2">{% trans "[#Filter Material#]" %}</p>
<p class="hcp2">{% trans "[#Filter Dicke#]" %}</p>
<p class="hcp2">{% trans "[#Filter Oberflächengüte#]" %}</p>
<p class="hcp1"> </p>
<p>{% trans "Um [alle Einträge eines Materials] anzuzeigen, [aktiviert] man den [Filter Material], [deaktiviert] die [restlichen Filter] und klickt auf das benötigte Material." %}</p>
<p>{% trans "Anschließend klickt man auf die Schaltfläche #[Liste neu aufbauen]# um die Liste neu zu erzeugen." %}</p>
<p>{% trans "Durch Kombination der Filter für [Filter Material] und [Filter Dicke] könnte z.B. man alle Datensätze für [Material] und [Materialdicke] auflisten." %}</p>
<p>{% trans "Ist die Liste erzeugt, klickt man den gesuchten Datensatz an und anschließend auf die Schaltfläche [#Technologie laden#]." %}</p>
<p>{% trans "Dies hat zur Folge das die Technologiewerte in entsprechenden Felder des Registers #[Schnitte]# der momentanen Bearbeitung zugewiesen werden." %}</p>
<p>{% trans "Lädt man eine Technologie die der benötigten am ähnlichsten ist, [#editiert#] diese und [#speichert#] sie als neue Technologie in der Datenbank." %}</p>
<script type="text/javascript" language="JavaScript1.2">
//&lt;![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('a5');
        FilePopupInit('a6');
        FilePopupInit('a7');
        FilePopupInit('a1');
        FilePopupInit('a2');
        FilePopupInit('a3');
        FilePopupInit('a4');
//]]&gt;
</script>

{% endblock %}
{% endlinebreakless %}
