{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Solid(s)>>" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    固体&gt;&gt;
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     &gt;&gt;
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    按钮
   </font>
   <font style="vertical-align: inherit;">
    用于选择要用作
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     工件的
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    实体 
 。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选定的实体几何图形显示在
   </font>
  </font>
  <a href="../Simulation/Solid_Simulation.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      实体模拟
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    和
   </font>
  </font>
  <a href="../Simulation/Standard_Simulation.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      标准模拟
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    中 
 。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
