
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Spannmittel" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Spannmittel" %}</p><p>{% trans "Wählen Sie hier die Solids aus, die in der #[Solid-Simulation]# als Spannmittel angezeigt werden sollen." %}</p><p>{% trans "Die Definition von [Spannmitteln] ist erforderlich, wenn Sie im Zuge einer #[Solid-Simulation]# Spannmittel darstellen und diese in die Kollisionsprüfung mit einbeziehen wollen." %}</p>
<p class="hcp2"> </p>
<p><img src="../Simulation_mit_Spannmitteln.gif" alt="Simulation_mit_Spannmitteln.gif" width="435" height="308" border="0"/></p>
<p class="hcp2"> </p>
<p class="pitalic">{% trans "[Klicken Sie auf die einzelnen Bereiche des folgenden Bildes, um Hilfetexte aufzurufen.]" %}</p>
<p class="hcp2"> </p>
<p><img src="../Spannmittel_shg.gif" usemap="#AreaMap0" alt="Spannmittel_shg.gif" width="277" height="197" border="0"/> <map name="AreaMap0" id="AreaMap0">
<area shape="rect" coords="12,159,88,182" href="javascript:BSSCPopup('Solid_s_Spannmittel_Operation_starten_Rohteil_Register.htm');" id="area1" alt=""/></map></p>
<p class="hcp2"> </p>
<p>{% trans "#[Spannmittel für Solidsimulation aus Solidgeometrien erzeugen]#" %}</p>
<script type="text/javascript" language="JavaScript1.2">
//&lt;![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('area1');
//]]&gt;
</script>

{% endblock %}
{% endlinebreakless %}
