
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Startwinkel" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Startwinkel" %}</p><p>{% trans "Dieses Feld ist nur aktiv, wenn den Dialog [Variable Konik] mit dem Befehl #[Sekundarfigur erzeugen]# (siehe Menue #[Vorbereitung]#) geöffnet wurde." %}</p>
<p>{% trans "Wird der Dialog bei der Erzeugung einer variablen Konik über den Dialog #[Standard Konturbearbeitung]# geöffnet, deaktiviert das System dieses Feld." %}</p>

{% endblock %}
{% endlinebreakless %}
