{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Startloch Register (Bundbearbeitung)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    启动孔寄存器（捆绑处理）
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这些选项决定起始孔的类型和尺寸。
   </font>
   <font style="vertical-align: inherit;">
    开始钻孔显示在
   </font>
  </font>
  <a href="../Simulation/Solid_Simulation.htm">
   <font style="font-weight: bold;">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      实体模拟
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    中。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="外滩处理_3_shg.gif" border="0" height="433" src="../Bundbearbeitung_3_shg.gif" usemap="#AreaMap0" width="833"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="17, 91, 86, 113" href="Optionen_Register_Bundbearbeitung_.htm" shape="rect"/>
   <area alt="" coords="13, 53, 102, 72" href="Technologie_Register_Bundbearbeitung_.htm" shape="rect"/>
   <area alt="" coords="14, 32, 92, 52" href="Bundbearbeitung_.htm" shape="rect"/>
   <area alt="" coords="453, 402, 528, 422" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="535, 401, 605, 423" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="628, 401, 735, 425" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="751, 403, 825, 423" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="213, 42, 508, 192" href="javascript:BSSCPopup('Startloch_Bundbearbeitung.htm',400,600);" id="area4" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area5');
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
