
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Stopp bei 2ter Operation" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Stopp bei 2ter Operation" %}</p><p class="Block_Text">{% trans "Es wird ein zusätzlicher Stopp (z.B. [M01]) ausgegeben für die 2te Operation." %}</p>
<p>{% trans "Definition: [2te Operation]:" %}</p>
<p>{% trans "Die [2te Operation] ist bei einer Bundbearbeitung die [konische Bearbeitung], wenn mit der [ersten Operation] der [zylindrische] Teil der Bundbearbeitung geschnitten wird." %}</p>
<p>{% trans "Die [2te Operation] ist bei einer Bundbearbeitung die [zylindrische Bearbeitung], wenn mit der [ersten Operation] der [konische] Teil der Bundbearbeitung geschnitten wird." %}</p>

{% endblock %}
{% endlinebreakless %}
