{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Strategie Register (Operation starten)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    策略寄存器（开始操作）
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在此选项卡中，您可以设置
   </font>
   <font style="vertical-align: inherit;">
    加工工件时应采用的
   </font>
  </font>
  <font style="font-weight: bold;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     加工策略（粗加工和重切削的加工顺序）。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="OP_START_Strategy_shg.gif" border="0" height="577" src="../OP_START_Strategie_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="411, 542, 484, 565" href="javascript:BSSCPopup('OK_Button_Operation_starten.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="488, 547, 561, 569" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="568, 546, 696, 570" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="704, 543, 777, 566" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="15, 32, 102, 52" href="Operation_starten.htm" shape="rect"/>
   <area alt="" coords="13, 52, 108, 73" href="NC_Ausgabe_Register_Operation_starten_.htm" shape="rect"/>
   <area alt="" coords="14, 73, 107, 92" href="Technologie_Register_Operation_starten_.htm" shape="rect"/>
   <area alt="" coords="17, 108, 88, 132" href="Optionen_Register_Operation_starten.htm" shape="rect"/>
   <area alt="" coords="224, 352, 392, 372" href="javascript:BSSCPopup('Zuerst_ALLE_Schruppschnitte.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="251, 374, 474, 393" href="Nachschnitte_in_Reihenfolge_1_2_3_.htm" shape="rect"/>
   <area alt="" coords="252, 392, 508, 416" href="Do_all_Trimms_in_Order_to_Cut_.htm" shape="rect"/>
   <area alt="" coords="517, 373, 732, 396" href="javascript:BSSCPopup('Bei_Anbindung_entfernen_nur_einmal_stoppen.htm',400,600);" id="area6" shape="rect"/>
   <area alt="" coords="227, 87, 756, 201" href="Strategieart_OP_starten_Strategie_Register.htm" shape="rect"/>
   <area alt="" coords="225, 202, 742, 320" href="javascript:BSSCPopup('Beschreibung_der_Strategie_OP_starten_Strategie_Register.htm',400,300);" id="area7" shape="rect"/>
   <area alt="" coords="218, 53, 760, 86" href="Verwende_PEPS_od_Maschinen_Strategie_OP_Start_Strategie_Register.htm" id="area8" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
