{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Taschenerodieren XXXCHANGED" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    口袋侵蚀
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    口袋
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     EDM 标签
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    用于完全清除较小的开口（口袋）。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    袖珍电火花加工是一个耗时的过程，通常在需要在没有操作员的情况下过夜切割较小的开口时使用。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果数控机床允许自动穿线和切割线，则可以在没有操作员的情况下例如在一夜之间形成多个开口。
   </font>
  </font>
 </p>
 <p class="hcp2">
  <img alt="" border="0" src="../Taschenerodieren_Bild.gif" style="border: none;"/>
 </p>
 <p>
 </p>
 <p style="color: #ff0000; font-style: italic;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    单击下图的各个区域可访问帮助文本。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="POCKET_shg.jpg" border="0" height="388" src="../POCKET_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="8, 219, 193, 282" href="Zuerst_ausraeumen.htm" id="area1" shape="rect"/>
   <area alt="" coords="12, 66, 204, 87" href="javascript:BSSCPopup('Verwende_beliebiges_Startloch.htm',400,600);" id="area2" shape="rect"/>
   <area alt="" coords="6, 285, 329, 329" href="javascript:BSSCPopup('Ueberlappung_Taschenerodieren.htm',400,600);" id="area3" shape="rect"/>
   <area alt="" coords="13, 114, 323, 172" href="Startloch_durchmesser.htm" shape="rect"/>
   <area alt="" coords="3, 1, 45, 21" href="Konik_lasche.htm" shape="rect"/>
   <area alt="" coords="249, 2, 303, 25" href="Optionen_Lasche_Standard_Konturbearbeitung.htm" shape="rect"/>
   <area alt="" coords="12, 47, 181, 68" href="javascript:BSSCPopup('Verwende_rundes_Startloch.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="157, 0, 247, 27" href="Rotationsachse_Register_Standard_Konturbearbeitung_.htm" shape="rect"/>
   <area alt="" coords="10, 331, 330, 385" href="javascript:BSSCPopup('Taschenerodieren_von_Bohrungen_Postprozessor_konfigurieren.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="12, 84, 184, 112" href="javascript:BSSCPopup('Aufmass_schruppen_schlichten_Std_Konturbearbeitung.htm',400,600);" id="area6" shape="rect"/>
   <area alt="" coords="9, 173, 313, 213" href="Startloch_erodieren_Taschenerodieren.htm" shape="rect"/>
  </map>
 </p>
 <p class="hcp2">
 </p>
 <p class="Tip_Note_Heading" style="margin-top: 4.00pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    它是这样完成的：
   </font>
  </font>
 </p>
 <p>
  <a href="Beispiel_Taschenerodieren_programmieren.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      程序口袋侵蚀
     </font>
    </font>
   </font>
  </a>
 </p>
 <p>
  <img alt="电影.gif" border="0" height="27" src="../MOVIE.jpg" width="auto"/>
  <a href="../Videos/Video__Taschenerodieren_V8.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      显示有关型腔腐蚀的样本影片
     </font>
    </font>
   </font>
  </a>
 </p>
 <p>
  <a href="Startposition_fuer_Taschenerodieren.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      自动确定型腔侵蚀的起始位置
     </font>
    </font>
   </font>
  </a>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
