
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Technologie Datenbank (Liste der Materialien)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Technologie Datenbank (Liste der Materialien)" %}</p><p>{% trans "Dieses Feld listet die Datenbankeinträge nach den in den Feldern [Filter Material], [Filter Dicke] und [Filter Oberflächengüte] eingestellten Suchkriterien auf." %}</p><p>{% trans "Sind [keine Filter] gesetzt, listet das System [alle] vorhandenen Datenbankeinträge auf. Beachten Sie, dass die Liste [erst dann neu aufgebaut] wird, wenn man auf die Schaltfläche [#Liste neu aufbauen#] klickt." %}</p>
<p>{% trans "Die Liste wird normalerweise verwendet, um eine Schneidtechnologie auszuwählen und diese der momentan gewählten Bearbeitungsoperation zuzuweisen." %}</p>
<script type="text/javascript" language="JavaScript1.2">
//&lt;![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('a1');
//]]&gt;
</script>

{% endblock %}
{% endlinebreakless %}
