{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Tech. ... (Technologie zuweisen) XXXBILDER ALT" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    font.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    技术。
   </font>
   <font style="vertical-align: inherit;">
    ...（分配技术）
   </font>
  </font>
 </p>
 <p>
 </p>
 <p style="color: #ff0000; font-style: italic;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    单击下图的各个区域可访问帮助文本。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="MULTIPLE_shg" border="0" height="110" src="../MEHRFACH_shg.jpg" usemap="#MAP542981257" width="auto"/>
  <map id="MAP542981257" name="MAP542981257">
   <area alt="" coords="3, 3, 43, 110" href="Tech______Technologie_zuweisen.htm" shape="rect"/>
   <area alt="" coords="46, 2, 137, 109" href="Extra_Techn_M_Cddes.htm" shape="rect"/>
  </map>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该按钮
   </font>
  </font>
  <img alt="3_points.jpg" border="0" height="20" src="../3_points.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    会打开一个对话框，您可以在其中为每次切割分配技术值。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    请注意，您可以使用对话框中
   </font>
   <font class="hcp2">
    <font style="vertical-align: inherit;">
     “技术”
    </font>
   </font>
   <font style="vertical-align: inherit;">
    中的
   </font>
  </font>
  <a href="Techno__logien.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “额外”
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项覆盖技术值。
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="TECH_FIL.jpg" border="0" height="185" src="../TECH_FIL.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    对话框中的选项可能因所使用的 NC 机床而异。
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     通常您会在这里找到当前级别
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    、
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     偏移量
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    、
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     冲洗参数
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    等设置
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p class="Beispiel">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    例子：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    大多数 NC 控制器都提供
   </font>
   <font style="vertical-align: inherit;">
    电源
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     选项。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这允许您为每个剪切分配单独的当前级别（例如 506）。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    另一方面，“偏移”选项为每个剪切分配一个偏移寄存器
   </font>
   <font style="vertical-align: inherit;">
    编号
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这意味着在对话框中输入 0、1 或 2 将对应于 NC 输出中的 D0、D1 或 D2。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    一旦确定，您可以将技术存储在技术数据库中。
   </font>
   <font style="vertical-align: inherit;">
    为此，请使用
   </font>
   <font class="hcp2">
    <font style="vertical-align: inherit;">
     “技术
    </font>
   </font>
   <font class="hcp2">
    <font style="vertical-align: inherit;">
     数据库”
    </font>
   </font>
   <font style="vertical-align: inherit;">
    字段中的
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “保存...”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    命令。
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
