{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Verwende vorheriges" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-family:Arial; }
    font.hcp2 { font-family:Arial;
    font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使用以前的
   </font>
  </font>
 </p>
 <p class="footnote_text" style="margin-bottom: 0.00pt;">
  <font class="hcp1" face="Arial">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font class="hcp1" face="Arial">
    <font style="vertical-align: inherit;">
     仅当存在多个
    </font>
   </font>
   <a href="Operation_starten.htm">
    <font class="hcp2" face="Arial">
     <font style="vertical-align: inherit;">
      操作启动
     </font>
    </font>
   </a>
  </font>
  <font style="font-weight: bold;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     时， “使用上一个”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font class="hcp1" face="Arial">
    <font style="vertical-align: inherit;">
     选项
    </font>
   </font>
   <font style="vertical-align: inherit;">
    才可用
   </font>
   <font class="hcp1" face="Arial">
    <font style="vertical-align: inherit;">
     。
    </font>
   </font>
  </font>
  <font class="hcp1" face="Arial">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <a href="Operation_starten.htm">
   <font class="hcp2" face="Arial">
    <font style="vertical-align: inherit;">
    </font>
   </font>
  </a>
  <font class="hcp1" face="Arial">
   <font style="vertical-align: inherit;">
   </font>
  </font>
 </p>
 <p class="footnote_text" style="margin-bottom: 0.00pt;">
  <font class="hcp1" face="Arial">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font class="hcp2" face="Arial">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     如果该选项处于活动状态，则使用先前
    </font>
   </font>
  </font>
  <font class="hcp2" face="Arial">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     加工操作
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font class="hcp1" face="Arial">
    <font style="vertical-align: inherit;">
     中定义的毛坯
    </font>
   </font>
  </font>
  <font class="hcp1" face="Arial">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     。
    </font>
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
