
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Verwende unregelmäßiges Startloch" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Verwende unregelmäßiges Startloch" %}</p><p>{% trans "Wird aktiviert, wenn das [#Startloch keine runde Form#] hat und eine [beliebige andere geometrische] Form als Startloch verwendet werden soll." %}</p><p>{% trans "Die Funktion aktiviert das Feld [Beliebiges Startloch], in der Sie die Figur die das unregelmäßige Startloch bildet, auswählen können." %}</p>
<p style="margin-top: 0; margin-bottom: 0;"> </p>
<p><img src="../poc_bel.gif" alt="poc_bel.gif" width="480" height="260" border="0"/></p>
<script type="text/javascript" language="JavaScript1.2">
//&lt;![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('a1');
//]]&gt;
</script>

{% endblock %}
{% endlinebreakless %}
