{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Werkstücke" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    工件
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    此处选择形成
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     工件（也称为
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     目标零件
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ）的实体
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <a href="../Simulation/Solid_Simulation.htm">
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      如果要在实体模拟
     </font>
    </font>
   </a>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     过程中进行目标零件比较
    </font>
   </font>
   <font style="vertical-align: inherit;">
    （
   </font>
   <font style="vertical-align: inherit;">
    加工毛坯与工件几何形状的比较），则
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     必须
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    定义
   </font>
   <font style="vertical-align: inherit;">
    工件。
   </font>
  </font>
  <a href="../Simulation/Solid_Simulation.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="模拟_目标零件比较_Erodieren.gif" border="0" height="306" src="../Simulation_Zielteilvergleich_Erodieren.gif" width="auto"/>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="工件_shg.gif" border="0" height="199" src="../Werkstuecke_shg.gif" usemap="#MAP748343943" width="auto"/>
  <map id="MAP748343943" name="MAP748343943">
   <area alt="" coords="8, 164, 87, 186" href="Solid_s_Werkstuecke_OP_Start_Rohteil_Register.htm" shape="rect"/>
   <area alt="" coords="98, 162, 176, 188" href="javascript:BSSCPopup('Loeschen_OP_Start_Rohteil_Rohteile.htm',400,300);" id="area1" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('area1');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
