{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Zuerst ausräumenXXXCHANGED" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    span.hcp1 { font-weight:bold; }
    font.hcp2 { font-weight:bold; }
    img.hcp3 { border:none; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    先清除掉
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    激活
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     无屑加工
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    功能。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果不激活此选项，
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     重叠
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    和
   </font>
  </font>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     起始孔径
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    字段将不会处于活动状态。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    标准方法
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    通过这种清理方法，轨道之间的距离始终相同。
   </font>
  </font>
 </p>
 <p>
  <img alt="" border="0" class="hcp3" src="../Taschenerodieren_Standardmethode_Methode"/>
 </p>
 <p>
 </p>
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    替代方法
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使用
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     替代方法
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，系统动态调整路径间距，以便获得最大可能的路径间距，从而减少切割次数。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这意味着在某些区域，路径间距可能大于预设。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    例如，
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     上
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    例的切割路径长度
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     为 932
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    毫米，而
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     下例的
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    切割路径长度仅为
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     850
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    毫米。
   </font>
  </font>
 </p>
 <p>
  <img alt="" border="0" class="hcp3" src="../Taschenerodieren_Alternative_Methode.jpg"/>
 </p>
 <p class="Hinweis">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    一个通知：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    请注意，使用
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     替代方法
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    时可能会发生“掉落部件” &nbsp; 。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
