{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Zurück zur Startposition" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp10.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
	 border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">
  <img alt="吴.gif" border="0" height="30" src="../Goh.gif" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    返回起始位置
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使 NC 机床
   </font>
   <font style="vertical-align: inherit;">
    移回到
   </font>
  </font>
  <a href="Operation_starten.htm">
   <font style="font-weight: bold;">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      “开始操作”对话框中指定的开始位置。
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="GOHOME_shg.jpg" border="0" height="178" src="../GOHOME_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="13, 68, 171, 88" href="javascript:BSSCPopup('Im_Vorschub_Zurueck_z_Startpos.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="11, 52, 169, 69" href="javascript:BSSCPopup('Im_Eilgang_Zurueck_z_Startpos.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="9, 97, 170, 114" href="javascript:BSSCPopup('Draht_geschnitten_Zurueck_z_Startpos.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="8, 117, 166, 134" href="javascript:BSSCPopup('Draht_eingefaedelt_Zurueck_z_Startpos.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="205, 44, 319, 71" href="javascript:BSSCPopup('OK_Zurueck_z_Startpos.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="204, 77, 318, 102" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area6" shape="rect"/>
   <area alt="" coords="204, 112, 320, 131" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area7" shape="rect"/>
   <area alt="" coords="205, 141, 320, 163" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area8" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
	FilePopupInit('area8');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
