{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Auswahl der Projektionsmethode" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    h2.hcp2 { margin-top:4.00pt;
    margin-bottom:0.00pt; }
    p.hcp3 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    投影方法的选择
   </font>
  </font>
 </p>
 <p class="Block_Text">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这些选项确定使用哪种方法来导出 2D 几何图形。
   </font>
  </font>
 </p>
 <p class="Block_Text">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    推导可以
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     自动完成（“
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <span style="font-weight: bold;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     自动检测侵蚀几何体
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ” 
 选项
   </font>
   <font style="vertical-align: inherit;">
    ），也可以通过选择单独的 3D 几何体（
   </font>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     面或边）
    </font>
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     手动
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    完成 
 （其他选项）
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p class="Block_Text">
 </p>
 <h2 class="hcp2">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    自动检测侵蚀几何体
   </font>
  </font>
 </h2>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    实体会
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     自动
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    搜索可腐蚀的二维几何形状。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    当您想要搜索
   </font>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     所有
    </font>
   </font>
   <font style="vertical-align: inherit;">
    现有实体 
 时，请使用
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “整个绘图”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项。
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果该选项未激活，则可以选择要搜索的实体。
   </font>
  </font>
 </p>
 <p class="hcp3">
 </p>
 <p>
  <img alt="Projections_Assis_Automatically_recognize" border="0" height="auto" src="../Projektions_Assis_Automatisch_erkennen.jpg" width="auto"/>
 </p>
 <p class="hcp3">
 </p>
 <h2 class="hcp2">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    连接面
   </font>
  </font>
 </h2>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    此方法允许您在实体模型中
   </font>
   <font style="vertical-align: inherit;">
    选择
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     垂直面。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    然后，系统会自动搜索与所选面连接的所有面，并从中导出 2D 几何形状。
   </font>
  </font>
 </p>
 <p class="hcp3">
 </p>
 <p>
  <img alt="Projections_Assis_Faces_connect" border="0" height="auto" src="../Projektions_Assis_Faces_verbinden.jpg" width="auto"/>
 </p>
 <p class="hcp3">
 </p>
 <h2 class="hcp2">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    上脸
   </font>
  </font>
 </h2>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    此方法允许您
   </font>
   <font style="vertical-align: inherit;">
    在实体模型中选择
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     一个或多个水平面。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    系统搜索所选面内的所有可腐蚀几何形状，并从中导出 2D 几何形状。
   </font>
  </font>
 </p>
 <p class="hcp3">
 </p>
 <p>
  <img alt="Projections_Assis_Oberes_Face" border="0" height="auto" src="../Projektions_Assis_Oberes_Face.jpg" width="auto"/>
 </p>
 <p class="hcp3">
 </p>
 <h2 class="hcp2">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    边缘
   </font>
  </font>
 </h2>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    此方法允许您选择
   </font>
   <font style="vertical-align: inherit;">
    实体模型内的
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     边。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    系统从选定的边创建 2D 几何图形。
   </font>
  </font>
 </p>
 <p class="hcp3">
 </p>
 <p>
  <img alt="Projections_Assis_Kanten" border="0" height="auto" src="../Projektions_Assis_Kanten.jpg" width="auto"/>
 </p>
 <p class="hcp3">
 </p>
 <h2 class="hcp2">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    手动选择
   </font>
  </font>
 </h2>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    此方法允许您
   </font>
   <font style="vertical-align: inherit;">
    在实体模型中选择
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     一个或多个垂直面。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    系统从选定的面创建 2D 几何图形。
   </font>
  </font>
 </p>
 <p class="hcp3">
 </p>
 <p>
  <img alt="Projections_Assis_Manual_Selection" border="0" height="auto" src="../Projektions_Assis_Manuelle_Auswahl.jpg" width="auto"/>
 </p>


{% endblock %}
{% endlinebreakless %}
