
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Bearbeitungsfigur abrunden" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000;  border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">{% trans "@ Bearbeitungsfigur abrunden" %}</p><p>{% trans "Mit dieser Funktion können Sie Figuren an deren, äußeren und inneren Ecken mit einem unterschiedlichem Radius verrunden." %}</p><p>{% trans "Sie können den Befehl für geschlossene und offene Figurgeometrien verwenden." %}</p>
<p>{% trans "Bei einigen CNC-Steuerungen muss der Befehl unbedingt [vor] einer Bearbeitung angewendet werden, um den Drahtradius an inneren Ecken zu kompensieren." %}</p>
<p class="hcp2"> </p>
<p class="pitalic">{% trans "[Klicken Sie auf die einzelnen Bereiche des folgenden Bildes, um Hilfetexte aufzurufen.]" %}</p>
<p class="hcp2"> </p>
<p><img src="../ABRUND_shg.gif" usemap="#AreaMap0" alt="ABRUND_shg.gif" width="425" height="301" border="0"/>
<map name="AreaMap0" id="AreaMap0">
<area shape="rect" coords="324, 274, 420, 298" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area1" alt=""/>
<area shape="rect" coords="216, 32, 418, 134" href="javascript:BSSCPopup('Methode_Figur_verrunden.htm',400,600);" id="area2" alt=""/>
<area shape="rect" coords="216, 140, 420, 267" href="javascript:BSSCPopup('Werte_Figur_verrunden.htm',400,600);" id="area3" alt=""/>
<area shape="rect" coords="10, 275, 105, 295" href="javascript:BSSCPopup('../Commdata/COMMON_Ausfuehren_Anwenden.htm',400,300);" id="area4" alt=""/>
<area shape="rect" coords="113, 272, 208, 296" href="javascript:BSSCPopup('../Commdata/COMMON_Schliessen.htm',400,300);" id="area5" alt=""/>
<area shape="rect" coords="223, 276, 315, 299" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area6" alt=""/>
<area shape="rect" coords="14, 215, 156, 239" href="Vorschau_vor_Ausfuehrung_Figur_verrunden.htm" alt=""/>
<area shape="rect" coords="13, 238, 204, 262" href="javascript:BSSCPopup('Fehlerpunkte_anzeigen_Figur_verrunden.htm',400,300);" id="area7" alt=""/>
<area shape="rect" coords="20, 162, 204, 189" href="javascript:BSSCPopup('../Commdata/COMMON_Elemente_waehlen_Button.htm',400,300);" id="area8" alt=""/>
<area shape="rect" coords="13, 29, 209, 158" href="javascript:BSSCPopup('Liste_der_zu_verrundenden_Figuren_Figur_Verrunden.htm',400,300);" id="area9" alt=""/>
</map> </p>
<p class="hcp2"> </p>
<p class="Hinweis">{% trans "Hinweis:" %}</p>
<p>{% trans "Sie können diesen Befehl auch verwenden, um 'Schleifen' an den Eckradien zu erzeugen. Geben Sie zu diesem Zweck einen [negativen Radius] ein." %}</p>
<script type="text/javascript" language="JavaScript1.2">//&lt;![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
	FilePopupInit('area8');
	FilePopupInit('area9');
//]]&gt;</script>

{% endblock %}
{% endlinebreakless %}
