{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Synchronisationslinien erzeugen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    li.hcp2 { font-size:9pt; }
    font.hcp3 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Tip_Note_Heading">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    创建同步线
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    初始情况：有两个加工直纹面的加工图形。
   </font>
   <font style="vertical-align: inherit;">
    这些应该为使用同步线的受控表面处理做好准备。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果没有同步线，加工结果就会失真。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="同步线_Exa_1.gif" border="0" height="245" src="../Synchronisationslinien_Exa_1.gif" width="764"/>
 </p>
 <p class="hcp1">
 </p>
 <ul>
  <li class="hcp2">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       从“准备”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      菜单中，调用
     </font>
    </font>
    <a href="Synchronisationslinien.htm">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        “同步线”
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      命令
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p class="Prompts">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选择较低级别：
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp2">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       单击下
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      直纹表面层的编辑图
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p class="Prompts">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选择顶层：
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp2">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       单击上
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      直纹表面层的编辑图
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p class="Prompts">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    输入同步线的起点：
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp2">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       使用捕捉端点
      </font>
     </font>
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       捕捉功能
      </font>
     </font>
     <font style="vertical-align: inherit;">
      确定
     </font>
     <font style="vertical-align: inherit;">
      第一条同步线的
     </font>
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       起点
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
     </font>
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
     </font>
    </font>
    <font style="vertical-align: inherit;">
    </font>
   </p>
  </li>
 </ul>
 <p class="Prompts">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    输入同步线的起点：
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp2">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       使用捕捉
      </font>
     </font>
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       垂直捕捉功能
      </font>
     </font>
     <font style="vertical-align: inherit;">
      确定
     </font>
     <font style="vertical-align: inherit;">
      第一条同步线的
     </font>
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       末端
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
     </font>
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
     </font>
    </font>
    <font style="vertical-align: inherit;">
    </font>
   </p>
  </li>
 </ul>
 <p class="hcp1">
 </p>
 <p>
  <img alt="同步线_Exa_2.gif" border="0" height="245" src="../Synchronisationslinien_Exa_2.gif" width="529"/>
 </p>
 <p class="hcp1">
 </p>
 <p class="Prompts">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    输入同步线的起点：
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp2">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      以同样的方式确定其余3条同步线。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p class="hcp1">
 </p>
 <p>
  <img alt="同步线_Exa_3.gif" border="0" height="245" src="../Synchronisationslinien_Exa_3.gif" width="452"/>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     提示：另请注意
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     右键
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    单击上下文菜单中的选项
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
   <font style="vertical-align: inherit;">
    您可以使用它
   </font>
  </font>
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     来删除
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    、
   </font>
  </font>
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     复制
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    、
   </font>
  </font>
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     镜像
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    等现有同步线。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="BUTT_SYN_shg.gif" border="0" height="198" src="../BUTT_SYN_shg.gif" usemap="#AreaMap0" width="274"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="0,88,211,104" href="javascript:BSSCPopup('KopTra_Synchronisationslinien.htm');" id="area1" shape="rect"/>
   <area alt="" coords="0,110,211,127" href="javascript:BSSCPopup('KopRot_Synchronisationslinien.htm');" id="area2" shape="rect"/>
   <area alt="" coords="0,131,211,146" href="javascript:BSSCPopup('Spiegeln_Synchronisationslinien.htm');" id="area3" shape="rect"/>
   <area alt="" coords="0,68,211,84" href="javascript:BSSCPopup('Loesche_Synchronisationslinien.htm');" id="area4" shape="rect"/>
   <area alt="" coords="1,23,122,42" href="javascript:BSSCPopup('../CommonHelp3/Neuzei_Offset_erzeugen.htm');" id="area5" shape="rect"/>
   <area alt="" coords="1,44,110,66" href="javascript:BSSCPopup('../CommonHelp3/Rueckg_Klinkung.htm');" id="area6" shape="rect"/>
   <area alt="" coords="2, 149, 201, 168" href="Waehle_Synchronisations_Optionen_Synchronisationslinien.htm" shape="rect"/>
  </map>
 </p>
 <ul>
  <li class="hcp2">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       使用“结束”
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      选项结束命令
     </font>
     <font style="vertical-align: inherit;">
      （请参见
     </font>
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       鼠标右键
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      或
     </font>
    </font>
    <font class="hcp3">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       水平图标栏
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      ）。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp2">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      创建
     </font>
    </font>
    <a href="../wirhlp10/Regelflaechenbearbeitung____.htm">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        规则曲面编辑
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      并激活对话框中的
     </font>
    </font>
    <a href="../wirhlp10/Synchronisationslinien_in_dialog_Regelflaeche.htm">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        同步线
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      复选框。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="同步线_Exa_4.gif" border="0" height="245" src="../Synchronisationslinien_Exa_4.gif" width="764"/>
 </p>
 <ul>
  <li class="hcp2">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      模拟加工，例如使用
     </font>
    </font>
    <a href="../Simulation/Solid_Simulation.htm">
     <font class="hcp3">
      <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;">
        实体模拟
       </font>
      </font>
     </font>
    </a>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p>
  <img alt="同步线_Exa_5.gif" border="0" height="289" src="../Synchronisationslinien_Exa_5.gif" width="240"/>
 </p>
 <p class="hcp1">
 </p>
 <p class="Topic_Text_Bulleted" style="text-indent: -9.45pt;">
  <font class="hcp3" color="#0000FF">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     一个通知
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    您可以通过
   </font>
  </font>
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     双击
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    红色
   </font>
  </font>
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     同步
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    线来编辑并随后更改同步线。
   </font>
  </font>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('area1');
        FilePopupInit('area2');
        FilePopupInit('area3');
        FilePopupInit('area4');
        FilePopupInit('area5');
        FilePopupInit('area6');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
