{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Bezugsebenen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { font-weight:bold; }
    span.hcp2 { font-weight:normal; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    参考平面
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这些选项确定高程变化的输入所指的级别。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    可以使用以下选项：
   </font>
  </font>
 </p>
 <p class="hcp1">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    与Z0相关的绝对高度
   </font>
  </font>
 </p>
 <p class="hcp1">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    高度与参考高度相关
   </font>
  </font>
 </p>
 <p style="font-weight: bold; text-indent: -28.35pt;">
  <span class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     和
    </font>
   </font>
  </span>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     和
    </font>
   </font>
  </span>
 </p>
 <p class="hcp1">
  <span style="text-indent: -28.35pt;">
   <font style="font-weight: bold;">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      参考平面高度
     </font>
    </font>
   </font>
  </span>
 </p>
 <p style="margin-top: 0; margin-bottom: 0;">
 </p>
 <p>
  <img alt="参考安全.gif" border="0" height="309" src="../REFSEC.jpg" width="auto"/>
 </p>


{% endblock %}
{% endlinebreakless %}
