{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Das Vorbereitung Menü" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
    font.hcp3 { font-family:Symbol;
    font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <h1>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    准备菜单
   </font>
  </font>
 </h1>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     在“准备”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    菜单中
   </font>
   <font style="vertical-align: inherit;">
    ，您将找到用于创建和操作加工图形的命令以及用于准备实际加工编程的命令。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="WIR9_shg.gif" border="0" height="288" src="../WIR9_shg.gif" usemap="#AreaMap0" width="847"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="1, 29, 226, 59" href="Linien_Boegen_Bearbeitungsfigur.htm" shape="rect"/>
   <area alt="" coords="2, 59, 225, 88" href="Auto_Matritzen_und_Stempel.htm" shape="rect"/>
   <area alt="" coords="440, 32, 603, 63" href="Synchronisationslinien.htm" shape="rect"/>
   <area alt="" coords="614, 88, 840, 119" href="Variable_Bearbeitungsebenen____.htm" shape="rect"/>
   <area alt="" coords="614, 60, 839, 90" href="Zusaetzliche_M_Codes_Kommentare_u_a_____.htm" shape="rect"/>
   <area alt="" coords="608, 30, 834, 64" href="Zusaetzliche_Technologien____.htm" shape="rect"/>
   <area alt="" coords="446, 61, 613, 90" href="Zusaetzliche_Anbindungen.htm" shape="rect"/>
   <area alt="" coords="443, 90, 614, 127" href="Mehrfache_Einfahrpunkte.htm" shape="rect"/>
   <area alt="" coords="3, 200, 180, 233" href="Eckenfreimachung.htm" shape="rect"/>
   <area alt="" coords="1, 168, 181, 198" href="Schnittluftaenderung____.htm" shape="rect"/>
   <area alt="" coords="185, 233, 373, 266" href="Sektoren_AGIEVISION_.htm" shape="rect"/>
   <area alt="" coords="2, 234, 183, 265" href="Bearbeitungsfigur_abrunden____.htm" shape="rect"/>
   <area alt="" coords="183, 201, 370, 231" href="Optimales_Startloch_ermitteln.htm" shape="rect"/>
   <area alt="" coords="186, 166, 372, 200" href="Offset_pruefen.htm" shape="rect"/>
   <area alt="" coords="228, 93, 432, 127" href="NURB_Surface_Kurve_projizieren.htm" shape="rect"/>
   <area alt="" coords="226, 60, 435, 90" href="Drahtmodell_Projektions_Assistent.htm" shape="rect"/>
   <area alt="" coords="226, 30, 438, 65" href="Solid_Projektions_Assistent.htm" shape="rect"/>
   <area alt="" coords="2, 87, 184, 121" href="Offene_Figuren_bearbeiten.htm" shape="rect"/>
   <area alt="" coords="380, 166, 440, 279" href="Ausfallteil_aufteilen.htm" shape="rect"/>
   <area alt="" coords="441, 169, 492, 280" href="Das_Diverses_Menue.htm" shape="rect"/>
   <area alt="" coords="494, 174, 558, 279" href="Das_Drehstahl_Menue.htm" shape="rect"/>
   <area alt="" coords="560, 169, 612, 282" href="javascript:BSSCPopup('../Commdata/Hilfeaufruf_in_Arbeit.htm',400,300);" id="area1" shape="rect"/>
  </map>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    您将找到使用同步线准备规则表面加工、定义附加固定杆以及将任何技术或 NC 代码集成到加工图形中的命令。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在此菜单中，您还可以为直纹面加工和辅助图形指定可变加工级别，这些级别也用于直纹面加工。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    上面提到的许多准备功能都使用
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     彩色符号
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    显示在图形中。
   </font>
   <font style="vertical-align: inherit;">
    之间有以下区别：
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p class="Punkttaps">
  <font class="hcp1" color="#0000FF">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     蓝色
    </font>
   </font>
  </font>
  <font class="hcp3" color="#0000FF" face="Symbol">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     ð
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    （符号：
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     方形
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ）连接（支撑杆）
   </font>
  </font>
 </p>
 <p class="Punkttaps">
  <font class="hcp1" color="#FF00FF">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     Magenta
    </font>
   </font>
  </font>
  <font class="hcp3" color="#FF00FF" face="Symbol">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     ð
    </font>
   </font>
  </font>
  <font color="#FF00FF" size="4" style="font-size: 12pt;">
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    （符号：
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     方形
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ）角策略
   </font>
  </font>
 </p>
 <p class="Punkttaps">
  <font class="hcp1" color="#FF00FF">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     品红色
    </font>
   </font>
  </font>
  <font class="hcp3" color="#FF00FF" face="Symbol">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     O
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    （符号：
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     圆圈
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ） 技术变革点
   </font>
  </font>
 </p>
 <p class="Punkttaps">
  <font class="hcp1" color="#00FF00">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     绿色
    </font>
   </font>
  </font>
  <font class="hcp3" color="#00FF00" face="Symbol">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     O
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    （符号：
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     圆圈
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ） M 代码、任意 NC 代码
   </font>
  </font>
 </p>
 <p class="Punkttaps">
  <font class="hcp1" color="#FF00FF">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     洋红色
    </font>
   </font>
  </font>
  <font class="hcp3" color="#FF00FF" face="Symbol">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     D
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    （符号：
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     三角形
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ） 可变编辑级别
   </font>
  </font>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('area1');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
