
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Das Diverses Menü XXXJUMP" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <h1>{% trans "Das Diverses Menü" %}</h1><p class="hcp1"> </p>
<p>{% trans "Im Menü [Diverses] finden Sie Befehle um Hilfsfiguren zu erzeugen, sowie Befehle um Bearbeitungsfiguren zu manipulieren." %}</p>
<p> </p>
<p class="pitalic">{% trans "[Klicken Sie auf die einzelnen Bereiche des folgenden Bildes, um Hilfetexte aufzurufen.]" %}</p>
<p class="hcp1"> </p>
<p><img src="../WIR9a_shg.gif" usemap="#AreaMap0" alt="WIR9a_shg.gif" width="291" height="280" border="0"/>
<map name="AreaMap0" id="AreaMap0">
<area shape="rect" coords="-3, 62, 287, 102" href="Sekundaerfigur_TWIST_erzeugen.htm" alt=""/>
<area shape="rect" coords="-3, 100, 283, 132" href="Sekundaerfigur_erzeugen____.htm" alt=""/>
<area shape="rect" coords="-3, 131, 283, 161" href="Figur_projizieren____.htm" alt=""/>
<area shape="rect" coords="-1, 159, 285, 189" href="Kreise_Boegen_Mehrfachfigur.htm" alt=""/>
<area shape="rect" coords="-2, 187, 285, 218" href="In_ISO_Linie_Bogen_Linie_umwandeln____.htm" alt=""/>
<area shape="rect" coords="-2, 216, 285, 248" href="Radienmanipulation.htm" alt=""/>
</map>  </p>

{% endblock %}
{% endlinebreakless %}
