{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Drahtmodell - Projektions-Assistent_Beispiel_2_Kurven" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    span.hcp1 { font-weight:bold; }
    img.hcp2 { border:none; }
    p.hcp3 { font-size:10pt; }
    span.hcp4 { font-size:10pt; }
    font.hcp5 { font-size:10pt; }
    font.hcp6 { font-size:10pt;
    font-weight:bold; }
    a.hcp7 { font-weight:bold; }
    span.hcp8 { font-size:10pt;
    font-weight:bold; }
    p.hcp9 { font-size:10pt;
    font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    两条 3D 曲线的投影
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    以下示例演示如何从
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     两条 3D 曲线
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    导出两个平面 XY 几何图形。
   </font>
  </font>
 </p>
 <p>
  <img alt="" border="0" class="hcp2" src="../Wire_Projection_Wiz_2"/>
 </p>
 <p class="hcp3">
  <img alt="" border="0" class="hcp2" src="../Wire_Projection_Wiz_Exa_1_1"/>
 </p>
 <p>
  <span class="hcp4">
   <font class="hcp5" size="2">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      使用
     </font>
    </font>
   </font>
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “
    </font>
   </font>
  </span>
  <font class="hcp6" size="2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     选择曲线 &gt;&gt;”按钮
    </font>
   </font>
  </font>
  <span class="hcp4">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     并选择
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font class="hcp5" size="2">
    <span class="hcp1">
     <font style="vertical-align: inherit;">
      第一条
     </font>
    </span>
   </font>
  </font>
  <font class="hcp5" size="2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     3D 曲线的几何形状
    </font>
    <font style="vertical-align: inherit;">
     。
    </font>
   </font>
   <span class="hcp1">
    <font style="vertical-align: inherit;">
    </font>
   </span>
   <font style="vertical-align: inherit;">
   </font>
  </font>
 </p>
 <p class="hcp3">
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     注意
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ：允许的几何类型有：
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     直线/圆弧
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    、
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     边线
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    和
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     NURBS 曲线
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p>
  <font class="hcp6" size="2">
   <span style="font-size: 10pt; font-weight: normal;">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      这
     </font>
    </font>
   </span>
   <span class="hcp4">
   </span>
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     红色感叹号
    </font>
   </font>
   <span class="hcp1">
   </span>
  </font>
  <font class="hcp5" size="2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     变为
    </font>
   </font>
  </font>
  <font class="hcp6" size="2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     绿色勾号
    </font>
   </font>
  </font>
  <font class="hcp5" size="2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     ，表示已选择合适的 3D 曲线。
    </font>
   </font>
  </font>
 </p>
 <p>
 </p>
 <p class="hcp3">
  <img alt="" border="0" class="hcp2" src="../Wire_Projection_Wiz_Exa_1_2"/>
 </p>
 <p>
  <font>
   <span class="hcp4">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      选择
     </font>
    </font>
   </span>
  </font>
  <font class="hcp6" size="2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “下一步 &gt;”按钮
    </font>
   </font>
  </font>
  <font class="hcp5" size="2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     打开下一个对话框：
    </font>
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <img alt="" border="0" class="hcp2" src="../Wire_Projection_Wiz_Exa_1_3"/>
 </p>
 <p>
  <span class="hcp4">
   <font class="hcp5" size="2">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      使用
     </font>
    </font>
   </font>
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “
    </font>
   </font>
  </span>
  <font class="hcp6" size="2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     选择曲线 &gt;&gt;”按钮
    </font>
   </font>
  </font>
  <span class="hcp4">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     并选择
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font class="hcp5" size="2">
    <span class="hcp1">
     <font style="vertical-align: inherit;">
      第二条
     </font>
    </span>
   </font>
  </font>
  <font class="hcp5" size="2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     3D 曲线的几何形状
    </font>
    <font style="vertical-align: inherit;">
     。
    </font>
   </font>
   <span class="hcp1">
    <font style="vertical-align: inherit;">
    </font>
   </span>
   <font style="vertical-align: inherit;">
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <img alt="" border="0" class="hcp2" src="../Wire_Projection_Wiz_Exa_1_4"/>
 </p>
 <p class="hcp3">
  <font style="vertical-align: inherit;">
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “反向”
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    按钮
   </font>
   <font style="vertical-align: inherit;">
    允许您更改曲线的方向（由红色箭头指示）。
   </font>
  </font>
 </p>
 <p class="hcp3">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    两条曲线的
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     方向
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    必须
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     相同
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <img alt="" border="0" class="hcp2" src="../Wire_Projection_Wiz_Exa_1_5"/>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选择
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “选择参考线”
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    按钮并选择
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     至少一条参考线
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    （
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     请参阅：
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    上图中的垂直线）。
   </font>
  </font>
 </p>
 <p>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     引导线与
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <a class="hcp7" href="../wirhlp10/Beispiel_Regelflaeche_mit_Synchronisationslinien_erodieren.htm">
    <font style="vertical-align: inherit;">
     编程直纹曲面
    </font>
   </a>
   <font style="vertical-align: inherit;">
    时
   </font>
   <font style="vertical-align: inherit;">
    使用的
   </font>
  </font>
  <span class="hcp1">
   <a href="Beispiel_Synchronisationslinien_erzeugen.htm">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      同步线
     </font>
    </font>
   </a>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    类似。
   </font>
  </font>
  <a class="hcp7" href="../wirhlp10/Beispiel_Regelflaeche_mit_Synchronisationslinien_erodieren.htm">
   <font style="vertical-align: inherit;">
   </font>
  </a>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p class="Hinweis">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    重要的提示：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     没有
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    可用的参考线，则必须使用
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “绘制参考线”
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    按钮并
   </font>
   <font style="vertical-align: inherit;">
    绘制
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     至少一条参考线。
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    然后您必须选择绘制的引导线。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <img alt="" border="0" class="hcp2" src="../Wire_Projection_Wiz_Exa_1_6"/>
 </p>
 <p>
  <font class="hcp6" size="2">
   <font class="hcp5" size="2">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      上
     </font>
    </font>
   </font>
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     投影
    </font>
   </font>
  </font>
 </p>
 <p class="hcp3">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在此字段中，输入
   </font>
   <span class="hcp1">
    <font style="vertical-align: inherit;">
     上
    </font>
   </span>
   <span class="hcp1">
    <font style="vertical-align: inherit;">
     直纹曲面几何图形
    </font>
   </span>
   <font style="vertical-align: inherit;">
    应投影到的
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     Z 高度
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </span>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </span>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font class="hcp6" size="2">
   <span class="hcp8">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      较低的
     </font>
    </font>
   </span>
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     投影
    </font>
   </font>
  </font>
 </p>
 <p class="hcp3">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在此字段中，输入
   </font>
   <span class="hcp1">
    <font style="vertical-align: inherit;">
     下
    </font>
   </span>
   <span class="hcp1">
    <font style="vertical-align: inherit;">
     直纹曲面几何图形
    </font>
   </span>
   <font style="vertical-align: inherit;">
    应投影到的
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     Z 高度
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </span>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </span>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p class="hcp9">
  <span class="hcp8">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     将区域与相同数量的元素对齐
    </font>
   </font>
  </span>
 </p>
 <p class="hcp3">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果该选项处于活动状态，则会
   </font>
   <font style="vertical-align: inherit;">
    对下/上直纹曲面几何形状执行
   </font>
  </font>
  <a class="BSSCPopup" href="javascript:void(0);" id="a1" onclick="BSSCPopup('../wirhlp10/Proportionale_Synchronisation.htm',400,600);return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);" style="font-weight: bold;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     比例同步。
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p class="hcp3">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果不是，则下/上直纹曲面几何体的单元端部相互连接。
   </font>
  </font>
 </p>
 <p>
  <font class="hcp6" size="2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     创建人物
    </font>
   </font>
  </font>
 </p>
 <p class="hcp3">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果您想创建
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     图形
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    而不是
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     直线/圆弧
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，请激活此选项。
   </font>
  </font>
 </p>
 <p>
  <font>
   <span class="hcp8">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      角色名称规范
     </font>
    </font>
   </span>
  </font>
 </p>
 <p class="hcp3">
  Falls
  <span class="hcp1">
   Figuren
  </span>
  erzeugt werden sollen, hier den Namen der Figur (z.B.
  <span class="hcp1">
   Fig_
  </span>
  ) eingeben. Das System macht daraus
  <span class="hcp1">
   Fig_
  </span>
  001 und
  <span class="hcp1">
   Fig_
  </span>
  002.
 </p>
 <p class="hcp9">
  Projektionstoleranz
 </p>
 <p class="hcp3">
  Steuert wie genau die Linien/Boegen der projizierten Geometrie werden.
 </p>
 <p class="hcp3">
  Je kleiner der Wert, desto genau die projizierten Geometrien. Wir empfehlen einen Wert von 0.001.
 </p>
 <p>
 </p>
 <p class="hcp3">
  Klicken Sie nun auf die Schaltflaeche
  <font style="font-weight: bold;">
   Projezieren
  </font>
  , um die beiden planaren Regelflaechengeometrien abzuleiten.
 </p>
 <p class="hcp3">
 </p>
 <p class="hcp3">
  Das folgende Bild zeigt in der Mitte die beiden projizierten Regelflaechengeometrie, plus Fuehrungen und darueber/darunter die zu projizierenden 3D Geometrien.
 </p>
 <p class="hcp3">
  <img alt="" border="0" class="hcp2" src="../Wire_Projection_Wiz_Exa_1_7.jpg"/>
 </p>
 <p>
  <font>
   <span class="hcp4">
    Beenden Sie den Dialog mit
   </span>
  </font>
  <font class="hcp6" size="2">
   Fertig
  </font>
  <font class="hcp5" size="2">
   .
  </font>
 </p>
 <p>
  Die
  <span class="hcp4">
   beiden erzeugten planaren Regelflaechengeometrien sollten jetzt noch in
   <a class="hcp7" href="Linien_Boegen_Bearbeitungsfigur.htm">
    Bearbeitungsfiguren
   </a>
   inkl. Startpunkten umgewandelt werden.
  </span>
 </p>
 <p class="hcp3">
  Anschliessend koennen Sie die Bearbeitungsfiguren fuer die
  <a class="hcp7" href="../wirhlp10/Regelflaechenbearbeitung____.htm">
   Regelflaechenprogrammierung
  </a>
  verwenden.
 </p>
 <p>
 </p>
 <p>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('a1');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
