{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Drehstahlbearbeitung" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
    font.hcp3 { font-style:italic; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
	 border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">
  <img alt="旋转工具" border="0" height="34" src="../turntool.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    车削钢加工
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    车削钢模块根据以下角度信息计算型材车削钢线蚀所需的投影几何形状：
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     前角、
    </font>
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     侧
    </font>
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     角
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    和
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     前角。
    </font>
   </font>
  </font>
 </p>
 <p>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     另请参见：
    </font>
   </font>
  </font>
  <a href="Beispiel_Drehstahl_programmieren.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      车刀编程
     </font>
    </font>
   </font>
  </a>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font class="hcp3" color="#FF0000">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="DREHSTA_shg.jpg" border="0" height="509" src="../DREHSTA_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="13, 31, 214, 190" href="javascript:BSSCPopup('Spanwinkel_frontaler_Freiwinkel_seitlicher_Freiwinkel_Drehstahlbearbeitung.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="222, 37, 446, 217" href="javascript:BSSCPopup('../Commdata/COMMON_Bild.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="6, 478, 88, 507" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="95, 477, 180, 499" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="192, 475, 276, 500" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="315, 479, 450, 503" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area6" shape="rect"/>
   <area alt="" coords="10, 391, 215, 415" href="javascript:BSSCPopup('Frontaler_Freiwinkel_durch_Vorrichtung__Drehstahlbearbeitung.htm',400,300);" id="area7" shape="rect"/>
   <area alt="" coords="11, 441, 162, 462" href="javascript:BSSCPopup('Bearbeitung_erzeugen_Drehstahlbearbeitung.htm',400,300);" id="area8" shape="rect"/>
   <area alt="" coords="230, 443, 387, 468" href="javascript:BSSCPopup('Ausgabe_ISO_Radien_Drehstahlbearbeitung.htm',400,300);" id="area9" shape="rect"/>
   <area alt="" coords="11, 204, 208, 256" href="javascript:BSSCPopup('Zu_bearbeitende_Figur_Drehstahlbearbeitung.htm',400,300);" id="area10" shape="rect"/>
   <area alt="" coords="228, 223, 386, 250" href="javascript:BSSCPopup('Drehstahlschneide_unten_Drehstahlbeabeitung.htm',400,300);" id="area11" shape="rect"/>
   <area alt="" coords="224, 351, 446, 379" href="javascript:BSSCPopup('Versatz_zur_Mitte_Drehstahlbearbeitung.htm',400,300);" id="area12" shape="rect"/>
   <area alt="" coords="10, 416, 150, 440" href="javascript:BSSCPopup('Ausgabe_variable_Konik_Drehstahlbearbeitung.htm',400,300);" id="area13" shape="rect"/>
   <area alt="" coords="230, 420, 390, 441" href="javascript:BSSCPopup('Ausgabe_Parameter_als_Text_Drehstahlbearbeitung.htm',400,300);" id="area14" shape="rect"/>
   <area alt="" coords="10, 259, 210, 307" href="javascript:BSSCPopup('Punkt_fuer_Winkelwechsel_Drehstahlbearbeitung.htm',400,300);" id="area15" shape="rect"/>
  </map>
 </p>
 <p>
 </p>
 <h2 style="margin-top: 4.00pt; margin-bottom: 0.00pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    几何创建
   </font>
  </font>
 </h2>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    对于计算，必须
   </font>
   <font style="vertical-align: inherit;">
    在 X 轴
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     下方、
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     右 X/Y
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    (-) 象限中创建车削零件的几何形状。
   </font>
   <font style="vertical-align: inherit;">
    由于车削零件的最小直径对投影起决定性作用，因此所有直径尺寸均应真实绘制，即以X轴代表旋转轴为参考，必须将几何形状转换为
   </font>
   <font style="vertical-align: inherit;">
    加工
   </font>
  </font>
  <a href="Linien_Boegen_Bearbeitungsfigur.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      图形。
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    人物
   </font>
   <font style="vertical-align: inherit;">
    的
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     方向感必然是
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     从左到右
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
   <font style="vertical-align: inherit;">
    根据输入的角度（前角、侧向间隙角和前角）和自动确定的最小车削零件直径来计算几何变形。
   </font>
   <font style="vertical-align: inherit;">
    首先，根据输入的角度创建圆锥曲线。
   </font>
   <font style="vertical-align: inherit;">
    如果几何上可行，则使用
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     ISO
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    （恒定半径）作为拐角模式。
   </font>
   <font style="vertical-align: inherit;">
    使用这两个数字计算轮廓变形。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该宏提供两个图形作为输出，它们与直纹曲面程序相结合，提供车削零件几何形状的 NC 数据。
   </font>
   <font style="vertical-align: inherit;">
    这些数字以下列形式发布：
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     上图：
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    图名=
   </font>
  </font>
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     上面车削钢材
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
   <font style="vertical-align: inherit;">
    图形颜色 =
   </font>
  </font>
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     绿色
    </font>
   </font>
  </font>
 </p>
 <p>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     下图：
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    图名=
   </font>
  </font>
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     下图车削钢材
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
   <font style="vertical-align: inherit;">
    图颜色=
   </font>
  </font>
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     红色
    </font>
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这两个图形之间的距离取决于编程的参考高度和辅助高度。
   </font>
   <font style="vertical-align: inherit;">
    这意味着必须在调用车削钢材宏之前
   </font>
   <font style="vertical-align: inherit;">
    启动
   </font>
  </font>
  <a href="../wirhlp10/Operation_starten.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      操作。
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在某些情况下，由于几何原因，下图可能会出现倒扣。
   </font>
   <font style="vertical-align: inherit;">
    例如，对于几何上不允许使用角模式 ISO 的所有过渡（例如过渡线 -&gt; 圆 -&gt; 圆），情况就是如此。
   </font>
   <font style="vertical-align: inherit;">
    建议将参考高度和辅助高度之间的距离定义得尽可能小（例如 0.5）。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p class="Hinweis">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    一个通知：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    车削
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     钢加工
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    功能 
 是可选的。
   </font>
  </font>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
	FilePopupInit('area8');
	FilePopupInit('area9');
	FilePopupInit('area10');
	FilePopupInit('area11');
	FilePopupInit('area12');
	FilePopupInit('area13');
	FilePopupInit('area14');
	FilePopupInit('area15');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
