
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Durchmesser" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Durchmesser" %}</p><p>{% trans "Stellt den Durchmesser des gesuchten Startlochs ein. Sind mehrere Durchmesser vorhanden, können Sie die Suche im Feld [Max.] durch einen maximalen gesuchten Durchmesser begrenzen." %}</p>
<p>{% trans "Verwenden Sie die Schaltfläche [&amp;gt;&amp;gt;] um den Durchmesser in der Zeichnung abzugreifen." %}</p>

{% endblock %}
{% endlinebreakless %}
