{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Eckenfreimachung" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
	 border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">
  <img alt="角间隙" border="0" height="28" src="../Eckfreimach.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    拐角间隙
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     如果要在印章导板的拐角处留出间隙，则可以使用“角间隙”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    命令
   </font>
   <font style="vertical-align: inherit;">
    ，这样印章就不会卡在导板拐角处。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该命令会自动执行该过程，使您无需事后手动更改引导几何形状。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    调用该命令后，系统会要求用户选择应应用拐角间隙的加工图形。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    用鼠标左键单击该图。
   </font>
   <font style="vertical-align: inherit;">
    选择图形后，将调用一个对话框。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选择拐角间隙的类型（槽、方形、圆形或环形）并输入尺寸。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    单击“
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     应用到所有角”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    按钮修改所有角，或单击
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “确定”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    按钮选择单个角。
   </font>
  </font>
  <br/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    每个邮资均由一个洋红色小矩形表示。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="角落清理" border="0" height="185" src="../Eckenfreimach.jpg" width="auto"/>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="Eckenfreimach_dialog.jpg" border="0" height="524" src="../Eckenfreimach_dialog.jpg" width="auto"/>
 </p>
 <p class="hcp2">
 </p>
 <p class="Block_Text">
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     它是这样完成的：
    </font>
   </font>
  </font>
 </p>
 <p>
  <a href="Beispiel_Eckenfreimachung_bestimmen.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      确定拐角间隙
     </font>
    </font>
   </font>
  </a>
 </p>
 <p>
  <a href="Beispiel_Eckenfreimachung_nachtraeglich_veraendern.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      稍后更改拐角间隙
     </font>
    </font>
   </font>
  </a>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     如果使用OK
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    关闭对话框
   </font>
   <font style="vertical-align: inherit;">
    ，则可以使用三个转换选项：
   </font>
  </font>
 </p>
 <p>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     复制+移动
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    、
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     复制+旋转
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    和
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     镜像
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    （参见
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     鼠标右键
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    或
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     水平图标栏
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ）。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这些选项用于允许复制现有拐角间隙符号的对称形状。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="BUTT_Eckenfreimach.jpg" border="0" height="200" src="../BUTT_Eckenfreimach.jpg" width="auto"/>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    另请注意
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “删除”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项 
 （请参见
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     鼠标右键
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    或
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     水平图标栏
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ），该选项允许您删除不需要的角清除符号。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “编辑”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项
   </font>
   <font style="vertical-align: inherit;">
    允许您编辑现有的角间隙符号以更改其参数。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p class="Hinweis">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    重要的提示：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     仅
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     当
    </font>
   </font>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     激活
    </font>
   </font>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     “设置处理”
    </font>
   </font>
   <font style="vertical-align: inherit;">
    对话框中的“
   </font>
   <a href="../wirhlp10/Ecken_Strategie.htm">
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      拐角间隙”
     </font>
    </font>
   </a>
   <font style="vertical-align: inherit;">
    复选框
   </font>
   <font style="vertical-align: inherit;">
    时，
   </font>
   <font style="vertical-align: inherit;">
    拐角间隙才会
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     显示
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在模拟图形中
   </font>
   <font style="vertical-align: inherit;">
    （参见下图）：
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <a href="../wirhlp10/Ecken_Strategie.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="角落清理" border="0" height="61" src="../Eckenfreimach1.jpg" width="auto"/>
 </p>


{% endblock %}
{% endlinebreakless %}
