{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Eject Register" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    弹出寄存器
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    一些线蚀机具有自动去除缺陷零件的装置（弹出器或缺陷零件处理器）。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    机器将缺陷部件处理器定位在缺陷部件上方可确定的 XY 坐标上，由此处理器撞击缺陷部件。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使用此对话框中的选项，您可以指定在创建图形时应将故障零件处理放置在哪个 XY 坐标处。
   </font>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0;">
 </p>
 <p>
  <img alt="CREPRFG5_shg.jpg" border="0" height="auto" src="../CREPRFG5_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="19, 75, 356, 127" href="javascript:BSSCPopup('Digitalisiere_Ejectpunkt_Lin_Bof_Bea_figur.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="17, 125, 292, 143" href="javascript:BSSCPopup('Schwerpunkt_der_Figur_als_Ejectpunkt_verwenden.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="17, 144, 279, 162" href="javascript:BSSCPopup('Startloch_der_Figur_als_Ejektpunkt_verwenden.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="12, 39, 92, 60" href="Linien_Boegen_Bearbeitungsfigur.htm" shape="rect"/>
   <area alt="" coords="97, 40, 153, 60" href="Optionen_Register_Linien_Boegen_Bearbeitungsfigur.htm" shape="rect"/>
   <area alt="" coords="154, 40, 196, 61" href="Report_Register_Lin_Bof_Bea_figur.htm" shape="rect"/>
   <area alt="" coords="21, 472, 115, 499" href="javascript:BSSCPopup('../Commdata/COMMON_Schliessen.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="129, 474, 235, 497" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="264, 472, 350, 493" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area6" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
