{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "FeatureManager (Einstellungen) XXXBILDER ALT" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    功能管理器（设置）
   </font>
  </font>
 </p>
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    小图标/中图标
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <a href="../WIRE_Expert_FeatureManager/WIRE_Expert_FeatureManager.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     确定在FeatureManager 设计树
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    中显示的图标的大小
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    下图左侧显示小图标，右侧显示中等大小的图标。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="Icon_Size.jpg" border="0" height="266" src="../Icon_Size.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <p class="Tip_Note_Heading">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    显示快速帮助
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    指定
   </font>
   <font style="vertical-align: inherit;">
    当您将鼠标光标置于对话框条目上时是否应显示
   </font>
  </font>
  <font style="font-weight: bold;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     简短帮助。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
