{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Figur projizieren oder skalieren" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    font.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
	 border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">
  <img alt="Fig_proj_scale.jpg" border="0" height="29" src="../Fig_proj_scale.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    项目或比例图
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该命令允许您从定义不平行（倾斜）于 XY 平面的图形创建到 XY 平面中 Z0 的投影。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该命令还允许对图形进行不同的缩放（X 和 Y 的不同因子）。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="图_proj_1" border="0" height="210" src="../fig_proj_1.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    投影命令的典型应用可以在线蚀模块中找到，例如，当必须对角地穿过工件（对角滑块）切割孔时。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在这里，首先在 XY 平面上创建孔几何图形，然后旋转所需的角度。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    由于无法编辑旋转的图形（位于空间中），因此需要将图形投影到 XY 平面上。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="PROJECT_shg.jpg" border="0" height="300" src="../PROJECT_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="14, 174, 150, 198" href="javascript:BSSCPopup('Maximale_Abweichung.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="13, 48, 202, 98" href="javascript:BSSCPopup('Zu_projizierende_Figur.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="14, 107, 204, 157" href="javascript:BSSCPopup('Neuer_Figurname_Projektion.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="305, 39, 380, 57" href="XYZ_Skalieren_Figur_projizieren_skalieren.htm" shape="rect"/>
   <area alt="" coords="210, 37, 302, 58" href="javascript:BSSCPopup('Normale_der_Figur_In_Z.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="16, 265, 148, 288" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="156, 263, 288, 287" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area6" shape="rect"/>
   <area alt="" coords="291, 264, 427, 286" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area7" shape="rect"/>
   <area alt="" coords="216, 72, 428, 257" href="javascript:BSSCPopup('../Commdata/COMMON_Bild.htm',400,300);" id="area8" shape="rect"/>
  </map>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <a href="../wirhlp10/Standard_Konturbearbeitung____.htm">
   <font class="hcp2">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      投影后，您可以使用标准轮廓编辑
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    功能和
   </font>
  </font>
  <a href="../wirhlp10/Schraegschieber_Ikone_Konik_Register_Std_Konturbearb.htm">
   <font class="hcp2">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      编辑倾斜滑块
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项来编辑图形
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     做法如下：
    </font>
   </font>
   <br/>
  </font>
  <a href="Beispiel_Figur_unterschiedlich_in_X_und_Y_skalieren.htm">
   <font class="hcp2">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      在 X 和 Y 方向上以不同的方式缩放图形
     </font>
    </font>
   </font>
  </a>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
	FilePopupInit('area8');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
