{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Matrizen- &sol; Stempeltyp" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    p.hcp2 { margin-left:170.10pt;
    text-indent:-113.40pt; }
    font.hcp3 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    冲模/冲头类型
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该列表框包含系统在自动生成冲头和冲模图形时识别的几何形状。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    您可以为每个几何形状分配起始孔位置的单独设置。
   </font>
   <font style="vertical-align: inherit;">
    选择几何形状时，系统会显示一个位图，以图形方式显示该形状、典型的起始孔位置及其参数位置。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    存在以下几何形状：
   </font>
  </font>
 </p>
 <p>
 </p>
 <p class="hcp2">
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     圆形
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    圆形印章/模具
   </font>
  </font>
 </p>
 <p class="hcp2">
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     矩形
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    矩形冲头/冲模
   </font>
  </font>
 </p>
 <p class="hcp2">
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     矩形 圆形
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    矩形邮票/模具的四个角为圆形
   </font>
  </font>
 </p>
 <p class="hcp2">
  <font class="hcp3">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    长孔类型的
   </font>
   <font class="hcp3">
    <font style="vertical-align: inherit;">
     长孔几何形状
    </font>
   </font>
  </font>
 </p>
 <p class="hcp2">
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     L 形
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    L 形冲头/模具
   </font>
  </font>
 </p>
 <p class="hcp2">
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     D-Form / DD-Form
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    D 和 DD 形冲头/模具
   </font>
  </font>
 </p>
 <p class="hcp2">
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     任何轮廓
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    任何其他闭合形状
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font class="hcp3">
    <font style="vertical-align: inherit;">
     请注意，可以使用“保存
    </font>
   </font>
  </font>
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     设置”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    按钮 
 保存
   </font>
   <font style="vertical-align: inherit;">
    每个形状的设置 
 以供将来的 PEPS 会话使用。
   </font>
  </font>
  <font class="hcp3">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     （使用搜索方案
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    时此选项不活动
   </font>
   <font style="vertical-align: inherit;">
    ）。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
