{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Matrizen Register" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    矩阵寄存器
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果您 
 希望
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     几何
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    元素自动转换为
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     矩阵
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    类型的加工图形（加工图形
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     中的
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    起始孔） ，请选择“矩阵”选项卡。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font style="font-weight: bold; text-decoration: underline; ">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     预先在
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <a href="Filter_Auto_Matritzen_Stempel.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      “过滤器”
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项卡中正确设置
   </font>
   <font style="vertical-align: inherit;">
    选项
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     请注意，选择元素时，系统首先选择所有选定的元素，无论
    </font>
   </font>
  </font>
  <font class="hcp1">
   <a href="Filter_Auto_Matritzen_Stempel.htm">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      “过滤器”
     </font>
    </font>
   </a>
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     选项卡中的设置如何。
    </font>
   </font>
  </font>
 </p>
 <p>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     只有完成元素选择后，系统才会将过滤器允许的形状转换为加工
    </font>
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     图形
    </font>
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     。
    </font>
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选择
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     矩阵&gt;&gt;
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    按钮 
 用于选择要
   </font>
   <font style="vertical-align: inherit;">
    转换为
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     矩阵类型加工图形的元素。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="QUI_D_P2_shg.jpg" border="0" height="auto" src="../QUI_D_P2_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="25, 88, 152, 116" href="javascript:BSSCPopup('Startloch_zentrieren_Auto_Mat_Stemp.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="25, 113, 231, 134" href="javascript:BSSCPopup('Einfahrabstand_Auto_Matritzen_Stempel.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="244, 85, 384, 218" href="javascript:BSSCPopup('../Commdata/COMMON_Bild.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="64, 44, 110, 62" href="Stempel_Auto_Matritzen_Stempel.htm" shape="rect"/>
   <area alt="" coords="112, 44, 152, 62" href="Filter_Auto_Matritzen_Stempel.htm" shape="rect"/>
   <area alt="" coords="24, 144, 231, 171" href="javascript:BSSCPopup('Winkel_zur_Normalen_Auto_Matritzen_Stempel.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="24, 177, 233, 206" href="javascript:BSSCPopup('Umfangs_Parameter_Auto_Matritzen_Stempel.htm',400,600);" id="area5" shape="rect"/>
   <area alt="" coords="237, 229, 387, 271" href="javascript:BSSCPopup('Matrizen_Stempeltyp_Auto_Mat_Stemp.htm',400,600);" id="area6" shape="rect"/>
   <area alt="" coords="11, 366, 115, 389" href="javascript:BSSCPopup('Waehle_Matrizen_Stempel_Auto_Mat_Stemp.htm',400,300);" id="area7" shape="rect"/>
   <area alt="" coords="22, 273, 384, 348" href="javascript:BSSCPopup('Schnittschemen_Auto_Matritzen_Stempel.htm',400,500);" id="area8" shape="rect"/>
   <area alt="" coords="120, 369, 209, 389" href="../Commdata/COMMON_Schliessen.htm" shape="rect"/>
   <area alt="" coords="213, 369, 306, 389" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area9" shape="rect"/>
   <area alt="" coords="312, 367, 400, 388" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area10" shape="rect"/>
   <area alt="" coords="23, 217, 231, 264" href="Startloch_Suchschema_Auto_Mat_Stemp.htm" shape="rect"/>
   <area alt="" coords="157, 42, 208, 59" href="Optionen_Auto_Matritzen_Stempel.htm" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
	FilePopupInit('area8');
	FilePopupInit('area9');
	FilePopupInit('area10');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
