{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Mehrfache Einfahrpunkte" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
	 border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">
  <img alt="Multiple_Entries.jpg" border="0" height="27" src="../Multiple_Entries.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    多个入口点
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    当使用多次切削加工几何体时，您可以使用此命令为每次单独的重切削指定不同的逼近位置。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该命令专门用于编辑矩阵；它不能用于图章几何形状。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    通常，该命令用于避免在重新切割期间导线始终接近同一位置时可能出现的接近标记。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在许多情况下，重新切割的起点仅偏移几毫米就足够了。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    但请注意，某些 CNC 控制器仅允许垂直接近。
   </font>
   <font style="vertical-align: inherit;">
    在这些情况下，您应该将起点偏移 90 度。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="Multiple_Einfahrpu1.gif" border="0" height="174" src="../Mehrfach_Einfahrpu1.gif" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="Multiple_Einfahrpu_shg.gif" border="0" height="247" src="../Mehrfach_Einfahrpu_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="9, 29, 273, 78" href="javascript:BSSCPopup('Figurname_Mehrfache_Einfahrpunkte.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="8, 78, 272, 145" href="javascript:BSSCPopup('Startpunkt_Mehrfache_Einfahrpunkte.htm',500,500);" id="area2" shape="rect"/>
   <area alt="" coords="17, 153, 90, 176" href="javascript:BSSCPopup('Hinzufuegen_Mehrfache_Einfahrpunkte.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="17, 181, 92, 204" href="javascript:BSSCPopup('Loeschen_Mehrfache_Einfahrpunkte.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="97, 148, 272, 211" href="javascript:BSSCPopup('Optionen_Mehrfache_Einfahrpunkte.htm',400,600);" id="area5" shape="rect"/>
   <area alt="" coords="9, 217, 107, 239" href="javascript:BSSCPopup('../Commdata/COMMON_Schliessen.htm',400,300);" id="area6" shape="rect"/>
   <area alt="" coords="112, 219, 233, 242" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area7" shape="rect"/>
   <area alt="" coords="238,213,335,238" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area8" shape="rect"/>
   <area alt="" coords="291, 45, 325, 77" href="Common_049.chm::/CommonHelp5/Ausschnitt.htm" shape="rect"/>
   <area alt="" coords="292, 125, 325, 159" href="Common_049.chm::/CommonHelp5/Neuzeichnen_Mag.htm" shape="rect"/>
   <area alt="" coords="288, 84, 326, 117" href="Common_049.chm::/CommonHelp5/Vorher_Auschnitt.htm" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
	FilePopupInit('area8');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
