{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "NURB-Surface&sol;Kurve projizieren" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
	 border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">
  <img alt="NURBS_Surf_Curve_proj.jpg" border="0" height="auto" src="../NURBS_Surf_Curve_proj.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    项目 NURB 曲面/曲线
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     此命令的NURBS 曲线
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项卡允许您以
   </font>
   <font style="vertical-align: inherit;">
    创建位于可确定的参考高度或辅助平面上的两个 XY 平面图形的方式
   </font>
   <font style="vertical-align: inherit;">
    投影 3D
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     NURBS 曲线。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使用
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “NURBS 曲面”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项卡 
 ，您可以投影其外边界曲线不在参考高度或辅助平面上的 NURBS 曲面，从而创建位于可定义的参考高度或辅助平面上的两个新图形。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="NURBW6.jpg" border="0" height="auto" src="../NURBW6.jpg" width="auto"/>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="NUS_PRJ_1_shg.jpg" border="0" height="auto" src="../NUS_PRJ_1_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="104,34,192,53" href="NURBS_Surface_Register_NURBS_Surface_Kurve_projizieren.htm" shape="rect"/>
   <area alt="" coords="192,34,245,52" href="Optionen_Register_NURBS_Surface_Kurve_projizieren.htm" shape="rect"/>
   <area alt="" coords="27,86,302,140" href="javascript:BSSCPopup('Auf_Referenzhoehe_Sekundaerebene_NUS_projizieren.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="24,140,306,173" href="javascript:BSSCPopup('Konikwinkel_NUS_projizieren.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="13,185,110,208" href="javascript:BSSCPopup('../Commdata/COMMON_Elemente_waehlen_Button.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="116,186,210,209" href="javascript:BSSCPopup('../Commdata/COMMON_Schliessen.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="213,183,312,209" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area5" shape="rect"/>
  </map>
 </p>
 <p class="hcp2">
 </p>
 <p style="font-weight: bold;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    它是这样完成的：
   </font>
  </font>
 </p>
 <p>
  <a href="Beispiel_3D_NURBS_Kurve_unter_einem_Winkel_auf_Referenz_und_Sekundaerebene_projizieren.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      在参考平面和辅助平面上以一定角度投影 3D NURBS 曲线
     </font>
    </font>
   </font>
  </a>
 </p>
 <p>
  <a href="Beispiel_Berandungskurve_eines_NURBS_Surfaces_auf_Referenz_und_Sekundaerebene_projizieren.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      将 NURBS 曲面的边界曲线投影到参考平面和辅助平面上
     </font>
    </font>
   </font>
  </a>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
