{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Optionen Register" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项选项卡
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    您可以在此处设置投影几何图形应包含哪些几何元素以及应以何种精度创建几何图形。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="NUS_PRJ_Options_shg.gif" border="0" height="221" src="../NUS_PRJ_Options_shg.gif" usemap="#AreaMap0" width="320"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="22,59,308,83" href="javascript:BSSCPopup('Als_Spline_ausgeben_NUS_Projizieren.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="19,86,304,110" href="javascript:BSSCPopup('Vektorisierungstoleranz_NUS_Projizieren.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="102,34,190,54" href="NURB_Surface_Kurve_projizieren.htm" shape="rect"/>
   <area alt="" coords="13,189,107,209" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="113,187,210,209" href="javascript:BSSCPopup('../Commdata/COMMON_Schliessen.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="214,186,309,209" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="14,37,98,53" href="NURB_Surface_Kurve_projizieren.htm" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('area1');
        FilePopupInit('area2');
        FilePopupInit('area3');
        FilePopupInit('area4');
        FilePopupInit('area5');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
