{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Optionen (Auto Matrizen Stempel)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项（自动模具印记）
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在此选项卡中，您可以设置在创建图形时是否应自动关闭任何几何间隙（直线/圆弧连接的公差）以及是否应减少几何元素的数量。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="QUI_D_P7_shg.jpg" border="0" height="397" src="../QUI_D_P7_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="15, 42, 66, 61" href="Matrizen_Auto_Matritzen_Stempel.htm" shape="rect"/>
   <area alt="" coords="65, 42, 114, 62" href="Stempel_Auto_Matritzen_Stempel.htm" shape="rect"/>
   <area alt="" coords="114, 41, 153, 60" href="Filter_Auto_Matritzen_Stempel.htm" shape="rect"/>
   <area alt="" coords="15, 190, 401, 234" href="javascript:BSSCPopup('Reduktion_Optionen_Register_Auto_Matritze.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="121, 360, 213, 386" href="javascript:BSSCPopup('../Commdata/COMMON_Schliessen.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="8, 366, 115, 388" href="javascript:BSSCPopup('../Commdata/COMMON_Nicht_verwendete_Funktion.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="223, 364, 313, 388" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="320,360,410,383" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="13, 237, 399, 312" href="javascript:BSSCPopup('Report_Optionen_Optionen_Register_Auto_Matritze.htm',400,300);" id="area6" shape="rect"/>
   <area alt="" coords="18, 151, 407, 189" href="javascript:BSSCPopup('Toleranz_fuer_Linien_Bogenverbindung_Linien_Boegen_Bearbeitungsfigur.htm',400,300);" id="area7" shape="rect"/>
   <area alt="" coords="16, 65, 406, 138" href="javascript:BSSCPopup('Vorgabe_fuer_Figurnamen_Optionen_Register_Auto_Matritze.htm',400,300);" id="area8" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
	FilePopupInit('area8');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
