{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Optimales Startloch ermitteln" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    li.hcp2 { font-size:9pt; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
	 border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">
  <img alt="最好的" border="0" height="29" src="../BESTSTHL.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    确定最佳起始孔
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该命令确定现有加工图形的最有利的起始（孔）位置以及最大可能的起始孔半径。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该指令改变加工图形的开始（孔）位置和加工开始位置。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    当要在无屑加工过程中确定最大可能的起始孔及其最佳位置时，特别需要使用该命令。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="STARTLO.jpg" border="0" height="358" src="../STARTLO.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <p class="Tip_Note_Heading">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    方法：
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp2">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击要更改起始（孔）位置的图形（！必须是编辑图形！）。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp2">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      系统自动计算新的起始（孔）位置，并在必要时移动图形上的加工起始位置。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp2">
   <p class="Topic_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      执行命令后，新的起始（孔）位置和起始孔的最大可能半径将显示在
     </font>
    </font>
    <font style="font-weight: bold;">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       输出窗口
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      中 
	 。
     </font>
    </font>
   </p>
  </li>
 </ul>


{% endblock %}
{% endlinebreakless %}
