
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Positionierung (Sektor)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Positionierung (Sektor)" %}</p><p>{% trans "Diese Funktion erlaubt es, einen Teilbereich einer Bearbeitungsfigur im [Positioniermodus] (ohne Materialabtrag) zu bearbeiten." %}</p>
<p style="margin-top: 0; margin-bottom: 0;"> </p>
<p><img src="../Sektoren_AV4.gif" alt="Sektoren_AV4.gif" width="361" height="68" border="0"/></p>

{% endblock %}
{% endlinebreakless %}
