
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "PROJECT THROUGH A SINGLE SHAPE BY A CONSTANT ANGLEXXX" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    p.hcp2 { text-align:center; }
    font.hcp3 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "PROJECT THROUGH A SINGLE SHAPE BY A CONSTANT ANGLE" %}</p><p class="hcp1"> </p>
<p class="hcp2"/>
<p class="hcp1"> </p>
<p>{% trans "Pick the [Select Profile&amp;gt;&amp;gt;] Button and choose the First Profile Figure." %}</p>
<p>{% trans "The [Red Exclamation Mark] changes to a [Green Tick] indicating that a profile has been selected." %}</p>
<p class="hcp1"> </p>
<p class="hcp2"/>
<p class="hcp1"> </p>
<p>{% trans "Pick the [Next] Button, to move on." %}</p>
<p class="hcp1"> </p>
<p class="hcp2"/>
<p>{% trans "Type in the required [Angle]." %}</p>
<p>{% trans "Select the required [Taper Orientation] Button." %}</p>
<p class="hcp1"> </p>
<p class="hcp2"/>
<p class="hcp1"> </p>
<p>{% trans "[Upper Projection]" %}</p>
<p>{% trans "Tick/Enable and enter a Height for it to be produced." %}</p>
<p class="hcp1"> </p>
<p>{% trans "[Lower Projection]" %}</p>
<p>{% trans "Tick/Enable and enter a Height for it to be produced." %}</p>
<p class="hcp1"> </p>
<p>{% trans "[Equalise sections with equal span count]" %}</p>
<p>{% trans "Tick/Enable for the two Profiles will be linked using proportional linear equalisation if not enabled the corresponding span ends of the two will be linked" %}</p>
<p class="hcp1"> </p>
<p>{% trans "[Produce Figures]" %}</p>
<p>{% trans "Tick/Enable to Produce Figures instead of Line/Arcs." %}</p>
<p class="hcp1"> </p>
<p>{% trans "[Figure Name Prefix]" %}</p>
<p>{% trans "Will be required if Figures are to be produced." %}</p>
<p class="hcp1"> </p>
<p>{% trans "[Projection Tolerance]" %}</p>
<p>{% trans "Controls how the Lines/Arcs are vectored when generating the projected geometry." %}</p>
<p>{% trans "The lower the value the more accurate the projected geometry is." %}</p>
<p class="hcp1"> </p>
<p>{% trans "Pick the [Project] Button, to produce required Projection(s)." %}</p>
<p class="hcp1"> </p>
<p class="hcp2"><img src="../WizardProfileProjections2.gif" alt="WizardProfileProjections2.gif" width="16" height="16" border="0"/></p>
<p class="hcp1"> </p>
<p>{% trans "Pick the [Finish] Button." %}</p>

{% endblock %}
{% endlinebreakless %}
