{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Report Register" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
    font.hcp2 { font-style:italic; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    报告登记
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在此对话框选项卡中，您可以设置在创建图形后是否输出有关图形的周长、面积、重心、最小半径等的报告。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    此外，您可以对小于或大于特定值的几何元素进行颜色编码。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font class="hcp2" color="#FF0000">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下
    </font>
   </font>
  </font>
  <font class="hcp2" color="#FF0000">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     图的各个区域
    </font>
   </font>
  </font>
  <font class="hcp2" color="#FF0000">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     可调用帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="creprfg4_shg.jpg" border="0" height="503" src="../creprfg4_shg.jpg" usemap="#MAP696149760" width="auto"/>
  <map id="MAP696149760" name="MAP696149760">
   <area alt="" coords="14, 63, 289, 89" href="javascript:BSSCPopup('Report_anzeigen_Lin_Bof_Bea_figur.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="9, 93, 361, 231" href="Bogenradius_Lin_Bof_Bea_figur.htm" shape="rect"/>
   <area alt="" coords="15, 235, 347, 323" href="javascript:BSSCPopup('Elementlaenge_Lin_Bof_Bea_figur.htm',400,600);" id="area2" shape="rect"/>
   <area alt="" coords="12, 328, 341, 420" href="javascript:BSSCPopup('Zusaetzliche_Report_Optionen_Lin_Bof_Bea_figur.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="11, 477, 120, 496" href="javascript:BSSCPopup('../Commdata/COMMON_Schliessen.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="131, 472, 242, 497" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="251, 472, 366, 495" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area6" shape="rect"/>
   <area alt="" coords="14, 42, 94, 59" href="Linien_Boegen_Bearbeitungsfigur.htm" shape="rect"/>
   <area alt="" coords="95, 41, 149, 60" href="Optionen_Register_Linien_Boegen_Bearbeitungsfigur.htm" shape="rect"/>
   <area alt="" coords="194, 39, 230, 58" href="Eject_Register_Lin_Bof_Bea_figur.htm" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
