
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Schnittluftänderung" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000;  border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">{% trans "@ Schnittluftänderung" %}</p><p>{% trans "Der Befehl [Schnittluftänderung] wird verwendet, um einen [konstanten Offset] (Parallelkontur) an einen bestimmbaren Teil einer Bearbeitungsfigur anzubringen." %}</p><p> </p>
<p style="color: #ff0000; font-style: italic;">{% trans "Klicken Sie auf die einzelnen Bereiche des folgenden Bildes, um Hilfetexte aufzurufen." %}</p>
<p> </p>
<p><img src="../schnittl.gif" alt="schnittl.gif" usemap="#MAP544795604" width="388" height="351" border="0"/>
<map id="MAP544795604" name="MAP544795604">
<area shape="rect" coords="2, 24, 373, 146" href="Schnittluftaenderung_-_Parameter.htm" alt=""/>
<area shape="rect" coords="187, 148, 381, 309" href="Schnittluftaenderung_-_Parameter.htm" alt=""/>
<area shape="rect" coords="4, 268, 184, 309" href="Schnittluftaenderung_-_Parameter.htm" alt=""/>
<area shape="rect" coords="7, 151, 182, 257" href="javascript:BSSCPopup('../Commdata/COMMON_Bild.htm',400,300);" id="area1" alt=""/>
<area shape="rect" coords="10, 312, 85, 342" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area2" alt=""/>
<area shape="rect" coords="97, 315, 169, 339" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area3" alt=""/>
<area shape="rect" coords="185, 317, 283, 341" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area4" alt=""/>
<area shape="rect" coords="294, 313, 366, 337" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area5" alt=""/>
</map> </p>
<p style="margin-top: 0; margin-bottom: 0;"> </p>
<p>{% trans "Der Befehl wird besonders dann verwendet, wenn die Schnittluftänderung nicht mit dem Befehl [Standard Konturbearbeitung] im Menü [Bearbeitung] erzeugt werden kann und deshalb eine geometrische Veränderung der Bearbeitungsfigur erforderlich ist." %}</p>
<p><img src="../SCHNITLU.gif" alt="SCHNITLU.gif" width="300" height="375" border="0"/></p>
<p>{% trans "Der Befehl verändert die gewählte Bearbeitungsfigur und erzeugt keine Kopie der Figur, die mit dem Offset versehen ist." %}</p>
<p>{% trans "Falls Sie die Originalfigur (die ohne Offset) zusätzlich benötigen, so erzeugen Sie [vor] Anwendung des Befehls [Schnittluft ändern] eine Kopie der Figur." %}</p>
<p>{% trans "Wie für alle Figuren gilt auch hier, dass die Sie Figur nachträglich mit dem Befehl [Figur] [editieren] verändern können." %}</p>
<p> </p>
<p class="dialog">{% trans "So wird es gemacht:" %}</p>
<p>{% trans "#Schnittluftänderung in eine Bearbeitungsfigur einbringen#" %}</p>
<script type="text/javascript" language="JavaScript1.2">//&lt;![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
//]]&gt;</script>

{% endblock %}
{% endlinebreakless %}
