{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Schnittluftänderung" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
	 border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">
  <img alt="偏移量.gif" border="0" height="28" src="../Offsetse.gif" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    切割空气更换
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     切割空气更改
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    命令
   </font>
   <font style="vertical-align: inherit;">
    用于将
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     恒定偏移
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    （平行轮廓）应用于加工图形的可确定部分。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p style="color: #ff0000; font-style: italic;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    单击下图的各个区域可访问帮助文本。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <img alt="剖面图" border="0" height="351" src="../schnittl.gif" usemap="#MAP544795604" width="auto"/>
  <map id="MAP544795604" name="MAP544795604">
   <area alt="" coords="2, 24, 373, 146" href="Schnittluftaenderung_-_Parameter.htm" shape="rect"/>
   <area alt="" coords="187, 148, 381, 309" href="Schnittluftaenderung_-_Parameter.htm" shape="rect"/>
   <area alt="" coords="4, 268, 184, 309" href="Schnittluftaenderung_-_Parameter.htm" shape="rect"/>
   <area alt="" coords="7, 151, 182, 257" href="javascript:BSSCPopup('../Commdata/COMMON_Bild.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="10, 312, 85, 342" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="97, 315, 169, 339" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="185, 317, 283, 341" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="294, 313, 366, 337" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area5" shape="rect"/>
  </map>
 </p>
 <p style="margin-top: 0; margin-bottom: 0;">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     当无法使用“加工”
    </font>
   </font>
   <font style="vertical-align: inherit;">
    菜单中的
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “标准轮廓加工”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    命令创建切削空气更换
   </font>
   <font style="vertical-align: inherit;">
    且因此需要对加工图形进行几何更改时，特别需要使用该命令。
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <img alt="施尼特鲁.gif" border="0" height="375" src="../SCHNITLU.jpg" width="auto"/>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该命令更改选定的编辑图窗，并且不会创建具有偏移的图窗的副本。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果您还需要原始图形（没有偏移的图形），请在
   </font>
   <font style="vertical-align: inherit;">
    使用
   </font>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     “更改剪切空气”命令
    </font>
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     之前
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    创建图形的副本 
 。
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     与所有图形一样，您可以稍后使用“编辑
    </font>
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     图形”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    命令更改图形
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
 </p>
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    它是这样完成的：
   </font>
  </font>
 </p>
 <p>
  <a href="Beispiel_Schnittluftaenderung.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     将切削空气变化引入加工图形中
    </font>
   </font>
  </a>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
