
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Sekundärfigur erzeugen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">{% trans "@ Sekundärfigur erzeugen" %}</p><p>{% trans "In einigen Fällen ist es notwendig, eine Regelfläche zu schneiden, deren z.B. obere Figur sich nur unwesentlich von der unteren Figur unterscheidet." %}</p>
<p>{% trans "Der Unterschied könnte beispielsweise darin bestehen, dass einige Elemente der oberen Figur eine Konik aufweisen." %}</p>
<p>{% trans "Um die obere Figur nicht komplett neu zeichnen zu müssen, wurde der Befehl [Sekundärfigur erzeugen] eingeführt." %}</p>
<p>{% trans "Der Befehl erzeugt eine Kopie der Originalfigur (Sekundärfigur). Die Geometrieelemente der Sekundärfigur können anschließend mit einer Konik versehen werden." %}</p>
<p>{% trans "Der Befehl führt zu einem Dialog, in der Sie der Sekundärfigur eine umlaufend gleiche oder variable Konik zuordnen können." %}</p>
<p style="margin-top: 0; margin-bottom: 0;"> </p>
<p><img src="../Sekund.gif" alt="Sekund.gif" width="431" height="287" border="0"/></p>
<p class="Tip_Note_Heading">{% trans "So wird es gemacht" %}</p>
<p>{% trans "#[Sekundärfigur erzeugen]#" %}</p>

{% endblock %}
{% endlinebreakless %}
