{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Startlochpositionen testen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <img align="left" alt="Search_Hole_ico_2.jpg" border="0" height="auto" src="../Search_Hole_ico_2.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    测试起始孔位置
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    显示系统会找到哪些起始块，但不创建处理图形。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选择图标后，将选择窗口拖动到几何图形上。
   </font>
   <font style="vertical-align: inherit;">
    然后系统用蓝色 C 点标记起始孔位置。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
