
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Startloch = Einfügeposition der Figur" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Startloch = Einfügeposition der Figur" %}</p><p>{% trans "Die Einfügeposition hat nur dann eine Bedeutung, wenn weitere Kopien einer vorhandenen Bearbeitungsfigur erzeugt werden sollen." %}</p>
<p>{% trans "Dies kann mit der Optionen [Kopieren] oder [Figur einfügen] der Dialog [Figur Optionen] oder dem Befehl #[Kreise/Bögen =&amp;gt; Mehrfachfigur]# im Menü [Vorbereitung \ Diverses] geschehen." %}</p>
<p>{% trans "Ist die Option [Startloch = Einfügeposition der Figur] aktiv, verwendet das System bei Kopiervorgängen [die Startlochposition als Ei][n][fügeposition]." %}</p>
<p>{% trans "Siehe auch #[Einfügeposition]#." %}</p>

{% endblock %}
{% endlinebreakless %}
