{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Startloch Suchschema erzeugen, laden, ändern XXXBILDER" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <img align="left" alt="Search_Hole_ico_1.jpg" border="0" height="auto" src="../Search_Hole_ico_1.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    起点：创建、加载、更改搜索方案
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该图标会导致另一个对话。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="Search_Hole_1.jpg" border="0" height="auto" src="../Search_Hole_1.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="Search_Hole_ico_6.jpg" border="0" height="auto" src="../Search_Hole_ico_6.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    删除当前选择的搜索方案。
   </font>
  </font>
 </p>
 <p>
  <img alt="Search_Hole_ico_5.jpg" border="0" height="auto" src="../Search_Hole_ico_5.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    更改当前选择的搜索方案。
   </font>
  </font>
 </p>
 <p>
  <img alt="Search_Hole_ico_5.jpg" border="0" height="auto" src="../Search_Hole_ico_5.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    创建新的搜索方案。
   </font>
   <font style="vertical-align: inherit;">
    打开一个用于设置搜索方案的对话框：
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="Search_Hole_2_shg.jpg" border="0" height="auto" src="../Search_Hole_2_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="13,33,269,63" href="javascript:BSSCPopup('Suchschemaname_Startloch_Suchschema.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="6,63,272,95" href="javascript:BSSCPopup('Startlochtyp_Startloch_Suchschema.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="12,104,261,184" href="javascript:BSSCPopup('Farbe_Linienart_Layer_Startloch_Suchschema.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="14,187,258,211" href="javascript:BSSCPopup('Durchmesser_Startloch_Suchschema.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="16,214,256,237" href="javascript:BSSCPopup('Alle_Attribute_einstellen_Startloch_Suchschema.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="57,268,132,289" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area6" shape="rect"/>
   <area alt="" coords="145,268,220,288" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area7" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
