
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Weitere Optionen 2 XXXNEU XXXTODO" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { font-weight:bold; }
    span.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Weitere Optionen 2" %}</p><p class="hcp1">{% trans "Gruppieren" %}</p>
<p>XXX</p>
<p> </p>
<p class="hcp1">{% trans "Feature nicht extra gruppieren" %}</p>
<p>XXX</p>
<p> </p>
<p class="dialog">{% trans "Einfaches-Gruppieren" %}</p>
<p class="hcp1">{% trans "[[[Features mit gleichem Typ und Namen]]]" %}</p>
<p>XXX</p>
<p class="hcp1">{% trans "[Features vom gleichem Typ ]" %}</p>
<p>XXX</p>
<p class="hcp1">{% trans "[Features mit gleicher Farbe]" %}</p>
<p>XXX</p>
<p class="hcp1">{% trans "[Nach Möglichkeit alle Features]" %}</p>
<p>XXX</p>
<p> </p>
<p class="dialog">{% trans "Rekursives-Gruppieren" %}</p>
<p class="hcp1">{% trans "[[[[Features mit gleichem Typ und Namen]]]]" %}</p>
<p>XXX</p>
<p class="hcp1">{% trans "[Features vom gleichem Typ ]" %}</p>
<p>XXX</p>
<p class="hcp1">{% trans "[Features mit gleicher Farbe]" %}</p>
<p>XXX</p>
<p class="hcp1">{% trans "[Nach Möglichkeit alle Features]" %}</p>
<p>XXX</p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>

{% endblock %}
{% endlinebreakless %}
