{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "XY-Skalieren (Figur projizieren &sol; skalieren) XXXBILD ALT" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    XY 缩放（项目/比例图）
   </font>
  </font>
 </p>
 <p style="text-align: justify;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    允许缩放（缩小/放大）图形，其中可以为 X 轴和 Y 轴的图形分配不同的缩放系数。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="XYZ_SKAL_shg.jpg" border="0" height="auto" src="../XYZ_SKAL_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="7,35,211,73" href="javascript:BSSCPopup('Bezugspunkt_XYZ_Skalieren.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="13,93,154,146" href="javascript:BSSCPopup('X_und_Y_Skalierfaktor.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="1,2,93,19" href="Normale_der_Figur_In_Z.htm" shape="rect"/>
  </map>
 </p>
 <p class="hcp1">
 </p>
 <p style="font-weight: bold;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    它是这样完成的：
   </font>
  </font>
 </p>
 <p>
  <a href="Beispiel_Figur_unterschiedlich_in_X_und_Y_skalieren.htm">
   <font style="font-weight: bold;">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      在 X 和 Y 上以不同方式缩放图形
     </font>
    </font>
   </font>
  </a>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
