
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Zeigen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Zeigen" %}</p><p>{% trans "Die Schaltfläche [Zeigen] wird erst aktiviert, wenn Sie eine Figur in der Liste der zu verrundenden Figuren auswählen und dient dazu, Verrundungsfehler durch die Anzeige eines Kreuzes zu kennzeichnen." %}</p><p> </p>
<p>{% trans "[Hinweis:]" %}</p>
<p>{% trans "Wurde im Vorfeld schon die Option #[Fehlerpunkte anzeigen]# aktiviert, kennzeichnet das System die Fehlerstellen zusätzlich durch C-Punkte." %}</p>
<script type="text/javascript" language="JavaScript1.2">//&lt;![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('a1');
//]]&gt;</script>

{% endblock %}
{% endlinebreakless %}
