
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Zu bearbeitende Figur" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../wirhlp9.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Zu bearbeitende Figur" %}</p><p>{% trans "In dieser Listbox wird die Namen der zu schneidenden Bearbeitungsfigur angegeben." %}</p>
<p>{% trans "Die Auswahl der Figuren geschieht durch anklicken der Schaltfläche @ und anschließendem anklicken der Bearbeitungsfiguren." %}</p>

{% endblock %}
{% endlinebreakless %}
