{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Auf eine Farbe begrenzen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../WIRE_ExpertRH_context_Menu.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
    p.hcp3 { text-align:center; }
    li.hcp4 { font-size:9pt; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    限制为一种颜色
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果您想通过一次单击从所有
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     相同颜色的连接曲面
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    创建编辑特征，则可以使用此方法。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果选择此选项，则单击
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     一个
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    面，系统会搜索与所选面关联且具有相同颜色的所有面
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     ，
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    并从中创建编辑特征。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在下面的示例中，您可以看到模型正面的一些浅色区域。
   </font>
   <font style="vertical-align: inherit;">
    只需单击一下即可将这些区域转换为编辑功能。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="Man_FR_Rec_Color_1.jpg" border="0" height="221" src="../Man_FR_Rec_Color_1.jpg" width="auto"/>
 </p>
 <p class="hcp3">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    下图显示了使用
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     带有自动连接（按颜色）功能的手册
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    时的结果。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    可以清楚地看到，系统仅选择浅色区域并创建“开放编辑功能”。
   </font>
  </font>
 </p>
 <p class="hcp3">
 </p>
 <p>
  <img alt="Man_FR_Rec_Color_3.jpg" border="0" height="230" src="../Man_FR_Rec_Color_3.jpg" width="auto"/>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    下图旨在说明
   </font>
  </font>
  <a href="Manuell_mit_automatischer_Verbindung_Neues_Bearbeitungsobjekt.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     手动功能与自动连接
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    的区别。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在这里，系统将选择所有连接的曲面，从而产生“封闭”的编辑功能。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    浅色区域和其他区域之间不会有任何区别。
   </font>
   <font style="vertical-align: inherit;">
    下图显示了结果：
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="Man_FR_Rec_Color_2.jpg" border="0" height="241" src="../Man_FR_Rec_Color_2.jpg" width="auto"/>
 </p>
 <p class="hcp3">
 </p>
 <p class="Tip_Note_Heading" style="margin-top: 4.00pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    它是这样完成的：
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp4">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击要编辑的几何体的面。
     </font>
     <font style="vertical-align: inherit;">
      WIRE
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       -Expert
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      会自动查找与所选面相连的所有面，只要它们具有
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       相同的表面颜色
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      并且可腐蚀。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp4">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击要编辑的下一个几何体的面。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp4">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      继续如上所述，直到编辑完所有几何图形。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp4">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      用 结束对话框
     </font>
    </font>
    <img alt="确定按钮" border="0" height="25" src="../OK_button.jpg" width="auto"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>


{% endblock %}
{% endlinebreakless %}
