{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Auswahl beenden &sol; löschen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../WIRE_ExpertRH_context_Menu.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    span.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    结束/删除选择
   </font>
  </font>
 </p>
 <p>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     删除选择
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    -
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    清除当前的面/边选择。
   </font>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0;">
 </p>
 <p style="font-weight: bold;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    结束选择
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    执行当前面/边选择。
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     WIRE-Expert
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    检查
   </font>
   <font style="vertical-align: inherit;">
    是否可以从选定的曲面/边创建可侵蚀特征。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果没有，对话框中将显示错误消息。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     完整选择
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    - 仅当
   </font>
   <font style="vertical-align: inherit;">
    对话框中激活了
   </font>
  </font>
  <a href="Manuelle_Faceauswahl_Neues_Bearbeitungsobjekt.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     手动曲面选择
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    或
   </font>
  </font>
  <a href="Manuelle_Kantenauswahl_Neues_Bearbeitungsobjekt.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     手动边选择选项时，此按钮才可用。
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    当要选择
   </font>
  </font>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     大量
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    连接曲面/曲面边时，使用该按钮。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    不要选择每个单独的面，而是选择
   </font>
  </font>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     第一个
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    和
   </font>
  </font>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     最后一个面/边
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，然后单击
   </font>
  </font>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “完整特征”
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    按钮。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    然后系统自动选择
   </font>
   <font style="vertical-align: inherit;">
    第
   </font>
   <span class="hcp2">
    <font style="vertical-align: inherit;">
     一个
    </font>
   </span>
   <font style="vertical-align: inherit;">
    和
   </font>
   <span class="hcp2">
    <font style="vertical-align: inherit;">
     最后一个表面/边
    </font>
   </span>
  </font>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     之间的所有表面
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
   </font>
  </span>
  <font style="vertical-align: inherit;">
  </font>
  <span class="hcp2">
   <font style="vertical-align: inherit;">
   </font>
  </span>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
 </p>


{% endblock %}
{% endlinebreakless %}
