
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Erzeuge Figuren + Bearbeitungen von Features - Beispiel" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../WIRE_ExpertRH_context_Menu.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
    p.hcp3 { text-align:center; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <a name="642b3b9347ca42c9b00b820c00c373fa=1"/><p class="dialog">{% trans "Erzeuge Figuren + Bearbeitungen von Features" %}</p><p>{% trans "Klicken Sie mit der [rechten] Maustaste auf @ und wählen Sie im Kontextmenü [Erzeuge Figuren + Bearbeitungen von Features]." %}</p>
<p>{% trans "Diese Funktion erzeugt [Bearbeitungsfiguren] (2D Bearbeitungsgeometrien) sowie [Bearbeitungsoperationen] und übergibt diese an die #Operationsliste#." %}</p>
<p>{% trans "[Hinweis:] Sie können Sie auch [einzelne] Features auswählen." %}</p>
<p class="hcp2"> </p>
<p><img src="../Wire_Expert_Create_Figures_and_Operations_1.gif" alt="Wire_Expert_Create_Figures_and_Operations_1.gif" width="553" height="201" border="0"/></p>
<p class="hcp3"> </p>
<p>{% trans "Bevor die Bearbeitungsfiguren und Bearbeitungen erzeugt werden, zeigt das System normalerweise (ist abschaltbar) einen [Konfigurations]-Dialog." %}</p>
<p>{% trans "In diesem Dialog können Sie einstellen, ob Schnittschemen zugewiesen werden sollen, was an die [PEPS] [Operationsliste] übergeben werden soll und wie die erzeugten Bearbeitungsoperationen dargestellt werden sollen." %}</p>
<p>{% trans "Stellen Sie den Dialog beispielsweise wie folgt ein:" %}</p>
<p class="hcp2"> </p>
<p><img src="../Wire_Expert_Create_Figures_and_Operations_2.gif" alt="Wire_Expert_Create_Figures_and_Operations_2.gif" width="772" height="487" border="0"/></p>
<p class="hcp2"> </p>
<p>{% trans "Klicken Sie auf die Schaltfläche [OK]. Das System erzeugt nun [Bearbeitungsfiguren] und [Bearbeitungsoperationen] und übergibt diese an die #Operationsliste#." %}</p>
<p>{% trans "Überprüfen der automatisch erzeugten Bearbeitungen" %}</p>
<p>{% trans "Klicken Sie im Operationsmanager auf das Register @." %}</p>
<p class="hcp2"> </p>
<p><img src="../Wire_Expert_Create_Figures_and_Operations_3.gif" alt="Wire_Expert_Create_Figures_and_Operations_3.gif" width="303" height="34" border="0"/></p>
<p class="hcp2"> </p>
<p>{% trans "Das eben erzeugte Feature wurde an das Register [Bearbeitung] übergeben. In der Operationsliste wurden ein [Operationsstart] und eine [Bearbeitungsoperation] erzeugt." %}</p>
<p class="hcp2"> </p>
<p><img src="../Wire_Expert_Create_Figures_and_Operations_4.gif" alt="Wire_Expert_Create_Figures_and_Operations_4.gif" width="397" height="87" border="0"/></p>
<p class="hcp2"> </p>
<p>{% trans "Klicken Sie mit der [rechten] Maustaste auf das 3D-Modell und blenden sie das Modell aus." %}</p>
<p class="hcp2"> </p>
<p><img src="../Wire_Expert_Create_Figures_and_Operations_5.gif" alt="Wire_Expert_Create_Figures_and_Operations_5.gif" width="616" height="290" border="0"/></p>
<p class="hcp3"> </p>
<p>{% trans "Sie sollten deutlich sehen, dass der [WIRE-Expert] automatisch ein [Rohteil], [Bearbeitungsfiguren] und die [NC-Bearbeitungsgrafik] erzeugt hat." %}</p>
<p class="hcp2"> </p>
<p><img src="../Wire_Expert_Create_Figures_and_Operations_7.gif" alt="Wire_Expert_Create_Figures_and_Operations_7.gif" width="572" height="287" border="0"/></p>
<p class="hcp2"> </p>
<p><img src="../Wire_Expert_Create_Figures_and_Operations_6.gif" alt="Wire_Expert_Create_Figures_and_Operations_6.gif" width="489" height="112" border="0"/></p>
<p class="hcp2"> </p>
<p>{% trans "Editieren Sie nun in der Operationsliste den Eintrag @ und überprüfen Sie die automatisch erzeugten Dialogeinträge. Passen Sie die Dialogeinträge gegebenenfalls an." %}</p>
<p class="hcp2"> </p>
<p><img src="../Wire_Expert_Create_Figures_and_Operations_8.gif" alt="Wire_Expert_Create_Figures_and_Operations_8.gif" width="788" height="577" border="0"/></p>
<p class="hcp2"> </p>
<p>{% trans ". [Eigenständiges Weiterarbeiten] ." %}</p>
<p class="hcp2"> </p>
<p>{% trans "Editieren Sie auch den Eintrag @. Überprüfen Sie die automatisch erzeugten Dialogeinträge." %}</p>
<p>{% trans "Passen Sie die Einstellungen für [Technologie], [Anbindung] und die anderen [Schneidparameter] an." %}</p>
<p class="hcp2"> </p>
<p><img src="../Wire_Expert_Create_Figures_and_Operations_9.gif" alt="Wire_Expert_Create_Figures_and_Operations_9.gif" width="611" height="497" border="0"/></p>
<p class="hcp3"> </p>
<p>{% trans "... [Eigenständiges Weiterarbeiten] .... ." %}</p>
<p class="hcp2"> </p>
<p>{% trans "Simulieren Sie die Bearbeitung @ und erzeugen Sie das NC-Programm @." %}</p>

{% endblock %}
{% endlinebreakless %}
