{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Boxauswahl verwenden" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../RH_Context_Menu.css"/>
    <style title="hcp" type="text/css">
    <!--
    span.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使用框选择
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果激活此选项，您可以
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     在
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    开始
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     自动特征识别之前“绘制”
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     选择
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    窗口
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使用
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     选择窗口
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，您可以选择 3D 模型中应执行
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     自动特征识别
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    的部分 &nbsp;。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    下图左边是一个红色的
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     选择窗口
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，可以用来选择两个孔。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    右图显示了
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     自动特征识别
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    的结果，即两个加工孔。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <img alt="" border="0" src="../image/Boxauswahl%20verwenden" style="border: none;"/>
 </p>


{% endblock %}
{% endlinebreakless %}
