{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Farbliste verwenden" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../WIRE_ExpertRH_context_Menu.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    使用颜色列表
   </font>
  </font>
 </p>
 <p class="Block_Text">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    有些公司用特定颜色标记所有要侵蚀的区域。
   </font>
  </font>
 </p>
 <p class="Block_Text">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    自动特征识别只能识别和处理这些表面。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果激活
   </font>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     “使用颜色列表”
    </font>
   </font>
  </font>
  <span style="font-weight: bold;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     选项
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，则可以在
   </font>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     “颜色列表”
    </font>
   </font>
   <font style="vertical-align: inherit;">
    对话框区域中选择一个列表 
 来确定要搜索的颜色。
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <a href="Farben_bearbeiten_Feature-Erkennung_nach_Flaechenfarben.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     使用编辑颜色列表
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    按钮或通过 OPTICAM 菜单序列
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     OPTICAM &gt; 设置 &gt;
    </font>
   </font>
  </font>
  <font class="hcp1">
   <a href="Feature_Erkennung_nach_Flaechenfarben.htm">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      颜色设置
     </font>
    </font>
   </a>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    创建颜色列表
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     也可以看看：
    </font>
   </font>
  </font>
 </p>
 <p>
  <a href="Beispiel_Feature_Erkennung_nach_Fl_chenfarben.htm" style="font-weight: normal;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     根据表面颜色自动特征识别——生成颜色列表
    </font>
   </font>
  </a>
 </p>
 <p>
 </p>


{% endblock %}
{% endlinebreakless %}
