{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Manuelle Kantenauswahl" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../WIRE_ExpertRH_context_Menu.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
    li.hcp3 { font-size:9pt; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    手动边缘选择
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    该方法是当所有其他自动或手动特征检测方法都失败时使用的“救援策略”。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果选择此选项，则
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     依次
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    单击 
 要编辑的
   </font>
   <font style="vertical-align: inherit;">
    所有
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     垂直
    </font>
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     边缘。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    请注意，
   </font>
   <font style="vertical-align: inherit;">
    必须选择要处理的对象的
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     所有垂直边缘。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="Feature_Recognition_manual_Edge_selection.jpg" border="0" height="207" src="../Feature_Recognition_manual_Edge_selection.jpg" width="auto"/>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     它是这样完成的：
    </font>
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp3">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       依次
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击
     </font>
     <font style="vertical-align: inherit;">
      要编辑的几何体的
     </font>
     <font style="vertical-align: inherit;">
      所有
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       垂直
      </font>
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       边。
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
    </font>
   </p>
  </li>
  <li class="hcp3">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       按住Ctrl
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      键的同时选择
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       WIRE-Expert
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      检查所选边缘是否可腐蚀。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp3">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      用 结束选择
     </font>
    </font>
    <img alt="结束_选择_按钮.gif" border="0" height="28" src="../End_Selection_button.gif" width="auto"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p class="Tip_Note_Text_Bulleted">
 </p>
 <ul>
  <li class="hcp3">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      依次单击
     </font>
     <font style="vertical-align: inherit;">
      要编辑的
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       下一个
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      几何体的所有
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       垂直边。
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
    </font>
   </p>
  </li>
  <li class="hcp3">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      也以 结束下一个选择
     </font>
    </font>
    <img alt="结束_选择_按钮.gif" border="0" height="28" src="../End_Selection_button.gif" width="auto"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp3">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      用 结束对话框
     </font>
    </font>
    <img alt="确定按钮.gif" border="0" height="25" src="../OK_button.jpg" width="auto"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>


{% endblock %}
{% endlinebreakless %}
