{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Manuelle Faceauswahl" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../WIRE_ExpertRH_context_Menu.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    li.hcp2 { font-size:9pt; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    手动面部选择
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    当需要编辑
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     几何图形的部分区域
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    并且自动特征识别方法会检测到太多或不需要的区域时，可以使用此方法。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果选择此选项，则
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     依次
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    单击要编辑的
   </font>
   <font style="vertical-align: inherit;">
    所有
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     面。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    请注意，所选面必须相互连接。
   </font>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0;">
 </p>
 <p>
  <img alt="Feature_Recognition_manual_Face_selection.jpg" border="0" height="210" src="../Feature_Recognition_manual_Face_selection.jpg" width="auto"/>
 </p>
 <p style="text-align: center;">
 </p>
 <p>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     方法：
    </font>
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp2">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       依次
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击
     </font>
     <font style="vertical-align: inherit;">
      要编辑的几何体的所有面。
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       按住Ctrl
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      键的同时选择
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       WIRE-Expert
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      检查所选面是否可腐蚀。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp2">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      用 结束选择
     </font>
    </font>
    <img alt="结束_选择_按钮.gif" border="0" height="28" src="../End_Selection_button.gif" width="auto"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp2">
   <p>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      使用 确认特征创建
     </font>
    </font>
    <img alt="结束_选择_按钮.gif" border="0" src="../Example_Feature_abschliessen.gif"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
    <br/>
   </p>
  </li>
 </ul>
 <ul>
  <li class="hcp2">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       依次
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击所有面
     </font>
     <font style="vertical-align: inherit;">
      ，即
     </font>
     <font style="vertical-align: inherit;">
      要编辑的下一个几何体
     </font>
    </font>
    <span style="font-weight: bold;">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       。
      </font>
     </font>
    </span>
    <font style="vertical-align: inherit;">
    </font>
   </p>
  </li>
  <li class="hcp2">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      也以 结束下一个选择
     </font>
    </font>
    <img alt="结束_选择_按钮.gif" border="0" height="28" src="../End_Selection_button.gif" width="auto"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp2">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      使用 确认特征创建
     </font>
    </font>
    <img alt="结束_选择_按钮.gif" border="0" src="../Example_Feature_abschliessen.gif"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp2">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      用 结束对话框
     </font>
    </font>
    <img alt="确定按钮.gif" border="0" height="25" src="../OK_button.jpg" width="auto"/>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>


{% endblock %}
{% endlinebreakless %}
