
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Maximaler Winkel" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../RH_Context_Menu.css"/>
    <style title="hcp" type="text/css">
    <!--
    span.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Maximaler Winkel" %}</p><p> </p>
<p>{% trans "Legt den erlaubten [Maximalen Konikwinkel] fest, für die Feature-Erkennung von konischen Features." %}</p>
<p>{% trans "Erodierbare Features, die einem Konikwinkel größer als der [Maximalen Konikwinke]l aufweisen, bleiben unberücksichtigt." %}</p>
<p> </p>
<p> </p>

{% endblock %}
{% endlinebreakless %}
