{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Maximaler Winkel" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../RH_Context_Menu.css"/>
    <style title="hcp" type="text/css">
    <!--
    span.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    最大角度
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    设置锥形特征的特征检测所
   </font>
   <font style="vertical-align: inherit;">
    允许的
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     最大锥角。
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    不考虑
   </font>
   <font style="vertical-align: inherit;">
    锥角大于
   </font>
  </font>
  <span class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     最大锥角l 的侵蚀特征。
    </font>
   </font>
  </span>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
 </p>
 <p>
 </p>


{% endblock %}
{% endlinebreakless %}
