{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Neue Operation" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../WIRE_ExpertRH_context_Menu.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    新操作
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    此函数用于在
   </font>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     WIRE-Expert
    </font>
   </font>
   <a href="../WIRE_Expert_FeatureManager/WIRE_Expert_FeatureManager.htm">
    <font style="vertical-align: inherit;">
     功能管理器中为
    </font>
   </a>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     新操作
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    创建
   </font>
   <font style="vertical-align: inherit;">
    条目。
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <a href="../WIRE_Expert_FeatureManager/WIRE_Expert_FeatureManager.htm">
   <font style="vertical-align: inherit;">
   </font>
  </a>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    每个新操作都会创建一个单独的 NC 输出文件并包含特征。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    通过创建多个操作，您可以在
   </font>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     WIRE-Expert
    </font>
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     程序
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    中创建
   </font>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     多个单独的 NC 输出文件
    </font>
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0;">
 </p>
 <p>
  <img alt="New_Operation_Feature_Man.gif" border="0" height="187" src="../New_Operation_Feature_Man.gif" width="336"/>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    上图展示了两个操作。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
