
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Startloch Einstellungen verwenden" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../WIRE_ExpertRH_context_Menu.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Startloch Einstellungen verwenden" %}</p><p>{% trans "Ist diese Option aktiv, werden die im Dialog #Startloch-Einstellungen# festgelegten Regeln zur Positionierung des Startloches verwendet." %}</p><p>{% trans "Ist die Option NICHT aktiv, wird das interne Regelwerk (nicht vom Anwender anpassbar) verwendet." %}</p>
<p> </p>
<p>{% trans "Das folgende Bild zeigt den Dialog #Startloch-Einstellungen#." %}</p>
<p class="Normal_(Web) pitalic" style="margin-left: 5.75pt; margin-right: 6.50pt;  margin-top: 4.00pt; margin-bottom: 0.00pt;">{% trans "&lt;p class='Normal_(Web)' style='margin-left: 5.75pt; margin-right: 6.50pt; margin-top: 4.00pt; margin-bottom: 0.00pt;'&gt;[Klicken Sie auf die einzelnen Bereiche des folgenden Bildes, um Hilfetexte aufzurufen.]" %}</p>
<p class="Normal_(Web)"> </p>
<p><img src="../StartHole_Settings_Dialog_shg.gif" usemap="#AreaMap0" alt="StartHole_Settings_Dialog_shg.gif" width="795" height="738" border="0"/>
<map name="AreaMap0" id="AreaMap0">
<area shape="rect" coords="8, 101, 130, 118" href="Feature_Erkennung_nach_Flaechenfarben.htm" alt=""/>
<area shape="rect" coords="116, 37, 151, 80" href="javascript:BSSCPopup('../Commdata/Dialogeinstellungen_speichern.htm',400,300);" id="area1" alt=""/>
<area shape="rect" coords="158, 41, 191, 75" href="javascript:BSSCPopup('../Commdata/Gespeicherte_Dialogeinstellungen_laden.htm',400,300);" id="area2" alt=""/>
<area shape="rect" coords="217, 448, 496, 622" href="Startlochgeometrien_Startloch_Einstellungen.htm" alt=""/>
<area shape="rect" coords="498, 445, 764, 637" href="Allgemeine_Einstellungen_Startloch_Einstellungen.htm" alt=""/>
<area shape="rect" coords="10, 132, 181, 149" href="Feature_Erkenungs_Einstellungen.htm" alt=""/>
<area shape="rect" coords="9, 82, 187, 103" href="../wirhlp9/Voreinstellungen_Wire_Expert_konfigurieren.htm" alt=""/>
<area shape="rect" coords="216, 85, 785, 445" href="Innere_Matrize_Aeussere_Stempel_Startloch_Einstellungen.htm" alt=""/>
<area shape="rect" coords="76, 40, 109, 81" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area3" alt=""/>
<area shape="rect" coords="43, 41, 75, 80" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area4" alt=""/>
<area shape="rect" coords="5, 39, 39, 81" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area5" alt=""/>
</map> </p>
<script type="text/javascript" language="JavaScript1.2">//&lt;![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
//]]&gt;</script>

{% endblock %}
{% endlinebreakless %}
