{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Startloch-Einstellungen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../WIRE_ExpertRH_context_Menu.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    起始孔设置
   </font>
  </font>
 </p>
 <p class="Block_Text">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果进行特征识别，
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     WIRE-Expert
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    不仅可以检测易腐蚀的几何形状，还可以确定起始孔的位置。
   </font>
  </font>
 </p>
 <p class="Block_Text">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    起始洞的位置是根据内部定义的一组规则确定的。
   </font>
   <font style="vertical-align: inherit;">
    切削几何形状上的接近位置也以相同的方式自动确定。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    借助
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     起始孔设置
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    对话框，您可以覆盖内部规则并根据您的想法设置起始孔的位置及其与切割几何形状的距离。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    例如，对于圆孔，您可以确定起始孔应始终位于孔的中心以及切削几何图形上的接近位置，例如位于圆的 3 点钟位置（参见以下内容）图像）。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="Starthole_Presetting.jpg" border="0" height="246" src="../Starthole_Presetting.jpg" width="auto"/>
 </p>
 <p style="text-align: center;">
 </p>
 <p class="Normal_(Web)" style="margin-left: 5.75pt; margin-right: 6.50pt; 
	 margin-top: 4.00pt; margin-bottom: 0.00pt; color: #ff0000; font-size: 9pt; 
	 font-style: italic;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    单击下图的各个区域以访问帮助文本
   </font>
  </font>
 </p>
 <p class="Normal_(Web)" style="margin-left: 5.75pt; margin-right: 6.50pt; 
	 margin-top: 4.00pt; margin-bottom: 0.00pt; color: #ff0000; font-size: 9pt; 
	 font-style: italic;">
 </p>
 <p class="Normal_(Web)" style="margin-left: 5.75pt; margin-right: 6.50pt; 
	 margin-top: 4.00pt; margin-bottom: 0.00pt; color: #ff0000; font-size: 9pt; 
	 font-style: italic;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    F
   </font>
  </font>
  <img alt="StartHole_Settings_Dialog_shg.jpg" border="0" height="705" src="../StartHole_Settings_Dialog_shg.jpg" usemap="#MAP660569092" width="auto"/>
  <map id="MAP660569092" name="MAP660569092">
   <area alt="" coords="115, 32, 150, 73" href="javascript:BSSCPopup('../Commdata/Dialogeinstellungen_speichern.htm');" id="area1" shape="rect"/>
   <area alt="" coords="151, 36, 184, 69" href="javascript:BSSCPopup('../Commdata/Gespeicherte_Dialogeinstellungen_laden.htm');" id="area2" shape="rect"/>
   <area alt="" coords="215, 429, 494, 603" href="Startlochgeometrien_Startloch_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="499, 425, 776, 555" href="Allgemeine_Einstellungen_Startloch_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="8, 128, 179, 143" href="Feature_Erkenungs_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="8, 80, 134, 97" href="../wirhlp9/Voreinstellungen_Wire_Expert_konfigurieren.htm" shape="rect"/>
   <area alt="" coords="11, 97, 132, 112" href="Feature_Erkennung_nach_Flaechenfarben.htm" shape="rect"/>
   <area alt="" coords="215, 82, 773, 424" href="Innere_Matrize_Aeussere_Stempel_Startloch_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="79, 38, 109, 74" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="43, 38, 76, 74" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="3, 38, 44, 75" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area6" shape="rect"/>
  </map>
 </p>
 <p>
 </p>
 <p class="hcp2">
 </p>
 <p class="Tip_Note_Heading" style="margin-top: 4.00pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    它是这样完成的：
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    XXXTO DO 预设螺纹位置和接近切削几何形状的位置
   </font>
  </font>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
