
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "XXX Manuelle Achsensteuerung Fenster" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../../MW_Sim_Windows.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
    span.hcp3 { font-weight:normal; }
    span.hcp4 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
<h1>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">手动轴控制</font>
    </font>
  </h1>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">借助</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">手动轴控制，</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
        您可以使用键盘输入或滑块手动移动和控制机器的线性轴和旋转轴。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p><img alt="新UI_axis_control.gif" border="0" height="489" src="../../newUI_axis_control.gif" width="555" /></p>
  <p class="hcp2">&nbsp;</p>
  <p><strong class="">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">主要优点：</font>
      </font>
    </strong></p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">可以检查轴限制设置是否正确。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">可以检查碰撞检查设置是否正确。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p><strong class="">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">描述：</font>
      </font>
    </strong></p>
  <p><strong class=""><span class="hcp3">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">确定轴</font>
        </font>
      </span><span class="hcp3">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">限制。</font>
        </font>
      </span></strong></p>
  <p><strong class=""><span class="hcp3">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">确定当前轴位置。</font>
        </font>
      </span></strong></p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">通过输入字段、移动滑块或“右键单击”滑块之一以在对话框中进行输入来更改轴值（请参阅下面的说明）。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">滑块下方的输入字段显示轴的当前值，并在模拟过程中不断更新。
      </font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">要从一个字段从左向右跳转到下一个字段，请使用 TAB 键。</font>
      <font style="vertical-align: inherit;">要从一个字段从右向左跳转到下一个字段，请使用 SHIFT+TAB 键。 &nbsp;</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">如果您跳转到不可见的字段，“轴控制”选项卡会自动滚动以显示相应的字段。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">XXX 如果你跳到一个看不见的区域，XXX</font>
    </font>
  </p>
  <p style="margin-left: 48px;">&nbsp;</p>
  <p><strong class="">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">XXX 数字步进器</font>
      </font>
    </strong> <strong class="">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">操作：</font>
      </font>
    </strong></p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">可以按 CTRL+C 复制这些值，并可以使用 CTRL+V（Windows 标准键）应用粘贴命令</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">可以</font>
      <font style="vertical-align: inherit;">
        通过按组合键 CTRL+C</font>
    </font><span class="hcp4">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">复制</font>
      </font>
    </span>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">这些值，然后
        使用 CTRL+V 键再次</font>
    </font><span class="hcp4">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">粘贴（MS-Windows 标准功能）</font>
      </font>
    </span>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">如果使用数字步进器的上下箭头，则对于公制模拟，这些箭头将以 0.1 递增，对于英制模拟，这些箭头将以 0.01 递增</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">XXX</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">如果您想在数字步进器中应用“剪切”命令（CTRL+X），则该值将从使用的字段中消失后，将改为输入 0（零）。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">XXX</font>
    </font>
  </p>
  <p class="hcp2">&nbsp;</p>
  <p style="font-weight: bold;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">右键单击上下文菜单</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;"></font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">右键</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">单击</font>
      <font style="vertical-align: inherit;">
        轴滑块之一打开以下对话框。</font>
      <font style="vertical-align: inherit;">该对话框允许您输入特定的轴位置或将轴位置</font>
      <font style="vertical-align: inherit;">设置为</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">0 。</font>
      </font>
    </font>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p><img alt="新UI_axis_control_1.gif" border="0" height="298" src="../../newUI_axis_control_1.gif" width="327" /></p>
  <p>&nbsp;</p>
  <p><strong class="">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">临时相对点动值：</font>
      </font>
    </strong>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">使用此选项您可以将所有轴值设置为 0，而无需移动机器模型。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">只要启用该选项，您就可以暂时将机器模型移至特定值。</font>
      <font style="vertical-align: inherit;">如果关闭该对话框，该选项的效果就会结束。 &nbsp;&nbsp;</font>
    </font>
  </p>
  <p><strong class="">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">全部重置为 0：</font>
      </font>
    </strong>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">此选项允许您将所有轴重置为 0</font>
    </font>
  </p>
  <p><strong class="">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">重置为初始值：</font>
      </font>
    </strong>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">使用此选项，您可以将所有轴重置为其原始设置值。</font>
      <font style="vertical-align: inherit;">这些是存储在机器定义文件中的值。</font>
    </font>
  </p>
  <p><strong class="">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">将所有内容复制到剪贴板：</font>
      </font>
    </strong>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">使用此选项您可以复制所有轴的设置值。</font>
    </font>
  </p>
{% endblock %}
{% endlinebreakless %}
