
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Simulation Fenster" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../../MW_Sim_Windows.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<h1>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">模拟窗口</font>
    </font>
  </h1>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">在</font>
    </font><span style="font-weight: bold;">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">模拟</font>
      </font>
    </span>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">窗口中，您可以设置模拟应停止的事件。</font>
      <font style="vertical-align: inherit;">这可以是：</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;"></font>
    <font style="font-weight: bold;">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">更换工具</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">时</font>
      <font style="vertical-align: inherit;">。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">当到达工件上方一定位置时。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">用于特定的加工操作或特定的 NC 块。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p><img alt="newUI_simulationtab.gif" border="0" height="462" src="../../newUI_simulationtab.gif" width="407" /></p>
  <p style="margin-top: 0; margin-bottom: 0;">&nbsp;</p>
{% endblock %}
{% endlinebreakless %}
