
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Statistik Fenster" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../../MW_Sim_Windows.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    span.hcp2 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<h2>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">统计数据</font>
    </font>
  </h2>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">统计数据提供了有关加工过程的有用信息，分为 3 个主要区域：</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">1)</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">单块：显示</font>
      </font>
    </font>
    <font style="vertical-align: inherit;"></font><span class="hcp2">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">当前</font>
      </font>
    </span>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">执行的
      </font><span class="hcp2">
        <font style="vertical-align: inherit;">行进路径</font>
      </span>
      <font style="vertical-align: inherit;">的信息</font>
    </font><span class="hcp2">
      <font style="vertical-align: inherit;"></font>
    </span>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">2)</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">操作：显示</font>
      </font>
    </font>
    <font style="vertical-align: inherit;"></font><span class="hcp2">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">当前</font>
      </font>
    </span>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">正在执行的</font><span class="hcp2">
        <font style="vertical-align: inherit;">加工操作</font>
      </span>
      <font style="vertical-align: inherit;">的信息</font>
    </font><span class="hcp2">
      <font style="vertical-align: inherit;"></font>
    </span>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">3)</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">序列：显示</font>
      </font>
    </font>
    <font style="vertical-align: inherit;"></font><span class="hcp2">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">所有</font>
      </font>
    </span>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
        已执行</font>
    </font><span class="hcp2">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">处理操作的</font>
      </font>
    </span>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">信息（例如处理时间）</font>
      <font style="vertical-align: inherit;">。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">4)</font>
    </font><span class="hcp2">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">最小/最大 </font>
      </font>
    </span>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">：显示有关执行的最大和最小 XYZ 行程和进给的信息。
      </font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>
    <img alt="newUI_statistics" border="0" height="auto" src="../../newUI_statistics.jpg" width="auto" />
  </p>
{% endblock %}
{% endlinebreakless %}
