
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Dialog übersetzen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Commdata.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog"><img alt="翻译" border="0" height="auto" src="../Translate.jpg" width="auto" />
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">翻译对话</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">调用另一个对话框将当前对话框的文本翻译为当前选择的国家语言。</font>
    </font>
  </p>
  <ul>
    <li style="font-size: 9pt;">
      <p class="Hinweis">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">一个通知：</font>
        </font>
      </p>
    </li>
  </ul>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">请注意，此功能通常仅由系统制造商使用。</font>
    </font>
  </p>
{% endblock %}
{% endlinebreakless %}
