
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Ebene" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Ebene" %}</p><p>{% trans "Mit der Option [Ebene] können Sie eine Schnittebene durch Angabe von [drei Punktpositionen] bestimmen. Die Schaltfläche @ dient zur Auswahl der drei Punkte." %}</p>
<p>{% trans "Die drei Punkte werden normalerweise mit Hilfe der Fangfunktion [Endpunkt] am Simulationsmodell ausgewählt." %}</p>

{% endblock %}
{% endlinebreakless %}
