
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Alles (Listendialog)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">全部（列表对话框）</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">如果此按钮处于活动状态，系统将</font>
      <font style="vertical-align: inherit;">并排显示所有 4 个列表对话框（</font>
    </font><a href="Positionsliste_Listendialog_Solid_Simulation.htm">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">位置列表</font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">、</font>
    </font><a href="Operationenliste_Listendialog_Solid_Simulation.htm">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">操作列表</font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">、</font>
    </font><a href="Kollisionsliste_Listendialog_Solid_Simulation.htm">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">碰撞列表</font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">、</font>
    </font><a href="Logbuch_Listendialog_Solid_Simulation.htm">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">日志）。</font>
      </font>
    </a>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p>
    <font style="vertical-align: inherit;"></font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">如果单击“位置”</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">、</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">“操作”</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">、</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">“碰撞”</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">或</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">“日志”</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">按钮之一</font>
      <font style="vertical-align: inherit;">，则仅显示选定的列表。</font>
    </font>
  </p>
  <p style="margin-top: 0; margin-bottom: 0;">&nbsp;</p>
  <p>
    <img alt="Listen_Everything" border="0" height="auto" src="../Listen_Alles.jpg" width="auto" />
  </p>
{% endblock %}
{% endlinebreakless %}
