
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Anzahl der Schnitte zwischen jeder Anzeige" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">每个显示之间的剪切次数</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">如果系统没有进行不同的设置，则每次剪切后系统都会重建屏幕显示。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">但是，当编辑非常短的元素时，每次剪切后重建图像是不可接受的。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">例如，如果加工一个圆，则仿真系统将圆分成小直线（小平面）。</font>
      <font style="vertical-align: inherit;">每个刻面都被视为一次切割。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">为了使系统不会在每次剪切后重建屏幕，您可以指定剪切次数后应重建屏幕。</font>
    </font><br />
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
        这对于圆形可能很有用，但在编辑多条长直线时，例如，经过 20 次剪切后的新图形结构会造成破坏。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">可以使用该选项抑制此效果（请参阅</font>
    </font><a href="Max_Schnitteingriff_vor_Anzeige.htm">
      <font style="font-weight: bold;">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">显示前最大切削干预</font>
        </font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">）。</font>
    </font>
  </p>
{% endblock %}
{% endlinebreakless %}
