
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Anzeigen (Zielteilvergleich)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Anzeigen (Zielteilvergleich)" %}</p><p>{% trans "[Gouges am Rohteil]: Berechnet alle theoretischen [Modellbeschädigungen (Gouges)] und kennzeichnet diese farblich am Modell." %}</p>
<p>{% trans "[Rest am Zielteil]: Berechnet sämtliches [Restmaterial] und kennzeichnet diese Bereiche farblich am Modell." %}</p>

{% endblock %}
{% endlinebreakless %}
