
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Ausfallteil prüfen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-left:14.20pt; }
    p.hcp3 { margin-left:28.35pt; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">检查故障部位</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">在此对话框区域中，您可以设置系统在检查失效零件时使用的参数（系统检查是否可以删除侵蚀期间创建的失效零件）。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">失败的零件检查是使用</font>
    </font><a href="Ausfallteil_Ueberpruefung_Dialogbox_Solid_Simulation_Wire.htm">
      <font class="hcp1">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">失败的零件检查</font>
        </font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">对话框来控制的。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">可以设置以下参数：</font>
    </font>
  </p>
  <p class="hcp2">
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">碰撞检查的步长</font>
      </font>
    </font>
  </p>
  <p class="hcp3">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">确定系统在失败的零件检查期间执行的每次碰撞检查之间的增量距离。</font>
    </font>
  </p>
  <p class="hcp3">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">示例：如果从高度为 30 mm 的工件上取下失效零件，并设定增量为 10 mm，则进行 3 次碰撞测试。</font>
    </font>
  </p>
  <p class="hcp2">
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">每个显示器之间的碰撞检查次数</font>
      </font>
    </font>
  </p>
  <p class="hcp3">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">此设置确定故障零件检查以图形方式显示的级别。</font>
    </font>
  </p>
  <p class="hcp3">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">如果设置</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">碰撞检查步长</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">，使系统执行 6 级故障部位检查，且参数“</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">每次显示之间的碰撞检查次数”</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">设置为 2，则系统以图形方式显示 3 级故障部位检查。</font>
      <font style="vertical-align: inherit;">如果将</font>
      <font class="hcp1">
        <font style="vertical-align: inherit;">碰撞检查</font>
      </font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">次数</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">设置为 1，则故障部分检查将显示 6 级。</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;"></font>
    </font>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p class="hcp2">
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">每次切割后的延迟（毫秒）</font>
      </font>
    </font>
  </p>
  <p class="hcp3">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">设置以图形方式显示每个单独故障部件检查的时间长度。</font>
      <font style="vertical-align: inherit;">您可以使用此设置来减慢/加快故障部件检查的模拟。</font>
    </font>
  </p>
{% endblock %}
{% endlinebreakless %}
