
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Auslenkungsanzeige" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">偏转显示</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">该显示屏显示</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">当前</font>
      </font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">X</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">、</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Y</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;"> / </font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">U</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">、</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">V</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">偏转和</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">当前</font>
      </font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">导线偏转</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">(锥度)。</font>
      <font style="vertical-align: inherit;">此外，</font>
      <font style="vertical-align: inherit;">还显示</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">最大 U</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">和</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">V</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">偏转以及</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">最大导线偏转（圆锥曲线）。</font>
      </font>
    </font>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p style="margin-top: 0; margin-bottom: 0;">&nbsp;</p>
  <p>
    <img alt="偏转显示_ARD_Sim" border="0" height="auto" src="../Auslenkungsanzeige_Std_Sim.jpg" width="auto" />
  </p>
{% endblock %}
{% endlinebreakless %}
