{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Das Simulation Menü" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Extra.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { font-weight:bold; }
    a.hcp2 { font-weight:bold; }
    span.hcp3 { font-weight:normal; }
    p.hcp4 { margin-top:0;
    margin-bottom:0; }
    p.hcp5 { color:#ff0000;
    font-style:italic; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <a name="642b3b9347ca42c9b00b820c00c373fa=1">
 </a>
 <h1 style="font-size: 12pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    模拟菜单（线切割）
   </font>
  </font>
 </h1>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在此菜单中，您将找到启动各种刀具路径模拟器的调用。
   </font>
   <font style="vertical-align: inherit;">
    可用：
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <a href="Drahtmodell_Simulation.htm">
   <span style="font-weight: bold;">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      线模型模拟
     </font>
    </font>
   </span>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    - 无需去除材料即可进行简单模拟。
   </font>
  </font>
 </p>
 <p class="hcp1">
  <a class="hcp2" href="Maschinenraum-Simulation_Beschreibung_der_Benutzeroberflaeche/Maschinenraum_Simulation_-_Uebersicht.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     机房模拟（可选）
    </font>
   </font>
  </a>
  <span class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     - 使用旋转轴、旋转轴或空心轴进行腐蚀加工的材料去除模拟，如有必要，可使用机房表示。
    </font>
   </font>
  </span>
 </p>
 <p class="hcp1">
  <a class="hcp2" href="_Standard_Simulation.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     标准模拟
    </font>
   </font>
  </a>
  <span class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     -
    </font>
   </font>
  </span>
  <span class="hcp3">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     腐蚀加工的材料去除模拟
    </font>
   </font>
  </span>
 </p>
 <p class="hcp4">
 </p>
 <p class="hcp5">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    单击下图的各个区域可访问帮助文本。
   </font>
  </font>
 </p>
 <p class="hcp5">
 </p>
 <p>
  <img alt="" border="0" src="../WIR12_shg.gif" style="border: none;" usemap="#MAP602711682"/>
  <map id="MAP602711682" name="MAP602711682">
   <area alt="" coords="167, 31, 401, 63" href="Grafik_NC_Bearbeitung_neu_erzeugen.htm" shape="rect"/>
   <area alt="" coords="167, -2, 401, 30" href="Grafik_NC_Bearbeitung_loeschen.htm" shape="rect"/>
   <area alt="" coords="3, 0, 161, 35" href="Drahtmodell_Simulation.htm" shape="rect"/>
   <area alt="" coords="676, 1, 933, 111" href="_Standard_Simulation.htm" shape="rect"/>
   <area alt="" coords="528, 2, 674, 92" href="Maschinenraum-Simulation_Beschreibung_der_Benutzeroberflaeche/Maschinenraum_Simulation_-_Uebersicht.htm" shape="rect"/>
   <area alt="" coords="405, 2, 529, 93" href="Maschinen_Simulation_Einstellungen.htm" shape="rect"/>
  </map>
 </p>
 <p class="hcp4">
 </p>
 <p>
 </p>


{% endblock %}
{% endlinebreakless %}
