
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Der Listendialog" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Der Listendialog" %}</p><p>{% trans "Dieser Dialog zeigt 4 verschiedene Listen. Die #Positionsliste# zeigt alle simulierten Verfahrbewegungen und die #Operationenliste# die simulierten Operationen." %}</p><p>{% trans "Die #Kollisionsliste# informiert über eventuell aufgetretene Kollisionen und das #Logbuch# listet alle besonderen Simulationsereignisse auf (Ausfallteile, Kollisionen etc.)." %}</p>
<p>{% trans "Zudem informieren weitere Felder, ob eine Eilgang- oder Vorschubbewegung ausgeführt wird und welche maximale und minimale Drahtauslenkung simuliert wurde." %}</p>
<p class="hcp1"> </p>
<p class="pitalic">{% trans "[Klicken Sie auf die einzelnen Bereiche des folgenden Bildes, um Hilfetexte aufzurufen]" %}</p>
<p class="hcp1"> </p>
<p><img src="../Listen_Dia_Solid_Sim_shg.gif" usemap="#AreaMap0" alt="Listen_Dia_Solid_Sim_shg.gif" width="1080" height="129" border="0"/>
<map name="AreaMap0" id="AreaMap0">
<area shape="rect" coords="11,2,278,96" href="Positionsliste_Listendialog_Solid_Simulation.htm" alt=""/>
<area shape="rect" coords="12,97,100,122" href="Positionsliste_Listendialog_Solid_Simulation.htm" alt=""/>
<area shape="rect" coords="277,4,545,90" href="Operationenliste_Listendialog_Solid_Simulation.htm" alt=""/>
<area shape="rect" coords="101,99,185,121" href="Operationenliste_Listendialog_Solid_Simulation.htm" alt=""/>
<area shape="rect" coords="185,100,268,120" href="Kollisionsliste_Listendialog_Solid_Simulation.htm" alt=""/>
<area shape="rect" coords="545,0,809,90" href="Kollisionsliste_Listendialog_Solid_Simulation.htm" alt=""/>
<area shape="rect" coords="269,99,353,120" href="Logbuch_Listendialog_Solid_Simulation.htm" alt=""/>
<area shape="rect" coords="814,1,1077,88" href="Logbuch_Listendialog_Solid_Simulation.htm" alt=""/>
<area shape="rect" coords="356,97,436,121" href="javascript:BSSCPopup('Alles_Listendialog_Solid_Simulation.htm',400,600);" id="area1" alt=""/>
<area shape="rect" coords="441,95,473,126" href="javascript:BSSCPopup('Vorschub_Eilgang_Listendialog_Solid_Simulation.htm',400,300);" id="area2" alt=""/>
<area shape="rect" coords="474,94,504,125" href="javascript:BSSCPopup('Anzeige_der_Bearbeitungsrichtung_Listendialog_Solid_Simulation.htm',400,300);" id="area3" alt=""/>
<area shape="rect" coords="505, 93, 1074, 126" href="Auslenkungs_und_Bearbeitungshoehenanzeige_Simulation.htm" alt=""/>
</map> </p>
<script type="text/javascript" language="JavaScript1.2">//&lt;![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
//]]&gt;</script>

{% endblock %}
{% endlinebreakless %}
