{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Der Ansichtdialog" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    视图对话框
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在此对话框中您可以设置模拟的视图。
   </font>
   <font style="vertical-align: inherit;">
    有多种设置选项可供选择。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域以访问帮助文本
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="查看_Dia_Solid_Sim_shg" border="0" height="621" src="../Ansicht_Dia_Solid_Sim_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="5,27,121,91" href="Ansicht_der_Simulation_Solid_Simulation.htm" shape="rect"/>
   <area alt="" coords="18,93,104,119" href="javascript:BSSCPopup('Simulationstyp_einstellen.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="2,174,65,195" href="javascript:BSSCPopup('Werkzeugwege_anzeigen_Simulation.htm',400,600);" id="area2" shape="rect"/>
   <area alt="" coords="66,176,123,196" href="javascript:BSSCPopup('Maschinenverfahrbewegungen_anzeigen_Simulation.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="6,592,63,615" href="javascript:BSSCPopup('Rohteil_als_STL_Datei_abspeichern.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="67,594,123,616" href="javascript:BSSCPopup('Aktuellen_Simulationsstand_abspeichern.htm',400,600);" id="area5" shape="rect"/>
   <area alt="" coords="2,259,123,350" href="javascript:BSSCPopup('Tranzparanz_fuer_Rohteildarstellung.htm',400,600);" id="area6" shape="rect"/>
   <area alt="" coords="9,493,123,523" href="javascript:BSSCPopup('Draht_Verdeck_Ohne_Kanten_Mit_Kanten.htm',400,600);" id="area7" shape="rect"/>
   <area alt="" coords="5,526,123,575" href="Erweitertes_Rendern_Solid_Sim.htm" shape="rect"/>
   <area alt="" coords="3,426,123,474" href="javascript:BSSCPopup('Maschinenbauteile_ein_und_ausblenden_Masch_Sim.htm',400,600);" id="area8" shape="rect"/>
   <area alt="" coords="3, 134, 123, 175" href="Draht_Duesen_Rohteile_Zielteile.htm" shape="rect"/>
   <area alt="" coords="1, 203, 122, 229" href="Rohteil_mit_Werkstueck_vergleichen.htm" shape="rect"/>
   <area alt="" coords="2, 230, 123, 252" href="javascript:BSSCPopup('Simulationsfarben_zuruecksetzen_Solid_Simulation.htm',400,300);" id="area9" shape="rect"/>
   <area alt="" coords="2, 357, 121, 425" href="Transparenz_fuer_Maschinenbauteile_Masch_Sim.htm" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('area1');
        FilePopupInit('area2');
        FilePopupInit('area3');
        FilePopupInit('area4');
        FilePopupInit('area5');
        FilePopupInit('area6');
        FilePopupInit('area7');
        FilePopupInit('area8');
        FilePopupInit('area9');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
