{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Draht Register (Einstellungen)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    有线寄存器（设置）
   </font>
  </font>
 </p>
 <p class="Block_Text">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在此寄存器中，您可以设置与切割线模拟以及线腐蚀过程中产生的缺失零件相关的参数。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="WireSimOp_shg.gif" border="0" height="457" src="../WireSimOp_shg.gif" usemap="#AreaMap0" width="349"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="26,80,259,97" href="javascript:BSSCPopup('Draht_einfaedeln_auf_Kollisionen_pruefen.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="39,301,299,321" href="javascript:BSSCPopup('Kleinstes_Volumen_fuer_Ausfallteile.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="42,280,301,300" href="javascript:BSSCPopup('Kleinster_sichtbarer_Drahtdurchmesser.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="23,422,95,442" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="102,422,175,442" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="184,421,257,443" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area6" shape="rect"/>
   <area alt="" coords="266,424,339,446" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area7" shape="rect"/>
   <area alt="" coords="12,34,81,53" href="Solid_Register_Einstellungen_Simulation.htm" shape="rect"/>
   <area alt="" coords="81,34,168,54" href="Kollisionen_Register_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="169,33,261,53" href="Toleranzen_Register_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="263,35,338,53" href="Ansicht_Register_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="10,51,89,70" href="Farben_Register_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="88,56,170,72" href="Dialoge_Register_Einstellungen_.htm" shape="rect"/>
   <area alt="" coords="170,49,263,69" href="Simulation_Register_Einstellungen_.htm" shape="rect"/>
   <area alt="" coords="20,211,249,229" href="javascript:BSSCPopup('Warnton_bei_Kollisionen_und_Ausfallteilen.htm,400,300');" id="area8" shape="rect"/>
   <area alt="" coords="21, 100, 296, 119" href="javascript:BSSCPopup('Auf_Ausfallteile_pruefen_und_Ausfallteil_Dialog_zeigen.htm',400,300);" id="area9" shape="rect"/>
   <area alt="" coords="34, 123, 330, 139" href="javascript:BSSCPopup('Bei_Ausfallteil_immer_das_kleinere_Solid_von_zwei_Solids_loeschen.htm',400,300);" id="area10" shape="rect"/>
   <area alt="" coords="30, 143, 321, 161" href="javascript:BSSCPopup('Bei_Ausfallteil_alle_Solids_loeschen_ausser_das_groesste_Solid.htm',400,300);" id="area11" shape="rect"/>
   <area alt="" coords="21, 166, 299, 188" href="javascript:BSSCPopup('Nach_Ausfallteil_entstandenes_Rohteil_grafisch_glaetten.htm',400,300);" id="area12" shape="rect"/>
   <area alt="" coords="47, 232, 292, 279" href="javascript:BSSCPopup('Simulationsmethode_Tempo_oder_Qualitaet.htm',400,300);" id="area13" shape="rect"/>
   <area alt="" coords="36, 325, 315, 415" href="Ausfallteil_pruefen.htm" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('area1');
        FilePopupInit('area2');
        FilePopupInit('area3');
        FilePopupInit('area4');
        FilePopupInit('area5');
        FilePopupInit('area6');
        FilePopupInit('area7');
        FilePopupInit('area8');
        FilePopupInit('area9');
        FilePopupInit('area10');
        FilePopupInit('area11');
        FilePopupInit('area12');
        FilePopupInit('area13');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
