
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Einstellungen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Einstellungen" %}</p><p>{% trans "Ruft einen Registerdialog auf, in dem die Solidsimulation eingestellt wird. Es folgt eine Beschreibung der einzelnen Registerkarten:" %}</p>
<p class="hcp1"> </p>
<p class="pitalic">{% trans "[Klicken Sie auf die einzelnen Bereiche des folgenden Bildes, um Hilfetexte aufzurufen.]" %}</p>
<p class="hcp1"> </p>
<p><img src="../VISIOPT_W_shg.gif" usemap="#AreaMap0" alt="VISIOPT_W_shg.gif" width="348" height="75" border="0"/> <map name="AreaMap0" id="AreaMap0">
<area shape="rect" coords="9,31,80,51" href="Solid_Register_Einstellungen_Simulation.htm" alt=""/>
<area shape="rect" coords="83,33,170,51" href="Kollisionen_Register_Einstellungen.htm" alt=""/>
<area shape="rect" coords="264,53,338,74" href="Draht_Register_Einstellungen_.htm" alt=""/>
<area shape="rect" coords="263,33,339,52" href="Ansicht_Register_Einstellungen.htm" alt=""/>
<area shape="rect" coords="11,51,90,69" href="Farben_Register_Einstellungen.htm" alt=""/>
<area shape="rect" coords="170,35,264,53" href="Toleranzen_Register_Einstellungen.htm" alt=""/>
<area shape="rect" coords="89,51,166,70" href="Dialoge_Register_Einstellungen_.htm" alt=""/>
<area shape="rect" coords="170,49,263,73" href="Simulation_Register_Einstellungen_.htm" alt=""/></map></p>

{% endblock %}
{% endlinebreakless %}
