{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Einstellungen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<body id="mbody">
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    设置
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    打开一个注册对话框，在其中设置实体模拟。
   </font>
   <font style="vertical-align: inherit;">
    以下是每个选项卡的说明：
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="VISIOPT_W_shg.jpg" border="0" height="auto" src="../VISIOPT_W_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="9,31,80,51" href="Solid_Register_Einstellungen_Simulation.htm" shape="rect"/>
   <area alt="" coords="83,33,170,51" href="Kollisionen_Register_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="264,53,338,74" href="Draht_Register_Einstellungen_.htm" shape="rect"/>
   <area alt="" coords="263,33,339,52" href="Ansicht_Register_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="11,51,90,69" href="Farben_Register_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="170,35,264,53" href="Toleranzen_Register_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="89,51,166,70" href="Dialoge_Register_Einstellungen_.htm" shape="rect"/>
   <area alt="" coords="170,49,263,73" href="Simulation_Register_Einstellungen_.htm" shape="rect"/>
  </map>
 </p>


{% endblock %}
{% endlinebreakless %}
