{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Farben Register (Einstellungen)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    颜色选项卡（设置）
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “颜色”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项卡
   </font>
   <font style="vertical-align: inherit;">
    打开一个对话框，您
   </font>
   <font style="vertical-align: inherit;">
    可以在其中设置
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     实体
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    模拟
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     的颜色。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     您可以通过分配不同比例的红色
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    、
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     绿色
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    或
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     蓝色
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    来单独选择和调整每个色块
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    通过单击
   </font>
  </font>
  <a class="BSSCPopup" href="javascript:void(0);" id="a1" onclick="BSSCPopup('Farbpallette_fuer_Simulation.htm');return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      “调色板”
     </font>
    </font>
   </font>
  </a>
  <img alt="选择" border="0" height="auto" src="../Select.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    按钮，系统会打开一个对话框，您可以在其中直接选择 48 种不同颜色中的一种。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    以下对话框显示刀具
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     快速进给
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项处于活动状态。
   </font>
   <font style="vertical-align: inherit;">
    分配的颜色
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     主要是红色
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    （255 个红色分量）。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="SIMCOLOP_W_shg.jpg" border="0" height="auto" src="../SIMCOLOP_W_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="9,83,331,259" href="Farben_Register_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="258,282,315,308" href="javascript:BSSCPopup('Farbpallette_fuer_Simulation.htm',400,600);" id="area1" shape="rect"/>
   <area alt="" coords="9,32,81,51" href="Solid_Register_Einstellungen_Simulation.htm" shape="rect"/>
   <area alt="" coords="80,31,169,53" href="Kollisionen_Register_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="264,34,338,56" href="Ansicht_Register_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="20,423,103,447" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="101,422,175,448" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="185,427,258,448" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="263,427,338,448" href="javascript:BSSCPopup('../Commdata/COMMON_Vorgaben.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="170,33,262,54" href="Toleranzen_Register_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="262,56,333,72" href="Draht_Register_Einstellungen_.htm" shape="rect"/>
   <area alt="" coords="90,56,169,73" href="Dialoge_Register_Einstellungen_.htm" shape="rect"/>
   <area alt="" coords="171,56,260,72" href="Simulation_Register_Einstellungen_.htm" shape="rect"/>
   <area alt="" coords="17, 325, 333, 413" href="javascript:BSSCPopup('Vorgabe_fuer_Reflexionsfaktoren_Solid_Sim.htm',400,300);" id="area6" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('a1');
        FilePopupInit('area1');
        FilePopupInit('area2');
        FilePopupInit('area3');
        FilePopupInit('area4');
        FilePopupInit('area5');
        FilePopupInit('area6');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
