{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Grafik NC-Bearbeitung neu erzeugen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Kastoum" style="border-top: 1.50pt solid #0000ff; border-bottom: 1.50pt solid #0000ff; border-left: 1.50pt solid #0000ff; border-right: 1.50pt solid #0000ff;">
  <img alt="创建_线框.gif" border="0" height="31" src="../Create_Wireframe.gif" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    重新创建图形数控加工
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <img alt="删除_线框.gif" border="0" height="30" src="../Delete_Wireframe.gif" width="auto"/>
  <a href="Grafik_NC_Bearbeitung_loeschen.htm">
   <font style="font-weight: bold;">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      如果使用“删除图形 NC 加工”
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    命令或由于编辑操作中止而
   </font>
   <font style="vertical-align: inherit;">
    删除了所有现有 NC 加工图形，则此选项将重建所有现有 NC 加工图形的线框。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="graf_nc.jpg" border="0" height="203" src="../graf_nc.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    NC加工线框不影响NC数据输出。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
