
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Immer Werkzeugposition zusammen mit Kollisionsort anzeigen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Immer Werkzeugposition zusammen mit Kollisionsort anzeigen" %}</p><p>{% trans "Wenn Kollisionen auftreten, werden diese in einem Informations-Dialog angezeigt." %}</p>
<p>{% trans "Das Aktivieren dieser Option führt zur zusätzlichen Ausgabe der Koordinaten des Werkzeugweges und der Koordinate des Kollisionsortes." %}</p>

{% endblock %}
{% endlinebreakless %}
