{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Informationen aus Simulationsgrafik abfragen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <img alt="Solid_Sim_Face_Info_Staat_Sim.gif" border="0" height="28" src="../Solid_Sim_Face_Info_Std_Sim.gif" width="60"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    从模拟图形中查询信息
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    借助这些图标，您可以单击模拟图形中的任何对象，系统由此提供有关所选对象的信息。
   </font>
  </font>
 </p>
 <p>
  <img alt="Solid_Sim_Face_Info_1.gif" border="0" height="23" src="../Solid_Sim_Face_Info_1.gif" width="21"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ：输出有关所选对象类型（例如毛坯、喷嘴）的一般信息。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
