{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Informationen aus Simulationsgrafik abfragen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <img alt="Solid_Sim_Face_Info.jpg" border="0" height="23" src="../Solid_Sim_Face_Info.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    从模拟图形中查询信息
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    借助这些图标，您可以单击模拟图形中的任何区域，系统会提供有关所选元素的信息。
   </font>
  </font>
 </p>
 <p>
  <img alt="Solid_Sim_Face_Info_1.jpg" border="0" height="23" src="../Solid_Sim_Face_Info_1.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ：输出有关所选对象类型（例如毛坯、喷嘴）的一般信息。
   </font>
  </font>
  <br/>
  <img alt="Solid_Sim_Face_Info_2.jpg" border="0" height="20" src="../Solid_Sim_Face_Info_2.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ：允许单击
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     各个表面
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    并输出有关所选表面的扩展信息（已编辑/未编辑/哪个操作处理了该表面）。
   </font>
  </font>
  <br/>
  <img alt="Solid_Sim_Face_Info_3.jpg" border="0" height="21" src="../Solid_Sim_Face_Info_3.jpg" width="auto"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ：允许
   </font>
   <font style="vertical-align: inherit;">
    在模拟图形中标注
   </font>
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     2 点位置
    </font>
   </font>
   <font style="vertical-align: inherit;">
    的
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     尺寸。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
