{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Kollisionsliste" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    碰撞列表
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    此列表提供有关可能发生的任何冲突的信息。
   </font>
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="Listen_Collision 列表.gif" border="0" height="134" src="../Listen_Kollisionsliste.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <font color="#0000FF" style="font-weight: bold;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     注意：
    </font>
   </font>
   <br/>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    请注意，您可以单击任何列表条目。
   </font>
   <font style="vertical-align: inherit;">
    然后模拟向后/向前跳至所选条目。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
