{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Kurzhilfen für Dialogfelder anzeigen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    显示对话框的快捷方式
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果此选项处于活动状态，如果您将鼠标悬停在对话框选项上并稍等片刻，
   </font>
   <font style="vertical-align: inherit;">
    系统将显示
   </font>
  </font>
  <font style="font-weight: bold;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     快速帮助。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p class="hcp1">
 </p>
 <p>
  <img alt="简短帮助_SIM" border="0" height="auto" src="../Kurzhilfe_SIM.jpg" width="auto"/>
 </p>
 <p class="hcp1">
 </p>
 <h2 style="margin-top: 4.00pt; margin-bottom: 0.00pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    显示简短帮助之前的延迟
   </font>
  </font>
 </h2>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    设置显示快速帮助的延迟（以秒为单位）。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
