
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Kurzhilfen für Dialogfelder anzeigen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    p.hcp1 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Kurzhilfen für Dialogfelder anzeigen" %}</p><p>{% trans "Ist diese Option aktiv, zeigt das System eine [Kurzhilfe], wenn Sie mit der Maus über eine Dialogoption fahren und einen Moment warten." %}</p>
<p class="hcp1"> </p>
<p><img src="../Kurzhilfe_SIM.gif" alt="Kurzhilfe_SIM.gif" width="362" height="69" border="0"/></p>
<p class="hcp1"> </p>
<h2 style="margin-top: 4.00pt; margin-bottom: 0.00pt;">{% trans "Verzögerung vor Anzeige der Kurzhilfe" %}</h2>
<p>{% trans "Stellt ein, mit welcher Verzögerung (in Sekunden) die Kurzhilfe angezeigt wird." %}</p>

{% endblock %}
{% endlinebreakless %}
