
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Logbuch" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Logbuch" %}</p><p>{% trans "Das Logbuch listet alle besonderen Simulationsereignisse auf (Ausfallteile, Kollisionen etc.)." %}</p>
<p style="margin-top: 0; margin-bottom: 0;"> </p>
<p><img src="../Listen_Logbuch.gif" alt="Listen_Logbuch.gif" width="862" height="130" border="0"/></p>

{% endblock %}
{% endlinebreakless %}
