{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Markiertes Ausfallteil löschen u. weiter" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    删除标记的失败部分并继续
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    此选项与“
   </font>
   <font class="hcp1">
    <a class="BSSCPopup" href="javascript:void(0);" id="a1" onclick="BSSCPopup('Momentan_markierter_Solid_Entformumgstest_Solid_Simulation_Wire.htm',400,300);return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
     <font style="vertical-align: inherit;">
      当前选定的实体”
     </font>
    </a>
   </font>
   <font style="vertical-align: inherit;">
    对话框区域中的
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     “删除”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项类似，会删除表示失败零件的实体。
   </font>
  </font>
  <font class="hcp1">
   <a class="BSSCPopup" href="javascript:void(0);" id="a1" onclick="BSSCPopup('Momentan_markierter_Solid_Entformumgstest_Solid_Simulation_Wire.htm',400,300);return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
    <font style="vertical-align: inherit;">
    </font>
   </a>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     与“删除”
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    选项的区别
   </font>
   <font style="vertical-align: inherit;">
    在于，删除废弃部件后，模拟会自动继续。
   </font>
  </font>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('a1');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
