
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Markiertes Ausfallteil löschen u. weiter" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Markiertes Ausfallteil löschen u. weiter" %}</p><p>{% trans "Diese Option löscht genauso wie die Option [Löschen] im Dialogbereich [#Momentan markierter Solid#], den Solid, der das Ausfallteil darstellt." %}</p><p>{% trans "Der Unterschied zur Option [Löschen] besteht darin, dass die Simulation nach dem Löschen des Abfallteiles automatisch fortgesetzt wird." %}</p>
<script type="text/javascript" language="JavaScript1.2">
//&lt;![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('a1');
//]]&gt;
</script>

{% endblock %}
{% endlinebreakless %}
