{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Maschinenbauteile ein- und ausblenden" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    li.hcp2 { font-size:9pt; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    显示和隐藏机器组件
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    您可以使用这些按钮来显示或隐藏各个
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     机器组件
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p style="margin-top: 0; margin-bottom: 0;">
 </p>
 <p class="Tip_Note_Heading" style="margin-top: 4.00pt;">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    它是这样完成的：
   </font>
  </font>
 </p>
 <p class="Tip_Note_Heading">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    隐藏机器组件
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp2">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       隐藏&gt;&gt;
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      按钮。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp2">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      选择要在图形窗口中隐藏的元素。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp2">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       使用Esc
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      键或
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       取消
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      按钮结束选择
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p class="Tip_Note_Heading">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    隐藏机器组件并将其排除在碰撞控制之外
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp2">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       删除&gt;&gt;
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      按钮。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp2">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      选择要在图形窗口中隐藏的元素。
     </font>
    </font>
   </p>
  </li>
  <li class="hcp2">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       使用Esc
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      键或
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       取消
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      按钮结束选择
     </font>
     <font style="vertical-align: inherit;">
      。
     </font>
    </font>
   </p>
  </li>
 </ul>
 <p class="Tip_Note_Heading">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    再次显示隐藏的机器组件
   </font>
  </font>
 </p>
 <ul>
  <li class="hcp2">
   <p class="Tip_Note_Text_Bulleted">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      单击
     </font>
    </font>
    <font class="hcp1">
     <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
       恢复
      </font>
     </font>
    </font>
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      按钮。
     </font>
    </font>
   </p>
  </li>
 </ul>


{% endblock %}
{% endlinebreakless %}
