{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Maschinenverfahrbewegungen anzeigen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    显示机器动作
   </font>
  </font>
 </p>
 <p class="Block_Text">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果此选项处于活动状态（默认设置），则会模拟每个运动。
   </font>
  </font>
 </p>
 <p class="Block_Text">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果该选项未激活，则不会模拟任何移动，仅模拟加工结果。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
