
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Momentan markierter Solid" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Momentan markierter Solid" %}</p><p>{% trans "Während der Simulation einer Drahterodierbearbeitung, werden eventuelle Ausfallteile als Solids angezeigt." %}</p>
<p>{% trans "Normalerweise entsteht nur ein Ausfallteil, es kann jedoch zu Situationen kommen, in denen mehrere Ausfallteile entstehen." %}</p>
<p>{% trans "Für die Simulationssoftware ist es dann nicht einfach festzustellen, welcher der gezeigten Solids, das Werkstück und welche Solids die Ausfallteile darstellen." %}</p>
<p>{% trans "Wenn die Simulationssoftware das Werkstück/Rohteil irrtümlich in der Farbe der Ausfallteile zeigt, können Sie im Feld [Nummer] festlegen, welcher Solid das Werkstück/Rohteil ist." %}</p>
<p class="hcp2"> </p>
<p><img src="../Ausfall_test3.gif" alt="Ausfall_test3.gif" width="729" height="261" border="0"/></p>
<p class="hcp2"> </p>
<p>{% trans "Mit der Schaltfläche [Löschen] können Sie den Solid des Ausfallteiles löschen." %}</p>
<p>{% trans "Falls Sie irrtümlich den falschen Solid gelöscht haben, können Sie den Löschvorgang mit der Option [Rückg]. aufheben." %}</p>
<p>{% trans "Wenn Sie sicher sind, dass das System die richtigen Ausfallteil-Solids löscht, können Sie die Schaltfläche #[Markiertes Ausfallteil löschen u. weiter]# verwenden." %}</p>
<p>{% trans "Diese Schaltfläche löscht die Solids der Ausfallteile automatisch und startet die Simulation erneut." %}</p>

{% endblock %}
{% endlinebreakless %}
