{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Operationenliste" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    操作清单
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     显示模拟加工操作
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    的列表
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="Listen_Operationslist" border="0" height="auto" src="../Listen_Operationsliste.jpg" width="auto"/>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font class="hcp1" color="#0000FF">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     注意：
    </font>
   </font>
   <br/>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    请注意，您可以单击任何列表条目。
   </font>
   <font style="vertical-align: inherit;">
    然后模拟向后/向前跳至所选条目。
   </font>
  </font>
 </p>


{% endblock %}
{% endlinebreakless %}
