
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Optionen (Zielteilvergleich)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Optionen (Zielteilvergleich)" %}</p><p>{% trans "[Bearbeitetes Rohteil]: Schaltet die Anzeige der [Rohteilgrafik] an oder aus." %}</p>
<p>{% trans "[Zielteil]: Schaltet die Anzeige der [Zielteilgrafik] (Werkstück) an oder aus." %}</p>
<p>{% trans "[Restmaterial]: Schaltet die Anzeige des errechneten [Restmaterials] an oder aus." %}</p>
<p>{% trans "[Gouges]: Schaltet die Anzeige der [Modellbeschädigungen (Gouges)] an oder aus." %}</p>

{% endblock %}
{% endlinebreakless %}
