
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Schnellste Methode für Bildneuaufbau verwenden" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Schnellste Methode für Bildneuaufbau verwenden" %}</p><p>{% trans "Ist diese Option aktiv, baut das System bei einem Neuaufbau der Simulationsgrafik, nur den sichtbaren Bereich des Grafikfenster neu auf." %}</p>
<p style="font-weight: bold;">{% trans "Beispiel:" %}</p>
<p>{% trans "Ein Dialog überdeckt die Simulationsgrafik. In diesem Fall wird der Bereich hinter dem Dialog nicht neu aufgebaut." %}</p>

{% endblock %}
{% endlinebreakless %}
