{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Simulation im Einzelsatz" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    一句话模拟
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    如果单击按钮
   </font>
  </font>
  <img alt="Sim_Single_Step.gif" border="0" height="34" src="../Sim_Single_Step.gif" width="39"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    ，模拟将在每个 NC 程序段后停止。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这样，结合
   </font>
  </font>
  <a class="BSSCPopup" href="javascript:void(0);" id="a1" onclick="BSSCPopup('XY_Position_und_Winkelanzeige_Simulation.htm');return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
   <font style="font-weight: bold;">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      XY位置的显示，
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    就可以分块模拟，准确确定当前导线位置。
   </font>
  </font>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('a1');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
