{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Solid Simulation" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
	 border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">
  <img alt="Solid_Sim.gif" border="0" height="33" src="../Solid_Sim.gif" width="32"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    固体模拟
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     以固体模拟
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    的形式进行程序模拟
   </font>
   <font style="vertical-align: inherit;">
    ，并
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     模拟材料去除。
    </font>
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在这种形式的模拟中，系统将切割线、上下喷嘴、工件、毛坯件和材料去除显示为实体模型。
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <img alt="Solid_Simexa.gif" border="0" height="227" src="../Solid_Simexa.gif" width="379"/>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    模拟通过 3 个可根据需要移动的对话框进行控制。
   </font>
   <font style="vertical-align: inherit;">
    它们是
   </font>
  </font>
  <a href="Der_Steuerdialog_Solid_Simulation.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     控制对话框
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    、
   </font>
  </font>
  <a href="Der_Listendialog_Solid_Simulation.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     列表对话框
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    和
   </font>
  </font>
  <a href="Der_Ansichtdialog_Solid_Simulation.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     视图对话框
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域以访问帮助文本
    </font>
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="simdialoguew_shg.gif" border="0" height="862" src="../simdialoguew_shg.gif" usemap="#AreaMap0" width="1080"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="0,0,928,79" href="Der_Steuerdialog_Solid_Simulation.htm" shape="rect"/>
   <area alt="" coords="0,91,1080,224" href="Der_Listendialog_Solid_Simulation.htm" shape="rect"/>
   <area alt="" coords="479,239,607,859" href="Der_Ansichtdialog_Solid_Simulation.htm" shape="rect"/>
  </map>
 </p>
 <p>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     它是这样完成的：
    </font>
   </font>
  </font>
 </p>
 <p>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     切割技术的控制
    </font>
   </font>
   <br/>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在模拟过程中，系统还会显示
   </font>
  </font>
  <a class="BSSCPopup" href="javascript:void(0);" id="a1" onclick="BSSCPopup('Registerkontrolle_Simulation.htm');return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      “注册控制”
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    对话框。
   </font>
   <font style="vertical-align: inherit;">
    该对话框显示当前模拟切割的工艺设置。
   </font>
  </font>
  <br/>
  <br/>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     失效部件检查
    </font>
   </font>
   <br/>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    模拟线切割放电加工时，可能会出现产生失效部件（废料从工件上脱落）的情况。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    PEPS 可以以图形方式标记故障部件并测试是否可以移除故障部件。
   </font>
   <font style="vertical-align: inherit;">
    详细内容请参见：
   </font>
  </font>
  <a href="Ausfallteil_Ueberpruefung_Dialogbox_Solid_Simulation_Wire.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      故障部位检查
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
  <br/>
  <br/>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     更改模拟视图
    </font>
   </font>
   <br/>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在实体模拟期间，您可以使用鼠标根据需要更改显示的视图。
   </font>
   <font style="vertical-align: inherit;">
    视图可以旋转、缩放和移动。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    有关如何执行此操作的详细信息，请参阅
   </font>
  </font>
  <a href="Common-049.chm::/CommonHelp5/Interaktives_Zoomen_Rotieren_im_PEPS_Grafikfenster.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      PEPS 图形窗口中的交互式缩放和旋转
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    一章。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    对于几何形状复杂的工件，可以通过在旋转时
   </font>
   <font style="vertical-align: inherit;">
    按住
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     Ctrl键来加快视图的旋转速度。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('a1');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
