{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Standard Simulation XXXALT" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="Kasten" style="border-top: 1.50pt solid #ff0000; border-bottom: 1.50pt solid #ff0000; 
	 border-left: 1.50pt solid #ff0000; border-right: 1.50pt solid #ff0000;">
  <img alt="Sim_Standard1.gif" border="0" height="33" src="../Sim_Standard1.gif" width="33"/>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    标准模拟
   </font>
  </font>
 </p>
 <p>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    程序模拟，无需
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     模拟材料去除。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在这种形式的模拟中，系统将切割线、上下喷嘴以及毛坯件显示为实体模型。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    与
   </font>
  </font>
  <a href="Solid_Simulation.htm">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     实体模拟相比，
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    不显示材料去除，并且无法
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     进行目标零件比较
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    和
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     碰撞控制
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="标准_Simu.gif" border="0" height="248" src="../Standard_Simu.gif" width="403"/>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    模拟是通过一个可以根据需要移动的对话框来控制的。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域以访问帮助文本
    </font>
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="simdialogue_Standard_SIM_shg.gif" border="0" height="134" src="../simdialogue_Standard_SIM_shg.gif" usemap="#AreaMap0" width="1011"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="247,51,500,104" href="javascript:BSSCPopup('Tranzparanz_fuer_Rohteildarstellung.htm');" id="area1" shape="rect"/>
   <area alt="" coords="589,45,681,104" href="javascript:BSSCPopup('Tempo_Button_Simulation.htm');" id="area2" shape="rect"/>
   <area alt="" coords="726,1,824,45" href="javascript:BSSCPopup('Stop_bei____.htm');" id="area3" shape="rect"/>
   <area alt="" coords="692,43,719,106" href="javascript:BSSCPopup('Simulationstyp_einstellen.htm');" id="area4" shape="rect"/>
   <area alt="" coords="726,54,880,95" href="javascript:BSSCPopup('Ansicht_der_Simulation_Solid_Simulation.htm');" id="area5" shape="rect"/>
   <area alt="" coords="20,105,752,130" href="javascript:BSSCPopup('Simulationsgeschwindigkeit.htm');" id="area6" shape="rect"/>
   <area alt="" coords="544,2,694,41" href="javascript:BSSCPopup('Aktuelle_Operation_Standard_Simulation.htm');" id="area7" shape="rect"/>
   <area alt="" coords="798,108,844,129" href="javascript:BSSCPopup('Logbuch_Standard_Simulation.htm');" id="area8" shape="rect"/>
   <area alt="" coords="850,105,897,129" href="Einstellungen_Simulation.htm" shape="rect"/>
   <area alt="" coords="902,107,952,129" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm');" id="area9" shape="rect"/>
   <area alt="" coords="955,106,1002,129" href="javascript:BSSCPopup('Schliessen_Simulation_beenden.htm');" id="area10" shape="rect"/>
   <area alt="" coords="547,70,570,94" href="javascript:BSSCPopup('Informationen_aus_Simulationsgrafik_abfragen_Standard_Simulation.htm');" id="area11" shape="rect"/>
   <area alt="" coords="755,101,795,128" href="javascript:BSSCPopup('Anzeige_der_Bearbeitungsrichtung.htm');" id="area12" shape="rect"/>
   <area alt="" coords="20,1,542,40" href="javascript:BSSCPopup('Auslenkungsanzeige_Standard_Sim.htm');" id="area13" shape="rect"/>
  </map>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     它是这样完成的：
    </font>
   </font>
  </font>
 </p>
 <p>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     切割技术的控制
    </font>
   </font>
   <br/>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在模拟过程中，系统还会显示
   </font>
  </font>
  <a class="BSSCPopup" href="javascript:void(0);" id="a1" onclick="BSSCPopup('Registerkontrolle_Simulation.htm');return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      “注册控制”
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    对话框。
   </font>
   <font style="vertical-align: inherit;">
    该对话框显示当前模拟切割的工艺设置。
   </font>
  </font>
  <br/>
  <br/>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     更改模拟视图
    </font>
   </font>
   <br/>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    在实体模拟期间，您可以使用鼠标根据需要更改显示的视图。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    视图可以旋转、缩放和移动。
   </font>
   <font style="vertical-align: inherit;">
    有关如何执行此操作的详细信息，请参阅
   </font>
  </font>
  <a href="Common-049.chm::/CommonHelp5/Interaktives_Zoomen_Rotieren_im_PEPS_Grafikfenster.htm">
   <font class="hcp1">
    <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">
      PEPS 图形窗口中的交互式缩放和旋转
     </font>
    </font>
   </font>
  </a>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    一章 
 。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    对于几何形状复杂的工件，可以通过在旋转时
   </font>
   <font style="vertical-align: inherit;">
    按住
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     Ctrl键来加快视图的旋转速度。
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
  </font>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
	if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
	FilePopupInit('area1');
	FilePopupInit('area2');
	FilePopupInit('area3');
	FilePopupInit('area4');
	FilePopupInit('area5');
	FilePopupInit('area6');
	FilePopupInit('area7');
	FilePopupInit('area8');
	FilePopupInit('area9');
	FilePopupInit('area10');
	FilePopupInit('area11');
	FilePopupInit('area12');
	FilePopupInit('area13');
	FilePopupInit('a1');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
