
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Toleranzen Register (Einstellungen)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Toleranzen Register (Einstellungen)" %}</p><p>{% trans "Mit diesen Einstellungen kontrollieren Sie, mit welcher Genauigkeit die [Werkzeuggrafik], die [Rohteilgrafik] und die [Grafik des Materialabtrages] dargestellt wird." %}</p><p>{% trans "Hier gilt: Je höher die Genauigkeit, desto präziser aber auch langsamer ist die Simulation." %}</p>
<p class="hcp2"> </p>
<p class="pitalic">{% trans "[Klicken Sie auf die einzelnen Bereiche des folgenden Bildes, um Hilfetexte aufzurufen.]" %}</p>
<p class="hcp2"> </p>
<p><img src="../TOLOPT_W_shg.gif" usemap="#AreaMap0" alt="TOLOPT_W_shg.gif" width="349" height="457" border="0"/> <map name="AreaMap0" id="AreaMap0">
<area shape="rect" coords="12,52,80,70" href="Solid_Register_Einstellungen_Simulation.htm" alt=""/>
<area shape="rect" coords="80,50,171,69" href="Kollisionen_Register_Einstellungen.htm" alt=""/>
<area shape="rect" coords="267,55,337,72" href="Ansicht_Register_Einstellungen.htm" alt=""/>
<area shape="rect" coords="12,29,85,49" href="Farben_Register_Einstellungen.htm" alt=""/>
<area shape="rect" coords="37,181,298,207" href="javascript:BSSCPopup('Sichtbare_Faccettierung.htm',400,300);" id="area1" alt=""/>
<area shape="rect" coords="39,243,295,271" href="Genauigkeit_fuer_Solidsimulation_Zielteilvergleich.htm" alt=""/>
<area shape="rect" coords="29,278,288,304" href="javascript:BSSCPopup('Rauhtiefenvorgabe_fuer_Simulation.htm',400,300);" id="area2" alt=""/>
<area shape="rect" coords="22, 422, 98, 448" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area3" alt=""/>
<area shape="rect" coords="102, 418, 176, 451" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area4" alt=""/>
<area shape="rect" coords="183,419,256,444" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area5" alt=""/>
<area shape="rect" coords="265,419,338,445" href="javascript:BSSCPopup('../Commdata/COMMON_Vorgaben.htm',400,300);" id="area6" alt=""/>
<area shape="rect" coords="43,215,293,238" href="javascript:BSSCPopup('Lueckentoleranz_fuer_Zielteilvergleich.htm',400,300);" id="area7" alt=""/>
<area shape="rect" coords="264,35,336,51" href="Draht_Register_Einstellungen_.htm" alt=""/>
<area shape="rect" coords="36,312,289,335" href="javascript:BSSCPopup('Minimales_Volumen_das_gespeichert_werden_soll.htm',400,500);" id="area8" alt=""/>
<area shape="rect" coords="87,31,168,53" href="Dialoge_Register_Einstellungen_.htm" alt=""/>
<area shape="rect" coords="170,32,260,52" href="Simulation_Register_Einstellungen_.htm" alt=""/>
<area shape="rect" coords="21, 78, 330, 179" href="javascript:BSSCPopup('Draht_Duesen_und_Solid-Facetierung.htm',400,500);" id="area9" alt=""/>
<area shape="rect" coords="30, 338, 300, 375" href="javascript:BSSCPopup('Schrittweite_fuer_Maschinenkopfsimulation.htm',400,300);" id="area10" alt=""/></map></p>
<script type="text/javascript" language="JavaScript1.2">
//&lt;![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('area1');
        FilePopupInit('area2');
        FilePopupInit('area3');
        FilePopupInit('area4');
        FilePopupInit('area5');
        FilePopupInit('area6');
        FilePopupInit('area7');
        FilePopupInit('area8');
        FilePopupInit('area9');
        FilePopupInit('area10');
//]]&gt;
</script>

{% endblock %}
{% endlinebreakless %}
