{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Toleranzen Register (Einstellungen)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { margin-top:0;
    margin-bottom:0; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
 <p class="dialog">
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    公差选项卡（设置）
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     通过这些设置，您可以控制工具图形
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    、
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     原始零件图形
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    和
   </font>
  </font>
  <font class="hcp1">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     材料去除图形
    </font>
   </font>
  </font>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    的显示精度
   </font>
   <font style="vertical-align: inherit;">
    。
   </font>
  </font>
 </p>
 <p>
  <font style="vertical-align: inherit;">
   <font style="vertical-align: inherit;">
    这里适用以下规则：精度越高，模拟越精确，但也越慢。
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <font color="#FF0000" style="font-style: italic;">
   <font style="vertical-align: inherit;">
    <font style="vertical-align: inherit;">
     单击下图的各个区域可访问帮助文本。
    </font>
   </font>
  </font>
 </p>
 <p class="hcp2">
 </p>
 <p>
  <img alt="TOLOPT_W_shg.jpg" border="0" height="457" src="../TOLOPT_W_shg.jpg" usemap="#AreaMap0" width="auto"/>
  <map id="AreaMap0" name="AreaMap0">
   <area alt="" coords="12,52,80,70" href="Solid_Register_Einstellungen_Simulation.htm" shape="rect"/>
   <area alt="" coords="80,50,171,69" href="Kollisionen_Register_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="267,55,337,72" href="Ansicht_Register_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="12,29,85,49" href="Farben_Register_Einstellungen.htm" shape="rect"/>
   <area alt="" coords="37,181,298,207" href="javascript:BSSCPopup('Sichtbare_Faccettierung.htm',400,300);" id="area1" shape="rect"/>
   <area alt="" coords="39,243,295,271" href="Genauigkeit_fuer_Solidsimulation_Zielteilvergleich.htm" shape="rect"/>
   <area alt="" coords="29,278,288,304" href="javascript:BSSCPopup('Rauhtiefenvorgabe_fuer_Simulation.htm',400,300);" id="area2" shape="rect"/>
   <area alt="" coords="22, 422, 98, 448" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area3" shape="rect"/>
   <area alt="" coords="102, 418, 176, 451" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area4" shape="rect"/>
   <area alt="" coords="183,419,256,444" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area5" shape="rect"/>
   <area alt="" coords="265,419,338,445" href="javascript:BSSCPopup('../Commdata/COMMON_Vorgaben.htm',400,300);" id="area6" shape="rect"/>
   <area alt="" coords="43,215,293,238" href="javascript:BSSCPopup('Lueckentoleranz_fuer_Zielteilvergleich.htm',400,300);" id="area7" shape="rect"/>
   <area alt="" coords="264,35,336,51" href="Draht_Register_Einstellungen_.htm" shape="rect"/>
   <area alt="" coords="36,312,289,335" href="javascript:BSSCPopup('Minimales_Volumen_das_gespeichert_werden_soll.htm',400,500);" id="area8" shape="rect"/>
   <area alt="" coords="87,31,168,53" href="Dialoge_Register_Einstellungen_.htm" shape="rect"/>
   <area alt="" coords="170,32,260,52" href="Simulation_Register_Einstellungen_.htm" shape="rect"/>
   <area alt="" coords="21, 78, 330, 179" href="javascript:BSSCPopup('Draht_Duesen_und_Solid-Facetierung.htm',400,500);" id="area9" shape="rect"/>
   <area alt="" coords="30, 338, 300, 375" href="javascript:BSSCPopup('Schrittweite_fuer_Maschinenkopfsimulation.htm',400,300);" id="area10" shape="rect"/>
  </map>
 </p>
 <script language="JavaScript1.2" type="text/javascript">
  //<![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('area1');
        FilePopupInit('area2');
        FilePopupInit('area3');
        FilePopupInit('area4');
        FilePopupInit('area5');
        FilePopupInit('area6');
        FilePopupInit('area7');
        FilePopupInit('area8');
        FilePopupInit('area9');
        FilePopupInit('area10');
//]]>
 </script>


{% endblock %}
{% endlinebreakless %}
