
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Transparenz" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Transparenz" %}</p><p>{% trans "Hier können Sie die [Transparenz] (Durchsichtigkeit) für die Simulationsgrafiken [Rohteile], [Zielteile], [Düsen] und [Draht] einstellen." %}</p>
<p>{% trans "Aktivieren Sie dazu die Option [Aktivieren]. Dies schaltet eine Liste frei, in der Sie auswählen können, welche Simulationsgrafik ([Rohteile], [Zielteile], [Düsen] oder der [Draht]) transparent dargestellt werden soll." %}</p>
<p>{% trans "Verwenden Sie anschließend den Schieber @, um den Transparenzgrad für die gewählte Simulationsgrafik einzustellen." %}</p>
<p>{% trans "Der Wert kann zwischen [0] und [100] liegen, wobei [0] die Simulationsgrafik als [Solid] und [100] die Grafik völlig [transparent] (durchsichtig) anzeigt." %}</p>
<p style="margin-top: 0; margin-bottom: 0;"> </p>
<p><img src="../Sol_Sim_Transp.gif" alt="Sol_Sim_Transp.gif" width="742" height="234" border="0"/></p>

{% endblock %}
{% endlinebreakless %}
