
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Verfahrwege weich simulieren" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Verfahrwege weich simulieren" %}</p><p>{% trans "Ist diese Option aktiv, werden die Verfahrbewegungen von Draht und Düsen weicher (weniger abrupt) simuliert." %}</p>
<p>{% trans "Als Systemvoreinstellung ist diese Option [de]aktiviert, da die Simulationsgeschwindigkeit bei Aktivierung der Option langsamer wird." %}</p>

{% endblock %}
{% endlinebreakless %}
