
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Vergrößern (Drahtmodell-Simulation)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Vergrößern (Drahtmodell-Simulation)" %}</p><p>{% trans "Mit diesen Ikonen können Sie eine Vergrößerung der Simulationsgrafik ausführen oder eine vorhandene Vergrößerung aufheben." %}</p>
<p>{% trans "Beachten Sie bitte die Befehlsoptionen ([rechte Maustaste] od. [horizontale Ikonenleiste]), die das System nach Wahl der Ikone @ anzeigt." %}</p>

{% endblock %}
{% endlinebreakless %}
