
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Verwende OpenGL Vertex Buffer Objekte" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Verwende OpenGL Vertex Buffer Objekte" %}</p><p>{% trans "Dies ist eine Open GL Hardware Beschleunigungsoption (verwendet von CAD-Grafikkarten)." %}</p>
<p>{% trans "Diese Option sollte immer aktiviert sein, es sei denn, es kommt zu Grafikkartenproblemen." %}</p>

{% endblock %}
{% endlinebreakless %}
