
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Winkelinkrement für Rotationen" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Simulation.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Winkelinkrement für Rotationen" %}</p><p>{% trans "Legt die Schrittweite, bei [Rotationen] der Werkstückgrafik fest. Es ist normalerweise nicht notwendig, den voreingestellten Wert zu verändern." %}</p>
<p>{% trans "Es sei denn, die Werkstückgrafik ist sehr komplex." %}</p>

{% endblock %}
{% endlinebreakless %}
