
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Das Vorbereitungs Menü (AGIEVISION)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <h1>{% trans "Das Vorbereitungs Untermenü (AGIEVISION)" %}</h1><p>{% trans "Um allen Möglichkeiten der [AGIEVISION] Maschinen gerecht zu werden, war es nötig das [Untermenü] [Vorbereitung], das Menü #[Bearbeitung]# sowie einige [Bearbeitungsdialogboxen] zu verändern." %}</p><p>{% trans "Die geänderten Menüs und Dialogboxeinträge des Untermenüs [Vorbereitung] sind Gegenstand dieser speziellen Hilfedatei." %}</p>
<p> </p>
<p style="color: #ff0000; font-style: italic;">{% trans "Klicken Sie auf die einzelnen Bereiche des folgenden Bildes, um Hilfetexte aufzurufen." %}</p>
<p> </p>
<p><img src="../WIR9_AV_shg.gif" usemap="#AreaMap0" alt="WIR9_AV_shg.gif" width="446" height="160" border="0"/> <map name="AreaMap0" id="AreaMap0">
<area shape="rect" coords="222,1,446,19" href="Synchronisationslinien_AGIEVISION.htm" alt=""/>
<area shape="rect" coords="222,19,446,36" href="Zusaetzliche_Anbindungen_AGIEVISION.htm" alt=""/>
<area shape="rect" coords="222,36,446,52" href="Zusaetzliche_Technologien_AGIEVISION.htm" alt=""/>
<area shape="rect" coords="222,52,446,69" href="Zusaetzliche_M_Codes_Kommentare_AGIEVISION.htm" alt=""/>
<area shape="rect" coords="222,88,446,105" href="Variable_Bearbeitungsebenen_AGIEVISION.htm" alt=""/>
<area shape="rect" coords="222,104,446,123" href="Sekundaerfigur_erzeugen_AGIEVISION.htm" alt=""/>
<area shape="rect" coords="222,122,446,138" href="Sekundaerfigur_TWIST_erzeugen_AGIEVISION.htm" alt=""/>
<area shape="rect" coords="221,138,446,160" href="javascript:BSSCPopup('../Commdata/COMMON_Nicht_verwendete_Funktion.htm');" id="area1" alt=""/>
<area shape="rect" coords="222,69,445,90" href="../wirhlp9/Sektoren_AGIEVISION_.htm" alt=""/></map></p>
<script type="text/javascript" language="JavaScript1.2">
//&lt;![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('area1');
//]]&gt;
</script>

{% endblock %}
{% endlinebreakless %}
