
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Das Vorbereitungs Menü (AGIEVISION)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<h1>
    <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">准备子菜单 (AGIEVISION)</font>
    </font>
</h1>
<p>
    <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">为了充分利用</font>
    </font>
    <font class="hcp1">
            <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">AGIEVISION</font>
            </font>
    </font>
    <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">机器的所有可能性，有必要</font>
            <font style="vertical-align: inherit;">更改</font>
            <font class="hcp1">
                    <font style="vertical-align: inherit;">“准备”</font>
            </font>
    </font>
    <font class="hcp1">
            <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">子菜单、 </font>
            </font>
    </font>
    <font style="vertical-align: inherit;"><a href="Das_Bearbeitungs_Menue_AGIEVISION.htm">
                    <font class="hcp1">
                            <font style="vertical-align: inherit;">“编辑”</font>
                    </font>
            </a>
            <font style="vertical-align: inherit;">菜单</font>
            <font style="vertical-align: inherit;">和一些</font>
            <font class="hcp1">
                    <font style="vertical-align: inherit;">编辑对话框。</font>
            </font>
    </font>
    <font class="hcp1">
            <font style="vertical-align: inherit;"></font>
    </font>
    <font style="vertical-align: inherit;"></font><a href="Das_Bearbeitungs_Menue_AGIEVISION.htm">
            <font class="hcp1">
                    <font style="vertical-align: inherit;"></font>
            </font>
    </a>
    <font style="vertical-align: inherit;"></font>
    <font class="hcp1">
            <font style="vertical-align: inherit;"></font>
    </font>
    <font style="vertical-align: inherit;"></font>
</p>
<p>
    <font style="vertical-align: inherit;"></font>
    <font class="hcp1">
            <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">准备</font>
            </font>
    </font>
    <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">子菜单中已更改的菜单和对话框条目</font>
            <font style="vertical-align: inherit;">是此特殊帮助文件的主题。</font>
    </font>
</p>
<p> </p>
<p style="color: #ff0000; font-style: italic;">
    <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">单击下图的各个区域可访问帮助文本。</font>
    </font>
</p>
<p> </p>
<p><img alt="WIR9_AV_shg.jpg" border="0" height="auto" src="../WIR9_AV_shg.jpg" usemap="#AreaMap0" width="auto" /> <map id="AreaMap0" name="AreaMap0">
            <area alt="" coords="222,1,446,19" href="Synchronisationslinien_AGIEVISION.htm" shape="rect" />
            <area alt="" coords="222,19,446,36" href="Zusaetzliche_Anbindungen_AGIEVISION.htm" shape="rect" />
            <area alt="" coords="222,36,446,52" href="Zusaetzliche_Technologien_AGIEVISION.htm" shape="rect" />
            <area alt="" coords="222,52,446,69" href="Zusaetzliche_M_Codes_Kommentare_AGIEVISION.htm" shape="rect" />
            <area alt="" coords="222,88,446,105" href="Variable_Bearbeitungsebenen_AGIEVISION.htm" shape="rect" />
            <area alt="" coords="222,104,446,123" href="Sekundaerfigur_erzeugen_AGIEVISION.htm" shape="rect" />
            <area alt="" coords="222,122,446,138" href="Sekundaerfigur_TWIST_erzeugen_AGIEVISION.htm" shape="rect" />
            <area alt="" coords="221,138,446,160" href="javascript:BSSCPopup('../Commdata/COMMON_Nicht_verwendete_Funktion.htm');" id="area1" shape="rect" />
            <area alt="" coords="222,69,445,90" href="../wirhlp9/Sektoren_AGIEVISION_.htm" shape="rect" /></map></p>
<script language="JavaScript1.2" type="text/javascript">
    //<![CDATA[
    if (typeof (FilePopupInit) != 'function') FilePopupInit = new Function();
    FilePopupInit('area1');
    //]]>
</script>
{% endblock %}
{% endlinebreakless %}
