
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Einstellungen (Einstellen der Schnittmethode AGIEVISION)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">设置（设置 AGIEVISION 切割方法）</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">设置</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">按钮</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">用于打开</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">设置编辑</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">对话框。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">在此对话框中，您可以设置轮廓加工</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">切割</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">的参数。</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">连接</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">、</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">扩展/扩展</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">、</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">偏移</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">、</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">数据库</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">、</font>
      <font style="vertical-align: inherit;">设置</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">颜色。</font>
      </font>
    </font>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p>&nbsp;</p>
  <p style="color: #ff0000; font-style: italic;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">单击下图的各个区域可访问帮助文本。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p><img alt="CUTSETAV_shg.jpg" border="0" height="473" src="../CUTSETAV_shg.jpg" usemap="#AreaMap0" width="auto" /> <map id="AreaMap0" name="AreaMap0">
      <area alt="" coords="68,33,123,53" href="Anbinden_Register_AGIEVISION.htm" shape="rect" />
      <area alt="" coords="124,34,201,53" href="../wirhlp10/Ein_Ausfahren_Lasche.htm" shape="rect" />
      <area alt="" coords="203,34,243,52" href="../wirhlp10/Offset_Lasche.htm" shape="rect" />
      <area alt="" coords="241,34,294,53" href="../wirhlp10/Datenbank_fuer_Technologie_Lasche.htm" shape="rect" />
      <area alt="" coords="34,70,135,87" href="javascript:BSSCPopup('../wirhlp10/Offset_ausgeben_Std_Konturbea.htm',400,600);" id="area1" shape="rect" />
      <area alt="" coords="154,89,308,115" href="javascript:BSSCPopup('../wirhlp10/Zusaetzliches_Offset.htm',400,600);" id="area2" shape="rect" />
      <area alt="" coords="30,120,63,392" href="javascript:BSSCPopup('Anzahl_Schnitte_1_2_3_AGIEVISION.htm',400,600);" id="area3" shape="rect" />
      <area alt="" coords="67,120,105,393" href="javascript:BSSCPopup('Mit_Konik_AGIEVISION.htm',400,300);" id="area4" shape="rect" />
      <area alt="" coords="106,122,151,391" href="javascript:BSSCPopup('../wirhlp10/Ecken_Strategie.htm');" id="area5" shape="rect" />
      <area alt="" coords="151,120,199,397" href="javascript:BSSCPopup('../wirhlp10/Offset_im_Dialog_Bearbeitung_einstellen.htm',400,600);" id="area6" shape="rect" />
      <area alt="" coords="247,121,330,399" href="javascript:BSSCPopup('Extra_Codes_AGIEVISION.htm',400,600);" id="area7" shape="rect" />
      <area alt="" coords="30,394,139,414" href="javascript:BSSCPopup('../wirhlp10/Mit_Pendelschnitt.htm',400,300);" id="area8" shape="rect" />
      <area alt="" coords="33,93,110,112" href="../wirhlp10/3D_Offset.htm" shape="rect" />
      <area alt="" coords="154,69,306,90" href="javascript:BSSCPopup('../wirhlp10/Innere_Ecken_modifizieren.htm',400,600);" id="area9" shape="rect" />
      <area alt="" coords="206,121,245,384" href="Anzahl_Schnitte_1_2_3_AGIEVISION.htm" shape="rect" />
      <area alt="" coords="12,439,86,462" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area10" shape="rect" />
      <area alt="" coords="93,440,166,462" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area11" shape="rect" />
      <area alt="" coords="173,441,274,463" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area12" shape="rect" />
      <area alt="" coords="278,440,355,462" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area13" shape="rect" /></map></p>
  <script language="JavaScript1.2" type="text/javascript">
    //<![CDATA[
    if (typeof (FilePopupInit) != 'function') FilePopupInit = new Function();
    FilePopupInit('area1');
    FilePopupInit('area2');
    FilePopupInit('area3');
    FilePopupInit('area4');
    FilePopupInit('area5');
    FilePopupInit('area6');
    FilePopupInit('area7');
    FilePopupInit('area8');
    FilePopupInit('area9');
    FilePopupInit('area10');
    FilePopupInit('area11');
    FilePopupInit('area12');
    FilePopupInit('area13');
    //]]>
  </script>
{% endblock %}
{% endlinebreakless %}
