
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Extra Codes (AGIEVISION)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">额外代码 (AGIEVISION)</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">如果激活此复选框，则使用</font><a href="Zusaetzliche_M_Codes_Kommentare_AGIEVISION.htm">
        <font class="hcp1">
          <font style="vertical-align: inherit;">附加 M 代码、注释</font>
        </font>
      </a>
      <font style="vertical-align: inherit;">等命令添加到加工图形的每个</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">附加事件</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">都将分配给 NC 数据中选定的切削和输出。</font>
    </font><a href="Zusaetzliche_M_Codes_Kommentare_AGIEVISION.htm">
      <font class="hcp1">
        <font style="vertical-align: inherit;"></font>
      </font>
    </a>
    <font style="vertical-align: inherit;"></font>
  </p>
  
{% endblock %}
{% endlinebreakless %}
