
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Mehrfachschnitt" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    li.hcp2 { font-size:8pt; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">多重切割</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;"></font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">“多重切割</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">”选项</font>
      <font style="vertical-align: inherit;">设置编辑图形时的切割次数。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">该选项通常不用于 AGIEVISION 机器，因为 NC 控制系统会根据</font>
    </font><a href="Qualitaet_Registerkarte_AGIEVISION.htm">
      <font class="hcp1">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">质量目标</font>
        </font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">自行计算切割次数。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">但是，有</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">两种例外情况</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">，您可以选择</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">多次剪切</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">选项并自行确定剪切次数：</font>
    </font>
  </p>
  <ol>
    <li class="hcp2">
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">用户知道切割次数和偏移大小，并希望在 PEPS 模拟中显示这两者。</font>
          <font style="vertical-align: inherit;">在这种情况下，</font>
        </font>
        <font class="hcp1">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">请激活</font>
          </font>
        </font>
        <font style="vertical-align: inherit;"></font>
        <font class="hcp1">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">“多重切割”</font>
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">选项，并在</font>
          <font class="hcp1">
            <font style="vertical-align: inherit;">“切割”</font>
          </font>
          <font style="vertical-align: inherit;">选项卡的</font>
        </font>
        <font class="hcp1">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">“切割编号”</font>
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">和</font>
        </font>
        <font class="hcp1">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">“偏移”</font>
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">区域中输入切割次数以及每次切割的偏移</font>
          <font style="vertical-align: inherit;">。</font>
          <font style="vertical-align: inherit;">在这种情况下，</font>
          <font class="hcp1">
            <font style="vertical-align: inherit;">必须</font>
          </font>
          <font style="font-weight: bold; font-style: italic;">
            <font style="vertical-align: inherit;">禁用</font>
          </font>
          <font class="hcp1">
            <font style="vertical-align: inherit;">“切割”</font>
          </font>
          <font style="vertical-align: inherit;">选项卡中的</font>
          <font class="hcp1">
            <font style="vertical-align: inherit;">“输出偏移”</font>
          </font>
          <font style="vertical-align: inherit;">
            选项</font>
          <font style="vertical-align: inherit;">，否则切割次数和偏移将在 NC 数据中输出。</font>
        </font>
        <font class="hcp1">
          <font style="vertical-align: inherit;"></font>
        </font>
        <font style="vertical-align: inherit;"></font><br />
        <font style="vertical-align: inherit;"></font>
        <font class="hcp1">
          <font style="vertical-align: inherit;"></font>
        </font>
        <font style="vertical-align: inherit;"></font>
        <font class="hcp1">
          <font style="vertical-align: inherit;"></font>
        </font>
        <font class="hcp1">
          <font style="vertical-align: inherit;"></font>
        </font>
        <font style="vertical-align: inherit;"></font>
        <font style="font-weight: bold; font-style: italic;">
          <font style="vertical-align: inherit;"></font>
        </font>
        <font style="vertical-align: inherit;"></font>
      </p>
    </li>
    <li class="hcp2">
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">用户希望确定每次切削的偏移大小以及切削次数，并将该数据输出到 NC 数据文件。</font>
          <font style="vertical-align: inherit;">在这种情况下，</font>
        </font>
        <font class="hcp1">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">请激活</font>
          </font>
        </font>
        <font style="vertical-align: inherit;"></font>
        <font class="hcp1">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">“多重切割”</font>
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">选项，并在</font>
          <font class="hcp1">
            <font style="vertical-align: inherit;">“切割”</font>
          </font>
          <font style="vertical-align: inherit;">选项卡的</font>
        </font>
        <font class="hcp1">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">“切割编号”</font>
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">和</font>
        </font>
        <font class="hcp1">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">“偏移”</font>
          </font>
        </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">区域中输入切割次数以及每次切割的偏移</font>
          <font style="vertical-align: inherit;">。</font>
          <font style="vertical-align: inherit;">在这种情况下，</font>
          <font class="hcp1">
            <font style="vertical-align: inherit;">必须</font>
          </font>
          <font class="hcp1">
            <font style="vertical-align: inherit;">激活</font>
          </font>
          <font class="hcp1">
            <font style="vertical-align: inherit;">“切削”</font>
          </font>
          <font style="vertical-align: inherit;">选项卡中的</font>
          <font class="hcp1">
            <font style="vertical-align: inherit;">“输出偏移”</font>
          </font>
          <font style="vertical-align: inherit;">
            选项</font>
          <font style="vertical-align: inherit;">，以便系统在 NC 数据中输出切削次数和偏移值。</font>
        </font>
        <font class="hcp1">
          <font style="vertical-align: inherit;"></font>
        </font>
        <font style="vertical-align: inherit;"></font><br />
        <font style="vertical-align: inherit;"></font>
        <font class="hcp1">
          <font style="vertical-align: inherit;"></font>
        </font>
        <font style="vertical-align: inherit;"></font>
        <font class="hcp1">
          <font style="vertical-align: inherit;"></font>
        </font>
        <font class="hcp1">
          <font style="vertical-align: inherit;"></font>
        </font>
        <font style="vertical-align: inherit;"></font>
        <font class="hcp1">
          <font style="vertical-align: inherit;"></font>
        </font>
        <font style="vertical-align: inherit;"></font>
      </p>
    </li>
  </ol>
{% endblock %}
{% endlinebreakless %}
