
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "NC-Dateiname" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">数控文件名</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">设置 NC 输出文件的名称。</font>
      <font style="vertical-align: inherit;">默认情况下，系统在此字段中显示当前程序的文件名。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">为每个切削加工图形创建一个单独的 NC 文件。</font>
      <font style="vertical-align: inherit;">文件的名称会自动递增（Test.iso、Test </font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">1</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;"> .iso、Test </font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">2</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;"> .iso、Test </font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">3</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;"> .iso...）。</font>
    </font>
  </p>
{% endblock %}
{% endlinebreakless %}
