
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Operation starten ... (AGIEVISION)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="Kastoum" style="border-top: 1.50pt solid #0000ff; border-bottom: 1.50pt solid #0000ff; border-left: 1.50pt solid #0000ff; border-right: 1.50pt solid #0000ff;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">开始运行... (AGIEVISION)</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">该对话框始终是第一个处理指令。</font>
      <font style="vertical-align: inherit;">NC 输出文件的名称和 NC 数据所需的其他参数在对话框中指定。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">如果</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">程序启动</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">对话框尚未填写，系统会自动打开此框，然后才会出现</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">启动操作</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">对话框。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;"></font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">每个新操作都会在操作列表</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">中生成另一个条目</font>
      <font style="vertical-align: inherit;">和一个新的 NC 输出文件。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">这允许您使用一个程序创建多个 NC 输出文件。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p style="color: #ff0000; font-style: italic;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">单击下图的各个区域可访问帮助文本。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p><img alt="OP_STAAV_shg.gif" border="0" height="345" src="../OP_STaAV_shg.jpg" usemap="#AreaMap0" width="auto" /> <map id="AreaMap0" name="AreaMap0">
      <area alt="" coords="15,105,363,176" href="javascript:BSSCPopup('Messpunkt_AGIEVISION.htm',400,300);" id="area1" shape="rect" />
      <area alt="" coords="16,51,366,106" href="javascript:BSSCPopup('NC_Dateiname_AGIEVISION.htm',400,300);" id="area2" shape="rect" />
      <area alt="" coords="14,176,368,228" href="javascript:BSSCPopup('../wirhlp10/Referenzposition_OP_Start.htm',400,300);" id="area3" shape="rect" />
      <area alt="" coords="20,237,181,262" href="javascript:BSSCPopup('Sekundaerebene_AGIEVISION.htm',400,300);" id="area4" shape="rect" />
      <area alt="" coords="21,265,181,295" href="javascript:BSSCPopup('Referenzhoehe_AGIEVISION.htm',400,300);" id="area5" shape="rect" />
      <area alt="" coords="10,312,85,334" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area6" shape="rect" />
      <area alt="" coords="90,313,173,335" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area7" shape="rect" />
      <area alt="" coords="179,312,281,335" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area8" shape="rect" />
      <area alt="" coords="287,314,370,334" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area9" shape="rect" />
      <area alt="" coords="67,32,118,50" href="../wirhlp10/Optionen_Register_Operation_starten.htm" shape="rect" />
      <area alt="" coords="202,31,275,52" href="Technologie_Register_Operation_starten_AGIEVISION.htm" shape="rect" /></map></p>
  <script language="JavaScript1.2" type="text/javascript">
    //<![CDATA[
    if (typeof (FilePopupInit) != 'function') FilePopupInit = new Function();
    FilePopupInit('area1');
    FilePopupInit('area2');
    FilePopupInit('area3');
    FilePopupInit('area4');
    FilePopupInit('area5');
    FilePopupInit('area6');
    FilePopupInit('area7');
    FilePopupInit('area8');
    FilePopupInit('area9');
    //]]>
  </script>
{% endblock %}
{% endlinebreakless %}
