
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Qualitätsziel (Bundbearbeitung)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">质量目标（捆绑加工）</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">根据选择的图标</font>
    </font><img alt="ebx_1121438868.jpg" border="0" height="88" src="../ebx_1121438868.jpg" width="auto" />
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">或</font>
      <font style="vertical-align: inherit;">品丝处理类型，系统会激活</font>
      <font class="hcp1">
        <font style="vertical-align: inherit;">两行</font>
      </font>
      <font style="vertical-align: inherit;">或</font>
      <font class="hcp1">
        <font style="vertical-align: inherit;">三行列表</font>
      </font>
    </font><img alt="ebx_-583318459.jpg" border="0" height="87" src="../ebx_-583318459.jpg" width="auto" />
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">框</font>
      <font style="vertical-align: inherit;">，用于为品丝和锥度选择单独的质量目标。</font>
    </font><img alt="ebx_-381418086.jpg" border="0" height="86" src="../ebx_-381418086.jpg" width="auto" />
    <font style="vertical-align: inherit;"></font>
    <font class="hcp1">
      <font style="vertical-align: inherit;"></font>
    </font>
    <font style="vertical-align: inherit;"></font>
    <font class="hcp1">
      <font style="vertical-align: inherit;"></font>
    </font>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">示例：选择了</font>
      </font>
    </font>
    <font style="vertical-align: inherit;"></font><img alt="ebx_-381418086.jpg" border="0" height="86" src="../ebx_-381418086.jpg" width="auto" />
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">中品丝</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">选项</font>
      <font style="vertical-align: inherit;">。</font>
    </font>
  </p>
  <p class="Block_Text">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">在这种情况下，系统会解锁三行列表框，用于选择上锥度、中品和下锥度的质量目标。</font>
    </font>
  </p>
  <p style="text-align: center;"><img alt="QUAL_AV.jpg" border="0" height="137" src="../QUAL_AV.jpg" width="auto" /></p>
  <p class="Block_Text">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">现在根据您的想法更改质量目标。</font>
    </font>
  </p>
{% endblock %}
{% endlinebreakless %}
