
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Qualitätszielname (Bundbearbeitung)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">质量目标名称（捆绑处理）</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">将质量目标参数</font>
    </font><a class="BSSCPopup" href="javascript:void(0);" id="a1" onclick="BSSCPopup('Qualitaetsziel_AGIEVISION.htm');return false;" onmouseover="if (parseInt(navigator.appVersion) &gt;= 4 &amp;&amp; typeof(BSPSPopupOnMouseOver) == 'function') BSPSPopupOnMouseOver(event);">
      <font style="font-weight: bold;">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Ra、Tkm 和 Te</font>
        </font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">指定为名称。</font>
    </font>
  </p>
  <script language="JavaScript1.2" type="text/javascript">
    //<![CDATA[
    if (typeof (FilePopupInit) != 'function') FilePopupInit = new Function();
    FilePopupInit('a1');
    //]]>
  </script>
{% endblock %}
{% endlinebreakless %}
