
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Qualität &sol; Parameter" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">质量/参数</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">该对话框中的设置主要决定</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">质量目标</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">根据“</font>
    </font><a href="Qualitaet_Registerkarte_AGIEVISION.htm">
      <font class="hcp1">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">质量”</font>
        </font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">选项卡中的质量目标信息，AGIEVISION 控件计算切割次数、必要的偏移值和发生器设置。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;"></font><a href="Schnittluft_Ecken_Registerkarte_AGIEVISION.htm">
      <font class="hcp1">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">在切割间隙/角</font>
        </font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">选项卡中，您可以输入有关</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">附加切割间隙/分离间隙</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">尺寸的信息</font>
      <font style="vertical-align: inherit;">，以及指定轮廓内</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">/外角处</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">的线的行为。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">XXX</font>
    </font><a href="Weitere_Parameter_Ereignisse_Registerkarte_AGIEVISION.htm">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">附加参数\事件</font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">选项卡允许 XXX</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p style="color: #ff0000; font-style: italic;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">单击下图的各个区域可访问帮助文本。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p><img alt="QUA_AV0_shg.jpg" border="0" height="23" src="../QUA_AV0_shg.jpg" usemap="#AreaMap0" width="auto" /> <map id="AreaMap0" name="AreaMap0">
      <area alt="" coords="1,0,52,21" href="Qualitaet_Registerkarte_AGIEVISION.htm" shape="rect" />
      <area alt="" coords="52,1,148,21" href="Schnittluft_Ecken_Registerkarte_AGIEVISION.htm" shape="rect" /></map>
  </p>
{% endblock %}
{% endlinebreakless %}
