
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Qualität Registerkarte" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">质量选项卡</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">根据“</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">质量”选项卡中的质量目标信息， </font>
      </font>
    </font>
    <font style="vertical-align: inherit;"></font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">AGIEVISION</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">控件计算</font>
      <font style="vertical-align: inherit;">切割次数、必要的偏移值和发生器设置。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p style="color: #ff0000; font-style: italic;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">单击下图的各个区域可访问帮助文本。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p><img alt="QUA_AV1_shg.jpg" border="0" height="392" src="../QUA_AV1_shg.jpg" usemap="#AreaMap0" width="auto" /> <map id="AreaMap0" name="AreaMap0">
      <area alt="" coords="80,337,191,357" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area1" shape="rect" />
      <area alt="" coords="197,338,309,357" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area2" shape="rect" />
      <area alt="" coords="81,362,192,384" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area3" shape="rect" />
      <area alt="" coords="196,363,310,386" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area4" shape="rect" />
      <area alt="" coords="61,31,158,50" href="Schnittluft_Ecken_Registerkarte_AGIEVISION.htm" shape="rect" />
      <area alt="" coords="14,51,372,122" href="javascript:BSSCPopup('Qualitaetsziel_AGIEVISION.htm',400,400);" id="area5" shape="rect" />
      <area alt="" coords="16,124,148,246" href="Technologiedatenbank_AGIEVISION.htm" shape="rect" />
      <area alt="" coords="154,144,375,172" href="javascript:BSSCPopup('Waehle_vorhandene_Qualitaet_AGIEVISION.htm',400,300);" id="area6" shape="rect" />
      <area alt="" coords="156,176,372,194" href="javascript:BSSCPopup('Erzeuge_neue_Qualitaet_AGIEVISION.htm',400,300);" id="area7" shape="rect" />
      <area alt="" coords="161,200,372,256" href="javascript:BSSCPopup('Qualitaetszielname_AGIEVISION.htm',400,300);" id="area8" shape="rect" />
      <area alt="" coords="160,31,311,51" href="Weitere_Parameter_Ereignisse_Registerkarte_AGIEVISION.htm" shape="rect" /></map></p>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;"></font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">如果在调用此对话框之前</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font class="hcp1">
        <font style="vertical-align: inherit;">激活</font>
      </font>
      <font style="vertical-align: inherit;">了</font>
    </font><a href="Bundbearbeitung_AGIEVISION.htm">
      <font class="hcp1">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Bund（编辑）</font>
        </font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">选项</font>
      <font style="vertical-align: inherit;">，则对话框的内容会发生变化。</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;"></font>
    </font>
    <font style="vertical-align: inherit;"></font>
  </p>
  <script language="JavaScript1.2" type="text/javascript">
    //<![CDATA[
    if (typeof (FilePopupInit) != 'function') FilePopupInit = new Function();
    FilePopupInit('area1');
    FilePopupInit('area2');
    FilePopupInit('area3');
    FilePopupInit('area4');
    FilePopupInit('area5');
    FilePopupInit('area6');
    FilePopupInit('area7');
    FilePopupInit('area8');
    //]]>
  </script>
{% endblock %}
{% endlinebreakless %}
