
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Regelflächenbearbeitung ... (AGIEVISION)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { text-align:justify; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="Kastoum" style="border-top: 1.50pt solid #0000ff; border-bottom: 1.50pt solid #0000ff; border-left: 1.50pt solid #0000ff; border-right: 1.50pt solid #0000ff;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">直纹面加工... (AGIEVISION)</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">当工件上、下层的几何形状不同且无法使用简单或变锥度的轮廓加工时，使用直纹面加工。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">绘制下层和上层的加工图，然后使用</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">直纹表面处理...</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">命令进行加工。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p style="color: #ff0000; font-style: italic;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">单击下图的各个区域可访问帮助文本。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p><img alt="REGLFLAV_shg.gif" border="0" height="513" src="../REGLFLAV_shg.gif" usemap="#AreaMap0" width="513" /> <map id="AreaMap0" name="AreaMap0">
      <area alt="" coords="19,168,126,186" href="javascript:BSSCPopup('../wirhlp10/Ebene_variabel.htm',400,300);" id="area1" shape="rect" />
      <area alt="" coords="312,32,394,52" href="../wirhlp10/NURB_Surface_Lasche.htm" shape="rect" />
      <area alt="" coords="265,132,496,150" href="../wirhlp10/Proportionale_Synchronisation.htm" shape="rect" />
      <area alt="" coords="270,154,427,172" href="javascript:BSSCPopup('../wirhlp10/Synchronisationslinien_in_dialog_Regelflaeche.htm',400,300);" id="area2" shape="rect" />
      <area alt="" coords="268,172,432,191" href="javascript:BSSCPopup('../wirhlp10/Zeige_alle_Figuren.htm',400,400);" id="area3" shape="rect" />
      <area alt="" coords="264,194,425,214" href="../wirhlp10/Alle_Figuren_bearbeiten_Regelflaeche.htm" id="area4" shape="rect" />
      <area alt="" coords="262,280,492,310" href="javascript:BSSCPopup('../wirhlp10/Praezision_der_Regelflaeche.htm',400,600);" id="area21" shape="rect" />
      <area alt="" coords="19,119,246,164" href="javascript:BSSCPopup('../wirhlp10/Untere_Ebene.htm');" id="area5" shape="rect" />
      <area alt="" coords="18,48,238,90" href="javascript:BSSCPopup('../wirhlp10/Obere_Ebene.htm',400,400);" id="area6" shape="rect" />
      <area alt="" coords="260,319,491,404" href="javascript:BSSCPopup('../wirhlp10/Ebenen_Berechnung.htm',400,600);" id="area7" shape="rect" />
      <area alt="" coords="132,389,238,412" href="Einstellungen_Einstellen_der_Schnittmethode_AGIEVISION.htm" shape="rect" />
      <area alt="" coords="19,91,233,112" href="javascript:BSSCPopup('../wirhlp10/Ebene_variabel.htm',400,600);" id="area8" shape="rect" />
      <area alt="" coords="133,453,254,476" href="javascript:BSSCPopup('../wirhlp10/Eingaben_speichern_Regelflaeche.htm',400,300);" id="area9" shape="rect" />
      <area alt="" coords="21,483,139,504" href="javascript:BSSCPopup('../wirhlp10/OK_Button_Regelflaeche_schneiden.htm',400,300);" id="area10" shape="rect" />
      <area alt="" coords="162,165,246,194" href="../wirhlp10/Hoehe_untere_Ebene.htm" shape="rect" />
      <area alt="" coords="19,201,246,242" href="../wirhlp10/Abstand_der_Ebenen.htm" shape="rect" />
      <area alt="" coords="186,261,209,284" href="javascript:BSSCPopup('../wirhlp10/Schnittschema_laden_speichern.htm');" id="area11" shape="rect" />
      <area alt="" coords="216,261,239,283" href="javascript:BSSCPopup('../wirhlp10/Schnittschema_speichern.htm');" id="area12" shape="rect" />
      <area alt="" coords="26,391,125,408" href="javascript:BSSCPopup('Mehrfachschnitt_AGIEVISION.htm',400,300);" id="area13" shape="rect" />
      <area alt="" coords="22,288,246,363" href="javascript:BSSCPopup('../Commdata/COMMON_Nicht_verwendete_Funktion.htm');" id="area14" shape="rect" />
      <area alt="" coords="133,419,236,440" href="Qualitaet_Parameter_AGIEVISION.htm" shape="rect" />
      <area alt="" coords="19,453,139,477" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area15" shape="rect" />
      <area alt="" coords="136,480,254,504" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area16" shape="rect" />
      <area alt="" coords="268,60,496,115" href="javascript:BSSCPopup('../Commdata/COMMON_Nicht_verwendete_Funktion.htm',400,300);" id="area17" shape="rect" />
      <area alt="" coords="265,216,386,233" href="javascript:BSSCPopup('../wirhlp10/Schraeg_einfaedeln_Regelflaeche.htm',400,300);" id="area18" shape="rect" />
      <area alt="" coords="268,239,432,266" href="javascript:BSSCPopup('../Commdata/COMMON_Nicht_verwendete_Funktion.htm',400,300);" id="area19" shape="rect" />
      <area alt="" coords="267,446,379,464" href="javascript:BSSCPopup('../wirhlp10/Operation_rendern.htm',400,600);" id="area20" shape="rect" />
      <area alt="" coords="258, 405, 488, 445" href="javascript:BSSCPopup('../wirhlp10/Rendern_Farbe_Material_Listbox.htm',400,300);" id="area22" shape="rect" /></map></p>
  <p>&nbsp;</p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">然而，在许多情况下，必须先将</font>
    </font><a href="../wirhlp9/Synchronisationslinien.htm">
      <font class="hcp1">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">同步线</font>
        </font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">插入直纹曲面几何图形中，然后才能对其进行编辑。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">即使在最简单的情况下，也常常有几种可能的解决方案，因此只能通过绘制同步线来创建清晰的受控面。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">下图应该可以清楚地说明这一点。</font>
      <font style="vertical-align: inherit;">根据同步线的位置，会产生圆锥形或圆柱形 ISO 半径。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p><img alt="KUR1.gif" border="0" height="310" src="../KUR1.gif" width="576" /></p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">对于对称零件，通常可以省去同步线（参见下图）。</font>
    </font>
  </p>
  <p><img alt="CONSTR1.gif" border="0" height="353" src="../CONSTR1.gif" width="457" /></p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">上图显示了一个由40个几何元素组成的椭圆，通过直纹曲面处理将其与由16个元素组成的内部图形连接起来。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">创建直纹面时没有同步线。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">如果加工不带同步线的直纹面的结果不令人满意，也可以稍后</font>
      <font style="vertical-align: inherit;">插入</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">同步线。</font>
      </font>
    </font>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">同步线是使用</font>
      <font class="hcp1">
        <font style="vertical-align: inherit;">“准备”</font>
      </font>
      <font style="vertical-align: inherit;">菜单中的</font>
    </font><a href="../wirhlp9/Synchronisationslinien.htm">
      <font class="hcp1">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">“同步线”</font>
        </font>
      </font>
    </a>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">命令创建的。</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;"></font>
    </font>
    <font style="vertical-align: inherit;"></font>
  </p>
  <p>&nbsp;</p>
  <p class="hcp2">
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">也可以看看：</font>
      </font>
    </font>
  </p>
  <p class="hcp2"><a href="../wirhlp10/Regelflaechen_in_mehreren_Schnittebenen_schneiden.htm">
      <font class="hcp1">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">在多个切割平面中切割直纹曲面</font>
        </font>
      </font>
    </a></p>
  <script language="JavaScript1.2" type="text/javascript">
    //<![CDATA[
    if (typeof (FilePopupInit) != 'function') FilePopupInit = new Function();
    FilePopupInit('area1');
    FilePopupInit('area2');
    FilePopupInit('area3');
    FilePopupInit('area21');
    FilePopupInit('area5');
    FilePopupInit('area6');
    FilePopupInit('area7');
    FilePopupInit('area8');
    FilePopupInit('area9');
    FilePopupInit('area10');
    FilePopupInit('area11');
    FilePopupInit('area12');
    FilePopupInit('area13');
    FilePopupInit('area14');
    FilePopupInit('area15');
    FilePopupInit('area16');
    FilePopupInit('area17');
    FilePopupInit('area18');
    FilePopupInit('area19');
    FilePopupInit('area20');
    FilePopupInit('area22');
    //]]>
  </script>
{% endblock %}
{% endlinebreakless %}
