
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Regelflächenbearbeitung ... (AGIEVISION)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
    p.hcp2 { text-align:justify; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="Kastoum" style="border-top: 1.50pt solid #0000ff; border-bottom: 1.50pt solid #0000ff; border-left: 1.50pt solid #0000ff; border-right: 1.50pt solid #0000ff;">{% trans "Regelflächenbearbeitung ... (AGIEVISION)" %}</p><p>{% trans "Die Regelflächenbearbeitung wird dann verwendet, wenn die Geometrie der oberen und die Geometrie der unteren Ebene eines Werkstückes unterschiedlich sind und eine Konturbearbeitung mit einfacher oder variabler Konik nicht angewendet werden kann." %}</p><p>{% trans "Es wird für die untere Ebene und die obere Ebene jeweils eine Bearbeitungsfigur gezeichnet und diese anschließend mit dem Befehl [Regelflächenbearbeitung ...] bearbeitet." %}</p>
<p> </p>
<p style="color: #ff0000; font-style: italic;">{% trans "Klicken Sie auf die einzelnen Bereiche des folgenden Bildes, um Hilfetexte aufzurufen." %}</p>
<p> </p>
<p><img src="../REGLFLAV_shg.gif" usemap="#AreaMap0" alt="REGLFLAV_shg.gif" width="513" height="513" border="0"/> <map name="AreaMap0" id="AreaMap0">
<area shape="rect" coords="19,168,126,186" href="javascript:BSSCPopup('../wirhlp10/Ebene_variabel.htm',400,300);" id="area1" alt=""/>
<area shape="rect" coords="312,32,394,52" href="../wirhlp10/NURB_Surface_Lasche.htm" alt=""/>
<area shape="rect" coords="265,132,496,150" href="../wirhlp10/Proportionale_Synchronisation.htm" alt=""/>
<area shape="rect" coords="270,154,427,172" href="javascript:BSSCPopup('../wirhlp10/Synchronisationslinien_in_dialog_Regelflaeche.htm',400,300);" id="area2" alt=""/>
<area shape="rect" coords="268,172,432,191" href="javascript:BSSCPopup('../wirhlp10/Zeige_alle_Figuren.htm',400,400);" id="area3" alt=""/>
<area shape="rect" coords="264,194,425,214" href="../wirhlp10/Alle_Figuren_bearbeiten_Regelflaeche.htm" id="area4" alt=""/>
<area shape="rect" coords="262,280,492,310" href="javascript:BSSCPopup('../wirhlp10/Praezision_der_Regelflaeche.htm',400,600);" alt="" id="area21"/>
<area shape="rect" coords="19,119,246,164" href="javascript:BSSCPopup('../wirhlp10/Untere_Ebene.htm');" id="area5" alt=""/>
<area shape="rect" coords="18,48,238,90" href="javascript:BSSCPopup('../wirhlp10/Obere_Ebene.htm',400,400);" id="area6" alt=""/>
<area shape="rect" coords="260,319,491,404" href="javascript:BSSCPopup('../wirhlp10/Ebenen_Berechnung.htm',400,600);" id="area7" alt=""/>
<area shape="rect" coords="132,389,238,412" href="Einstellungen_Einstellen_der_Schnittmethode_AGIEVISION.htm" alt=""/>
<area shape="rect" coords="19,91,233,112" href="javascript:BSSCPopup('../wirhlp10/Ebene_variabel.htm',400,600);" id="area8" alt=""/>
<area shape="rect" coords="133,453,254,476" href="javascript:BSSCPopup('../wirhlp10/Eingaben_speichern_Regelflaeche.htm',400,300);" id="area9" alt=""/>
<area shape="rect" coords="21,483,139,504" href="javascript:BSSCPopup('../wirhlp10/OK_Button_Regelflaeche_schneiden.htm',400,300);" id="area10" alt=""/>
<area shape="rect" coords="162,165,246,194" href="../wirhlp10/Hoehe_untere_Ebene.htm" alt=""/>
<area shape="rect" coords="19,201,246,242" href="../wirhlp10/Abstand_der_Ebenen.htm" alt=""/>
<area shape="rect" coords="186,261,209,284" href="javascript:BSSCPopup('../wirhlp10/Schnittschema_laden_speichern.htm');" id="area11" alt=""/>
<area shape="rect" coords="216,261,239,283" href="javascript:BSSCPopup('../wirhlp10/Schnittschema_speichern.htm');" id="area12" alt=""/>
<area shape="rect" coords="26,391,125,408" href="javascript:BSSCPopup('Mehrfachschnitt_AGIEVISION.htm',400,300);" id="area13" alt=""/>
<area shape="rect" coords="22,288,246,363" href="javascript:BSSCPopup('../Commdata/COMMON_Nicht_verwendete_Funktion.htm');" id="area14" alt=""/>
<area shape="rect" coords="133,419,236,440" href="Qualitaet_Parameter_AGIEVISION.htm" alt=""/>
<area shape="rect" coords="19,453,139,477" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area15" alt=""/>
<area shape="rect" coords="136,480,254,504" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area16" alt=""/>
<area shape="rect" coords="268,60,496,115" href="javascript:BSSCPopup('../Commdata/COMMON_Nicht_verwendete_Funktion.htm',400,300);" id="area17" alt=""/>
<area shape="rect" coords="265,216,386,233" href="javascript:BSSCPopup('../wirhlp10/Schraeg_einfaedeln_Regelflaeche.htm',400,300);" id="area18" alt=""/>
<area shape="rect" coords="268,239,432,266" href="javascript:BSSCPopup('../Commdata/COMMON_Nicht_verwendete_Funktion.htm',400,300);" id="area19" alt=""/>
<area shape="rect" coords="267,446,379,464" href="javascript:BSSCPopup('../wirhlp10/Operation_rendern.htm',400,600);" id="area20" alt=""/>
<area shape="rect" coords="258, 405, 488, 445" href="javascript:BSSCPopup('../wirhlp10/Rendern_Farbe_Material_Listbox.htm',400,300);" id="area22" alt=""/></map></p>
<p> </p>
<p>{% trans "In vielen Fällen ist es jedoch erforderlich, #[Synchronisationslinien]# in die Regelflächengeometrie einzufügen bevor diese bearbeitet werden kann." %}</p>
<p>{% trans "Auch in den einfachsten Fällen gibt es oft mehrere mögliche Lösungen, so dass nur durch das Zeichnen von Synchronisationslinien eine eindeutige Regelfläche entsteht." %}</p>
<p>{% trans "Die folgende Zeichnung soll dies verdeutlichen. Je nach Lage der Synchronisationslinien ergeben sich konische oder zylindrische ISO Radien." %}</p>
<p> </p>
<p><img src="../KUR1.gif" alt="KUR1.gif" width="576" height="310" border="0"/></p>
<p>{% trans "Bei symmetrischen Teilen kann häufig auf Synchronisationslinien verzichtet werden (Siehe folgende Zeichnung)." %}</p>
<p><img src="../CONSTR1.gif" alt="CONSTR1.gif" width="457" height="353" border="0"/></p>
<p>{% trans "Die vorige Zeichnung zeigt eine Ellipse aus 40 Geometrieelementen, die durch eine Regelflächenbearbeitung mit der inneren Figur bestehend aus 16 Elementen verbunden wurde." %}</p>
<p>{% trans "Die Regelfläche wurde OHNE Synchronisationslinien erzeugt." %}</p>
<p>{% trans "Wenn das Ergebnis einer Regelflächenbearbeitung OHNE Synchronisationslinien nicht befriedigend ist, so können Sie [Synchronisationslinien auch nachträglich] einfügen." %}</p>
<p>{% trans "Synchronisationslinien erzeugt man mit dem Befehl #[Synchronisationslinien]# im Menü [Vorbereitung]." %}</p>
<p> </p>
<p class="hcp2">{% trans "[Siehe auch:]" %}</p>
<p class="hcp2">{% trans "#[Regelflächen in mehreren Schnittebenen schneiden]#" %}</p>
<script type="text/javascript" language="JavaScript1.2">
//&lt;![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('area1');
        FilePopupInit('area2');
        FilePopupInit('area3');
        FilePopupInit('area21');
        FilePopupInit('area5');
        FilePopupInit('area6');
        FilePopupInit('area7');
        FilePopupInit('area8');
        FilePopupInit('area9');
        FilePopupInit('area10');
        FilePopupInit('area11');
        FilePopupInit('area12');
        FilePopupInit('area13');
        FilePopupInit('area14');
        FilePopupInit('area15');
        FilePopupInit('area16');
        FilePopupInit('area17');
        FilePopupInit('area18');
        FilePopupInit('area19');
        FilePopupInit('area20');
        FilePopupInit('area22');
//]]&gt;
</script>

{% endblock %}
{% endlinebreakless %}
