
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Standard Konturbearbeitung ... (AGIEVISION)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
        <style type="text/css">
        span {
                font-weight: bold;
            }
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="Kastoum" style="border-top: 1.50pt solid #0000ff; border-bottom: 1.50pt solid #0000ff; border-left: 1.50pt solid #0000ff; border-right: 1.50pt solid #0000ff;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">标准轮廓加工... (AGIEVISION)</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;"></font>
    <font style="font-weight: bold;">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">AGIEVISION 机器的标准轮廓处理</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">对话框的</font>
      <font style="vertical-align: inherit;">某些区域已更改。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">下面显示的对话框中的帮助条目提供了有关更改的信息。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p style="color: #ff0000; font-style: italic;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">单击下图的各个区域可访问帮助文本。</font>
    </font>
  </p>
  <p>&nbsp;</p>
  <p><img alt="STD_KOAV_shg.gif" border="0" height="408" src="../STD_KOAV_shg.gif" usemap="#AreaMap0" width="543" /> <map id="AreaMap0" name="AreaMap0">
      <area alt="" coords="13,34,238,131" href="javascript:BSSCPopup('../wirhlp10/Figurnamen_Std_Konturbea.htm',400,600);" id="area1" shape="rect" />
      <area alt="" coords="94,137,160,159" href="javascript:BSSCPopup('../wirhlp10/Aendern_Figurname_Figurauswahl_STD_Konturbea.htm',400,500);" id="area2" shape="rect" />
      <area alt="" coords="165,134,229,157" href="javascript:BSSCPopup('../wirhlp10/Neu_ordnen_Figurname_Figurauswahl_STD_Konturbea.htm');" id="area3" shape="rect" />
      <area alt="" coords="15,309,121,332" href="javascript:BSSCPopup('Mehrfachschnitt_AGIEVISION.htm',400,600);" id="area4" shape="rect" />
      <area alt="" coords="17,334,119,361" href="javascript:BSSCPopup('Bundbearbeitung_AGIEVISION.htm',400,600);" id="area10" shape="rect" />
      <area alt="" coords="126,313,230,332" href="Einstellungen_Einstellen_der_Schnittmethode_AGIEVISION.htm" shape="rect" />
      <area alt="" coords="125,336,230,363" href="Qualitaet_Parameter_AGIEVISION.htm" shape="rect" />
      <area alt="" coords="14,378,140,402" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area5" shape="rect" />
      <area alt="" coords="144,378,272,401" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area6" shape="rect" />
      <area alt="" coords="274,379,402,401" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area7" shape="rect" />
      <area alt="" coords="408,378,532,402" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area8" shape="rect" />
      <area alt="" coords="390,33,448,55" href="../wirhlp10/Optionen_Lasche_Standard_Konturbearbeitung.htm" shape="rect" />
      <area alt="" coords="262,216,524,333" href="../wirhlp10/Eckenmodus.htm" shape="rect" />
      <area alt="" coords="15,165,232,214" href="../wirhlp10/Schnittschemen.htm" shape="rect" />
      <area alt="" coords="258,75,432,164" href="../wirhlp10/Standard_Konik.htm" shape="rect" />
      <area alt="" coords="370,165,526,217" href="../wirhlp10/Standard_Konik.htm" shape="rect" />
      <area alt="" coords="435,79,515,163" href="../wirhlp10/Schraegschieber_Ikone_Konik_Register_Std_Konturbearb.htm" shape="rect" />
      <area alt="" coords="19,134,88,159" href="javascript:BSSCPopup('../wirhlp10/Figurnamen_Std_Konturbea.htm',400,600);" id="area9" shape="rect" />
      <area alt="" coords="293,33,388,52" href="../wirhlp10/Taschenerodieren_1.htm" shape="rect" /></map></p>
  <script language="JavaScript1.2" type="text/javascript">
    //<![CDATA[
    if (typeof (FilePopupInit) != 'function') FilePopupInit = new Function();
    FilePopupInit('area1');
    FilePopupInit('area2');
    FilePopupInit('area3');
    FilePopupInit('area4');
    FilePopupInit('area10');
    FilePopupInit('area5');
    FilePopupInit('area6');
    FilePopupInit('area7');
    FilePopupInit('area8');
    FilePopupInit('area9');
    //]]>
  </script>
{% endblock %}
{% endlinebreakless %}
