
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Technologie zuweisen (AGIEVISION)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "@ Technologie zuweisen (AGIEVISION)" %}</p><p style="text-align: center;"><img src="../MEHRFAAV.gif" alt="MEHRFAAV.gif" width="16" height="16" border="0"/></p><p>{% trans "Die Schaltflächen @ sind nur freigeschaltet, wenn man vorher die Option #[Offset ausgeben]# aktiviert hat." %}</p>
<p>{% trans "Der Schaltfläche @ ruft einen Dialog auf, in der Sie jedem Schnitt eine Technologiedatei zuweisen können." %}</p>
<p> </p>
<p style="color: #ff0000; font-style: italic;">{% trans "Klicken Sie auf die einzelnen Bereiche des folgenden Bildes, um Hilfetexte aufzurufen." %}</p>
<p> </p>
<p><img src="../TECH_AV_shg.gif" usemap="#AreaMap0" alt="TECH_AV_shg.gif" width="240" height="222" border="0"/> <map name="AreaMap0" id="AreaMap0">
<area shape="rect" coords="16,148,121,171" href="javascript:BSSCPopup('../Commdata/COMMON_Hilfe.htm',400,300);" id="area1" alt=""/>
<area shape="rect" coords="132,150,218,172" href="javascript:BSSCPopup('../Commdata/CAMMON_OK.htm',400,300);" id="area2" alt=""/>
<area shape="rect" coords="16,183,122,204" href="javascript:BSSCPopup('../Commdata/COMMON_Eingaben_speichern.htm',400,300);" id="area3" alt=""/>
<area shape="rect" coords="132,183,219,208" href="javascript:BSSCPopup('../Commdata/COMMON_Abbruch.htm',400,300);" id="area4" alt=""/>
<area shape="rect" coords="97,41,222,101" href="javascript:BSSCPopup('Qualitaetszielname_AGIEVISION.htm',400,300);" id="area5" alt=""/></map></p>
<p>{% trans "Die Checkboxen [Schnitt Nr. 1, 2, 3, ...] werden für AGIEVISION Maschinen [normalerweise nicht verwendet], da die NC-Steuerung aufgrund der #[Qualitätszielangabe]# die Anzahl der Schnitte selbst berechnet." %}</p>
<p>{% trans "Es gibt jedoch [eine Ausnahme] bei der man die Anzahl der Schnitte selbst festlegen möchte:" %}</p>
<p>{% trans "Ein Anwender möchte die Anzahl der Schnitte, die Größe des Offsets pro Schnitt und die verwendete Technologie selbst festlegen und diese Daten in die NC-Datendatei ausgeben." %}</p>
<p>{% trans "In diesem Fall [aktiviert] man die Option [Mehrfachschnitt] und trägt die Anzahl der Schnitte, die Offsetgröße und die Namen der verwendeten Technologiedateien für jeden Schnitt in den Bereichen [Schnitt Nr. 1, 2, 3 ...], [Offset] und @ der Dialogbox ein. Die Option [Offset ausgeben] im Register [Schnitte] [muß] in diesem Fall [AKTIVIERT] sein, damit das System die Anzahl der Schnitte und die Offsetwerte auch in die NC-Daten ausgibt." %}</p>
<p>{% trans "Beachten Sie unbedingt, daß man [jedem einzelnen Schnitt] eine [separate Benutzertechnologie] zuweisen muss und diese Technologien auch in der Benutzertechnologiedatenbank der NC-Steuerung vorhanden sein müssen. In den verwendeten Benutzertechnologien [müssen alle Offsetwerte auf 0] gesetzt sein." %}</p>
<script type="text/javascript" language="JavaScript1.2">
//&lt;![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('a1');
        FilePopupInit('area1');
        FilePopupInit('area2');
        FilePopupInit('area3');
        FilePopupInit('area4');
        FilePopupInit('area5');
//]]&gt;
</script>

{% endblock %}
{% endlinebreakless %}
