
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Wählen Sie Early&sol;Late an der AGIEvision (Stop in SBL)" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
<p class="dialog">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">在 AGIEvision 上选择早/晚（在 SBL 中停止）</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">XXX 使用此方法，您可以确定 AGIEVISION 控制器使用</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">早期</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">或</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">晚期</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">策略删除连接，具体取决于控制器上所选的设置。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">1.)</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">早期</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">：操作员尽快干预。</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">切割顺序</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">=主切割、分离切割、二次切割。</font>
      <font style="vertical-align: inherit;">根据NC 控制上</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">早期</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">策略的选择，该切削顺序可以基于单个轮廓或整个工件。</font>
    </font>
  </p>
  <p>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">2.)</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">迟到</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">：操作员最近可能进行的干预。</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">切割顺序</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">=主切割、副切割、分切。</font>
      <font style="vertical-align: inherit;">根据NC 控制上</font>
    </font>
    <font class="hcp1">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">后期</font>
      </font>
    </font>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">策略的选择，该切削顺序可以基于单个轮廓或整个工件。</font>
    </font>
  </p>
{% endblock %}
{% endlinebreakless %}
