
{% extends "base.html" %}
{% load i18n %}
{% load linebreakless %}{% linebreakless %}
<!--Head Title -->
{% block headtitle %}
    <TITLE>{% trans "Wähle vorhandene Qualität" %}</TITLE>
{% endblock %}
<!--/ Head Title -->
<!-- Head CSS-->
{% block headcss %}
    <LINK rel="StyleSheet" href="../Agievhlp.css"/>
    <style title="hcp" type="text/css">
    <!--
    font.hcp1 { font-weight:bold; }
        
        span {
                font-weight: bold;
            }
        
        .pitalic { 
            margin-top:0; 
            margin-bottom:0; 
            font-style: italic;
            color:#FF0000;
        }
    -->
    </style>
{% endblock %}
<!--/ Head CSS -->
<!-- Head JavaScript -->
{% block headjs %}
    <SCRIPT LANGUAGE="JavaScript" TITLE="BSSC Special Effects" SRC="../ehlpdhtm.js"></SCRIPT>
{% endblock %}
<!--/ Head JavaScript -->
{% block mainbody %}
    <p class="dialog">{% trans "Wähle vorhandene Qualität" %}</p><p>{% trans "Ist diese Option aktiv, kann man eine in der Auswahlbox Qualitätsziel der AGIE-Steuerung [bereits namentlich vorhandene] Qualität aufrufen." %}</p><p>{% trans "Der Name der Qualität wird im Feld #[Qualitätszielname]# eingegeben. Bei dem Qualitätszielnamen ist auf korrekte Groß- und Kleinschreibung zu achten." %}</p>
<script type="text/javascript" language="JavaScript1.2">
//&lt;![CDATA[
        if( typeof( FilePopupInit ) != 'function' ) FilePopupInit = new Function();
        FilePopupInit('a1');
//]]&gt;
</script>

{% endblock %}
{% endlinebreakless %}
