P {
   margin-left:5.75pt;
   margin-right:6.50pt;
   margin-top:4.00pt;
   margin-bottom:0.00pt;
   text-align:left;
   font-family:Arial;
   font-size:9pt;
}
H1 {
    margin-left:5.75pt;
    margin-right:6.50pt;
    margin-top:6.00pt;
    margin-bottom:2.00pt;
    text-align:left;
    font-family:Arial;
    font-size:12pt;
    font-weight:bold;
}
H2 {
    margin-left:5.75pt;
    margin-right:6.50pt;
    margin-top:6.00pt;
    margin-bottom:2.00pt;
    text-align:left;
    font-family:Arial;
    font-size:9pt;
    font-weight:bold;
}
H3 {
    margin-left:5.75pt;
    margin-right:6.50pt;
    margin-top:6.00pt;
    margin-bottom:2.00pt;
    text-align:left;
    font-family:Arial;
    font-size:9pt;
    font-weight:bold;
}
H4 {
    margin-left:18.00pt;
    margin-right:6.50pt;
    margin-top:4.00pt;
    margin-bottom:0.00pt;
    text-align:left;
    font-family:Arial;
    font-size:12pt;
}
H5 {
    margin-left:5.75pt;
    margin-right:6.50pt;
    margin-top:12.00pt;
    margin-bottom:3.00pt;
    text-align:left;
    font-family:Arial;
    font-size:11pt;
}
H6 {
    margin-left:5.75pt;
    margin-right:6.50pt;
    margin-top:12.00pt;
    margin-bottom:3.00pt;
    text-align:left;
    font-family:Arial;
    font-size:11pt;
    font-style:italic;
}
H6.Heading7 {
             margin-left:5.75pt;
             margin-right:6.50pt;
             margin-top:12.00pt;
             margin-bottom:3.00pt;
             text-align:left;
             font-family:Arial;
             font-size:9pt;
}
H6.Heading8 {
             margin-left:5.75pt;
             margin-right:6.50pt;
             margin-top:12.00pt;
             margin-bottom:3.00pt;
             text-align:left;
             font-family:Arial;
             font-size:9pt;
             font-style:italic;
}
H6.Heading9 {
             margin-left:5.75pt;
             margin-right:6.50pt;
             margin-top:12.00pt;
             margin-bottom:3.00pt;
             text-align:left;
             font-family:Arial;
             font-size:9pt;
             font-style:italic;
}
P.footnote_text {
                 margin-left:5.75pt;
                 margin-right:6.50pt;
                 margin-top:4.00pt;
                 margin-bottom:0.00pt;
                 text-align:left;
                 font-family:Arial;
                 font-size:10pt;
}
P.Topic_Text_Indent {
                     margin-left:15.10pt;
                     margin-right:6.50pt;
                     margin-top:4.00pt;
                     margin-bottom:0.00pt;
                     text-align:left;
                     font-family:Arial;
                     font-size:9pt;
}
P.Normal_Indent {
                 margin-left:36.00pt;
                 margin-right:6.50pt;
                 margin-top:4.00pt;
                 margin-bottom:0.00pt;
                 text-align:left;
                 font-family:Arial;
                 font-size:9pt;
}
P.Tip_Note_Heading {
                    margin-left:5.75pt;
                    margin-right:6.50pt;
                    margin-top:6.00pt;
                    margin-bottom:0.00pt;
                    text-align:left;
                    font-family:Arial;
                    font-size:9pt;
                    font-weight:bold;
}
P.Tip_Note_Text {
                 margin-left:15.10pt;
                 margin-right:6.50pt;
                 margin-top:4.00pt;
                 margin-bottom:0.00pt;
                 text-align:left;
                 font-family:Arial;
                 font-size:9pt;
}
P.Tip_Note_Text_Bulleted {
                          margin-left:15.10pt;
                          margin-right:6.50pt;
                          margin-top:4.00pt;
                          margin-bottom:0.00pt;
                          text-indent:-9.35pt;
                          text-align:left;
                          font-family:Arial;
                          font-size:9pt;
}
P.Topic_Text_Bulleted {
                       margin-left:15.10pt;
                       margin-right:6.50pt;
                       margin-top:4.00pt;
                       margin-bottom:0.00pt;
                       text-indent:-9.35pt;
                       text-align:left;
                       font-family:Arial;
                       font-size:9pt;
}
P.Topic_Text_Numbered {
                       margin-left:15.10pt;
                       margin-right:6.50pt;
                       margin-top:4.00pt;
                       margin-bottom:0.00pt;
                       text-indent:-9.35pt;
                       text-align:left;
                       font-family:Arial;
                       font-size:9pt;
}
P.Topic_Text_Onestep {
                      margin-left:15.10pt;
                      margin-right:6.50pt;
                      margin-top:4.00pt;
                      margin-bottom:0.00pt;
                      text-indent:-9.35pt;
                      text-align:left;
                      font-family:Arial;
                      font-size:9pt;
}
P.Punkttaps {
             margin-left:5.75pt;
             margin-right:6.50pt;
             margin-top:6.00pt;
             margin-bottom:6.00pt;
             text-align:left;
             font-family:Arial;
             font-size:9pt;
             color:black;
}
P.Kasten {
          margin-left:5.65pt;
          margin-right:113.40pt;
          margin-top:6.00pt;
          margin-bottom:6.00pt;
          text-align:left;
          font-family:Arial;
          font-size:10pt;
          font-weight:bold;
}
P.Beispiel {
            margin-left:5.65pt;
            margin-top:4.00pt;
            margin-bottom:0.00pt;
            text-align:left;
            font-family:Arial;
            font-size:8pt;
            color:red;
            font-weight:bold;
}
P.annotation_text {
                   margin-left:5.75pt;
                   margin-right:6.50pt;
                   margin-top:4.00pt;
                   margin-bottom:0.00pt;
                   text-align:left;
                   font-family:Arial;
                   font-size:10pt;
}
P.dialog {
          margin-left:5.65pt;
          margin-top:6.00pt;
          margin-bottom:6.00pt;
          text-align:justify;
          font-family:Arial;
          font-size:10pt;
          font-weight:bold;
}
P.Hinweis {
           margin-left:5.65pt;
           margin-right:6.50pt;
           margin-top:4.00pt;
           margin-bottom:0.00pt;
           text-align:left;
           font-family:Arial;
           font-size:9pt;
           color:blue;
           font-weight:bold;
}
P.Kastoum {
           margin-left:5.65pt;
           margin-right:113.40pt;
           margin-top:6.00pt;
           margin-bottom:6.00pt;
           text-align:left;
           font-family:Arial;
           font-size:10pt;
           font-weight:bold;
}
P.Prompts {
           margin-left:5.65pt;
           margin-top:4.00pt;
           margin-bottom:0.00pt;
           text-align:left;
           font-family:Arial;
           font-size:8pt;
           font-style:italic;
           text-decoration:underline;
}
BODY {
      font-family:Arial;
      font-size:9pt;
      background-color:white;
}
